[2016-08-29 09:45] stefdoerr commented on #112
Broken PDB format on atom 12633:

[code]

Can't support broken files :/ Catch the exception and skip it

[2016-08-29 09:46] hawk31 commented on #112
Ok, then it's not a parser issue. Closing.

[2016-08-29 09:46] #112 closed

[2016-08-29 11:31] stefdoerr commented on #29
https://github.com/multiscalelab/htmd/commit/2d96dc78f6d0197f476d62b61349ce898abe9977
Done. Any metric type can be used in `AdaptiveRun2` now.

Bowman's FAST not yet implemented. Will come as a separate class I think

[2016-08-29 11:39] stefdoerr commented on #111
Done
https://github.com/multiscalelab/htmd/commit/2d96dc78f6d0197f476d62b61349ce898abe9977

[2016-08-29 11:39] #111 closed

[2016-08-29 11:44] stefdoerr commented on #99
Fixed

[2016-08-29 11:44] #99 closed

[2016-08-29 11:53] stefdoerr commented on #93
@noeliaferruz Actually are you sure it's copying trajectories? According to the code it should not. We explicitly tell it to ignore `dcd` and `xtc` files.
[code]

@piia600 what do you mean with "make the simulation files"? Copying the input files *is* "making the simulation files". How is it related to the free ACEMD? For the free ACEMD you can just set `AcemdLocal(ngpus=1)`.

@mj-harvey what happ

[2016-08-29 11:56] stefdoerr commented on #91
I think we can safely close this.

[2016-08-29 11:56] #91 closed

[2016-08-29 12:03] stefdoerr commented on #3
So we can close this then. All issues are fixed for this as far as I can see (atom naming, backbone selections)

[2016-08-29 12:03] #3 closed

[2016-08-29 12:04] j3mdamas commented on #3
yes, only issue 97 left.

[2016-08-29 12:09] stefdoerr commented on #10
Deprecated

[2016-08-29 12:09] #10 closed

[2016-08-29 12:22] stefdoerr commented on #95
Done: https://github.com/multiscalelab/htmd/commit/eef7202eb9ac23ae1265c3246db61d6cff79ebe3

[2016-08-29 12:22] #95 closed

[2016-08-29 12:33] stefdoerr commented on #51
https://github.com/multiscalelab/htmd/commit/1e722bb88ebf9c12ce519c8f574ca05d612edb08
Done

[2016-08-29 12:33] #51 closed

[2016-08-29 16:07] stefdoerr commented on #58
Finished!
https://github.com/multiscalelab/htmd/commit/5b1acb97b349bf01a63d9e7fddaa5fc8625dc97f
(and many subsequent commits)

[2016-08-29 16:07] #58 closed

[2016-08-30 07:55] stefdoerr commented on #70
This was implemented a few months ago

[2016-08-30 07:55] #70 closed

[2016-08-30 12:53] j3mdamas commented on #97
autopsf of vmd generates the correct output without the regenerate clause. I went to see the tcl script corresponding to the graphical interface, but I have no idea how is it able to do that without that clause. I ran the `build.vmd` on vmd instead of psfgen and it still gives the same wrong output, so it's not that...

I am running out of clues and people from the lab have used the regenerate cla

[2016-08-30 15:45] noeliaferruz commented on #93
Hi,

I just tried and it happened again. I guess the reason is that the restart files are there so the simulation seems completed:
[code]
And the adaptive script:
[code]
The simulation started from the last step and automatically stopped. It didn't write out an xtc either.

Thanks
Noelia

[2016-08-30 16:01] stefdoerr commented on #93
Okay I see. xtc/dcd was not copied. We cannot do anything about this unfortunately because it depends on file naming. Other people might call `restart` differently. Just take care in the future to clean your generator folders well.

[2016-08-30 16:10] giadefa commented on #93
yes,
it's what it is supposed to do, as I cannot not know if you do want to
start from a file called restart.coor.

You MUST guarantee that the directory is containing a runnable simulation.

On 30 August 2016 at 17:45, Noelia Ferruz <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedi

[2016-08-30 16:12] noeliaferruz commented on #93
Good, thanks!

[2016-08-31 08:09] #93 closed

[2016-08-31 08:10] stefdoerr opened #114 "AcemdLocal should check ACEMD licence"
To prevent from running 4 simulations at once on a single GPU if the license is the free one.
Waiting for Matt to add a license reporting flag to ACEMD executable.

[2016-08-31 08:43] tonigi opened #115 "mol.read() does not read DCD"
[code]

[2016-08-31 09:24] stefdoerr commented on #115
Fixed
https://github.com/multiscalelab/htmd/commit/c5cad2a869c47e84d43aa3fe75f5c00c2cde8588

[2016-08-31 09:24] #115 closed

[2016-08-31 09:30] j3mdamas commented on #97
There are 6 patches that should not have regeneration, all in `prot/toppar_all36_prot_heme.str`. These will be part of a dictionary and will appear after regeneration.

All the others will be regenerated.

[2016-08-31 11:59] mj-harvey commented on #109
Don't know what you mean, sorry. Are you referring to automatic Travis
builds of PRs?

On 24 August 2016 at 14:53, João M. Damas <notifications@github.com> wrote:

--
<https://www.acellera.com>

<https://twitter.com/acellera?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor>
    <https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/acellera>
<https://www.acellera.com/md

[2016-08-31 12:07] j3mdamas commented on #109
https://travis-ci.org/Acellera/htmd/pull_requests

All these fail. I think pull requests are nice, since build is checked before the merge, which is cool.

[2016-08-31 12:07] j3mdamas commented on #97
Fixed by multiscalelab/htmd@f9524254e44aa8b77ca1ab6880fee7462b5609db

[2016-08-31 12:07] #97 closed

[2016-09-01 01:43] #29 closed

[2016-09-01 12:40] hawk31 opened #116 ".pdbqt file incorrectly read by Molecule"
Small replication
[code]

[2016-09-01 12:48] stefdoerr commented on #116
VMD does not read it either. Format seems broken as only one atom is between ROOT and ENDROOT tags.

[2016-09-01 12:49] hawk31 commented on #116
This is generated by the `prepare_ligand4.py` script in AutoDockTools. Don't actually know the difference between this one and `prepare_receptor4.py`.

[2016-09-01 14:42] j3mdamas commented on #101
This is still not fixed. I still get `N` as the element for hydrogen

[2016-09-01 14:55] tonigi commented on #101
test case please

[2016-09-01 15:59] j3mdamas commented on #101
I just reproduce it on a very specific case. Let me check it out

[2016-09-01 16:40] j3mdamas commented on #101
nevermind, forgot to reload module

[2016-09-01 16:40] #101 closed

[2016-09-02 10:31] giadefa commented on #78
The old parametrization tool is deprecated. A new one will appear in a couple of weeks for testing.

[2016-09-02 10:31] #78 closed

[2016-09-02 10:35] mj-harvey commented on #114
Pending CUDA 8 release

[2016-09-02 10:38] mj-harvey commented on #83
Reminder to look at the cross-compile environmetn toni mentioned to me

[2016-09-02 10:42] giadefa commented on #98
Not clear how to do it yet

[2016-09-02 10:44] giadefa commented on #83
checking cross compiler

[2016-09-02 10:54] giadefa commented on #27
yes

[2016-09-02 17:59] j3mdamas commented on #102
Done here: Acellera/htmd@ac7852ca0dbda7500390b4ae4b7a8e5865072705

[2016-09-02 17:59] #102 closed

[2016-09-02 19:01] noeliaferruz opened #118 "Changes in vmd visualizer in 1.3.3 version?"
Hi guys,

I am using version 1.3.3. I run a model a couple of days ago using version 1.3.1. It seems now I am unable to visualize its macrostates, and when visualizing a pdb there are just dots. Are there any changes occurring from your side? I'll have a look at mine if not.

For example:
[code]
<img src="https://cloud.githubusercontent.com/assets/12035024/18214964/26aed066-711d-11e6-9208-2790bd02

[2016-09-02 20:23] noeliaferruz opened #119 "Mol2 information lost when building for AMBER (due to conversion to PDB)"
Hellooo,

I am testing gaff2 and just built a ligand-solo box using tleap from amber16, as follows:

[code]

Then I translated it into htmd and gave the following:

[code]

[code]

I assume the error arises from converting mol2, which contains the topology, to input.pdb file, which does not. Then the atomtypes cannot be mapped anymore.

[code]

Perhaps a proper functioning of amber.build requires

[2016-09-03 11:07] j3mdamas commented on #102
@shozebhaider tested a build with holiday junction, it worked. needs more testing. I'd really appreciate any feedback and many some test builds that could be interesting to put in the code tests

[2016-09-03 11:37] shozebhaider commented on #102
I shall do more tests on unusual systems and get back to you with examples and example notebooks.

Best Wishes

Shozeb

[2016-09-03 11:39] j3mdamas commented on #102
thanks.

[2016-09-03 13:59] funnybomb opened #120 "Does MetricDihedral support homodimer (two chains with same resid) selection?"
hi, I have a  homodimer structure with **two chains(A,B) with same resid** which I peformed several simulations with ACEMD, How can I analyze these two chains separately by using MetricDiheral ?
[code]
here  a.dat, b.dat and w.dat have exactly the same values and np.shape.

[2016-09-03 19:42] stefdoerr commented on #120
Yes, take a look at the last line of your code. There is a little bug there ;)
Also on the first projection I would use `protein and chain A` unless you want the dihedrals of both chains.

[2016-09-04 00:34] funnybomb commented on #120
O, I modified the code of last line. But Here my point is that MetricDihedral can't recognize chain A and chain B or whole protein but only return the dihedrals of the first chain. Any selection  ```protein and chain A``` or ```protein and chain B```  or ```protein```  will return the results that have exactly the same values and shapes if I was not wrong.

[2016-09-04 00:58] funnybomb commented on #120
I think the problem is caused that residues from different chains have same resid
Parameters:
dih (list of str) – You can provide your own list of 4 resid/atom pairs for dihedral angles. See example.
sincos (bool, optional) – Set to True to return the dihedral angles as their sine and cosine components. Makes them periodic.
protsel (str, optional) – Atomselection for the protein segment for which

[2016-09-04 01:51] funnybomb commented on #120
Today I upgrade htmd to 1.3.3, when I use ```protein``` to select both chain I get this error
"Expected one atom from atomselection resid 116 name N. Got 2 instead"

[2016-09-04 07:48] stefdoerr commented on #120
Oh yes I see. Indeed it requires different resids. I don't know if I can change it soon to fix that issue.
What you can do instead is just save a new pdb file with different resids.

[code]
[sequenceID](https://www.htmd.org/docs/latest/htmd.molecule.util.html?highlight=sequence#htmd.molecule.util.sequenceID) generates a sequence of increasing integers any time it finds a change in either `resid` o

[2016-09-04 07:49] stefdoerr commented on #120
*fixed a mistake in my code. Check github issues please instead of mail

[2016-09-04 15:16] funnybomb commented on #120
Thanks for your solution, but it will cost extra effort to select sub sequences of both chain.  Interestingly, during test I found that MetricData.dat will automatically stack the results in rows if Metric was projected multiple times, Here is my solution:
[code]
Interestingly, data.dat will automaticlly stack the results in rows if Metric was projected multiple times, e.g.  I got results below se

[2016-09-04 20:56] stefdoerr commented on #120
Sorry I don't understand what you mean.
Take a look also at `data.map`. In the new version it should be a Pandas array which describes each column of `data.dat`

[2016-09-05 12:36] giadefa opened #121 "annoying warning"
/shared/gianni/Code/acellera/htmd/htmd/molecule/molecule.py:1141: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if sel is not None and sel != 'all':

[2016-09-05 12:45] stefdoerr commented on #121
Need a test case

[2016-09-05 13:01] stefdoerr commented on #118
Please attach files to issues for replicating the problem.

Here for some reason it does not guess bonds. Don't know why though

[2016-09-05 13:03] #116 closed

[2016-09-05 13:05] stefdoerr commented on #119
What does the `log.txt` and `tleap.in` file say? If it doesn't find the crd it means the build failed so we need to see the logs.

[2016-09-05 13:12] stefdoerr commented on #105
I don't consider this an issue. The only way to do it correctly is with a VMD plugin but then we need to spit it together with HTMD. What you did and are proposing is finding a maximal unique filtering selection that works on all systems which is kind of what we already do with simfilter. So I'm closing the issue.

[2016-09-05 13:13] stefdoerr commented on #100
@tonigi you said this is not fixable unless we switch from pdb2pqr to something else. Can we close it?

[2016-09-05 13:14] tonigi commented on #100
Yes we should close it

[2016-09-05 13:14] #100 closed

[2016-09-05 13:15] stefdoerr commented on #6
@giadefa is working on something of the kind using a Jupyter notebook. What's the status Gianni?

[2016-09-05 14:05] giadefa commented on #105
that's not true. I am doing the calculation normally with different pdbs,
and only use the common one for visualization.

On 5 September 2016 at 15:12, Stefan <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedE

[2016-09-05 14:06] stefdoerr commented on #105
Ok, I can add an argument for a different simlist to viewStates.

[2016-09-05 14:09] giadefa commented on #6
in the latest adaptive you can have

adapt.save = True

this will save the last model used to generate the adaptive.  This is
usable. Then I would indepently execute a notebook for the analysis which
can resuse the saved model but I have not finished it.

On 5 September 2016 at 15:15, Stefan <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<htt

[2016-09-06 09:18] stefdoerr commented on #121
@giadefa ping? pong?
I can't replicate it

[2016-09-06 09:21] giadefa commented on #121
it happens everytime I run an adaptive.

On 6 September 2016 at 11:18, Stefan <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <ht

[2016-09-06 09:26] stefdoerr commented on #121
The only place this code exists is in `Molecule.write`. The only write adaptive does is `mol.write('input.coor')`. It doesn't even pass a selection. I tried different selection and I can't make the warning come up.

[2016-09-06 09:27] stefdoerr commented on #121
I will run an adaptive today though so I will see

[2016-09-06 09:27] stefdoerr commented on #119
@noeliaferruz ?

[2016-09-06 14:25] noeliaferruz commented on #118
It's happening in all cases I've tried so far. You can try:

[code]

[2016-09-06 14:29] noeliaferruz commented on #119
Both attached, tleap.in as generated by amber.build renamed tleap.txt.
[tleap.txt](https://github.com/Acellera/htmd/files/456937/tleap.txt)
[log.txt](https://github.com/Acellera/htmd/files/456936/log.txt)

[2016-09-06 14:46] stefdoerr commented on #118
Works fine for everyone here in the lab with 1.3.3. Don't know what to recommend except maybe a fresh install of htmd?
But we loaded it from the PDB website with:
[code]
Does this give you the same result?

[2016-09-06 14:52] stefdoerr commented on #119
The errors say:
[code]
frcmod midding maybe some definitions? Also in `.R<1 0>` the space is worrying me. What does the `input.pdb` look like?

[2016-09-06 14:53] stefdoerr commented on #119
Ah wait yes I mean you are missing the topology for the ligand. You need to provide that as well not just the parameters.

[2016-09-06 14:56] stefdoerr commented on #119
Ah I see, it worked before without prepi.
Hmmm maybe the mol2 file contains information that we drop when writing the PDB?
Could you send me all files maybe?

[2016-09-06 14:58] noeliaferruz commented on #119
Exactly, the problem arises when converting from mol2 that contains the topology to a pdb that doesn't. I cannot send this ligand, maybe I can send it to @j3mdamas?
Otherwise I can probably replicate the issue in any ligand.

[2016-09-06 15:00] stefdoerr commented on #119
Joao is out on holidays this week.
Check what information from the mol2 is not in the PDB and tell me then :) Or find a public example? hehe

[2016-09-06 15:15] noeliaferruz commented on #119
The missing information is the topology (atomtypes). The mol2 file contains the atom names but also the atomtypes (C2, but also c3):

`     2 C2          13.4290    11.6050     0.7450 c3         1 UNK      -0.050400`

The input.pdb converts that automatically to:
`HETATM    2  C2  UNK     0       4.320   1.690  -1.584  0.00  0.00      L    C`

So the atomtype c3 isn't there.

Why does it have to b

[2016-09-06 15:18] noeliaferruz commented on #118
Thanks a lot for testing!

Yes, unfortunately this is what i get:

<img src="https://cloud.githubusercontent.com/assets/12035024/18279415/72903ebc-7423-11e6-8bf3-01630bb98c41.png" alt="alt text" width="350 height="350">

I'll wait to upgrade to 1.3.4 and see if it's fixed.

[2016-09-06 15:21] noeliaferruz opened #122 "ValueError: NULL pointer access in XTC step size"
Hi,

The following raised when I tried to get the eq.distribution of a HMM. Let me know any ideas.

Thanks a lot,
Noelia

[code]

[2016-09-06 15:25] noeliaferruz commented on #119
I'll upload a public case soon

[2016-09-06 15:26] stefdoerr commented on #119
Because we typically work with PDB files so there is no point in converting them to mol2. Not to mention that we would be missing the required information (atom types) which we can't guess.

Also we write the whole system into a single file for AMBER instead of separate files for ligand and protein. So we would need to write a whole solvated system in mol2 which I don't trust.

Does the Molecule o

[2016-09-06 15:27] stefdoerr commented on #119
I mean we build whole systems in a single Molecule object. Passing a single mol2 file, AMBER build would not know where to place the ligand in your system or to remove the waters etc.

[2016-09-06 15:30] stefdoerr commented on #118
Werid :/ Something must have broken during the update. As I said you could do a reinstall of htmd in conda

[code]
maybe even this works
[code]

[2016-09-06 15:33] stefdoerr commented on #122
Oooh there seems to a broken XTC trajectory missing the step size and while trying to visualize the system it fails at loading it. I wonder though how that system even got projected.
This is not an HMM issue.

Any chance I can have that xtc?
Debug the program with:
[code]
and that should give you the filename.

[2016-09-06 16:29] noeliaferruz commented on #119
Yes, the molecule object stores the atomtypes:

[code]
Attached an example. Only the ligand, no solvation or anything.
[public_example.zip](https://github.com/Acellera/htmd/files/457208/public_example.zip)

[2016-09-06 16:30] noeliaferruz commented on #119
Oh, I changed it to standard gaff. Does htmd include amber16/gaff2? I keep forgetting.

[2016-09-06 16:33] giadefa commented on #119
not yet, just amber15 for now. but if you have ambertools installed it will
pick that

On 6 September 2016 at 18:30, Noelia Ferruz <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-

[2016-09-06 16:55] stefdoerr commented on #119
Ideas on what we should do @giadefa ?

[2016-09-06 17:02] giadefa commented on #119
no

On 6 September 2016 at 18:55, Stefan <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.com/md-simulation-

[2016-09-06 19:43] noeliaferruz commented on #118
Thanks for the help. I guess I can close it as no one can reproduce it. Let's see if it persists in future versions.

[2016-09-06 19:43] #118 closed

[2016-09-06 19:47] noeliaferruz opened #123 "Molecule reading missing fields in .mae files"
Hi,

I read a maestro file in Molecule() but got the following: The molecule loads fine in vmd. File attached:
[protein.txt](https://github.com/Acellera/htmd/files/457621/protein.txt)

[code]

[2016-09-07 08:44] stefdoerr commented on #123
I fixed it https://github.com/Acellera/htmd/commit/97abee2980e1687280b374bf0decab3763249151 but I think I probably broke other MAE files. The issue is that some MAE files assume by default that the first column will be the indexes and don't describe it in the m_atom section (which they should). Yours does so it failed with this ridiculous error because I was used to reading the other kind.
But I'm

[2016-09-07 08:44] #123 closed

[2016-09-07 13:03] noeliaferruz commented on #122
Hi,

The previous model was from version 1.0.26, perhaps that helps to see why it was projected.
This command run for hours and didn't output anything. Do you run it by running the command that errored first followed by those three lines? I'll try different combinations but I'm not sure in any case.
I decided to start over the metrics again, but got another error earlier than that when running the

[2016-09-07 13:13] stefdoerr commented on #122
Which command ran for hours?
Once the program throws the error you then type `%debug `and then give the rest of the commands one by one

[2016-09-07 14:59] stefdoerr commented on #121
I cannot replicate it in my adaptive so I close it until we have a case that can be replicated.

[2016-09-07 14:59] #121 closed

[2016-09-07 23:50] mj-harvey commented on #103
fixed

[2016-09-07 23:57] mj-harvey commented on #119
@stefdoerr  tleap will eat mol2s, and as of tuesday's commits, Molecule will write them

[2016-09-08 00:00] mj-harvey commented on #83
@tonigi  what was the cross-compiler you mentioned?

[2016-09-08 00:02] mj-harvey commented on #44
Closing this as no progress is going to be made in our code.

[2016-09-08 00:02] #44 closed

[2016-09-08 00:09] mj-harvey commented on #109
Try commit fe70970dbbe8aed56adeb20ad2fb2720c475c53d

[2016-09-08 00:41] mj-harvey commented on #122
@stefdoerr  this will be a bad XTC. You need to check the return of the XTC C reader more carefully. The only way it has to signal failure is to return NULL

[2016-09-08 00:46] mj-harvey commented on #17
Closing this as it's a limitation of the cgen2b6 we have in parameterise. The alternatives -- starting with the new version of parameterise --  are to start with an independently obtained set of cgen3 parameters, or use gaff

[2016-09-08 00:46] #17 closed

[2016-09-08 01:57] tonigi commented on #83
https://github.com/tpoechtrager/osxcross

Il 08 set 2016 2:00 AM, "M J Harvey" <notifications@github.com> ha scritto:

[2016-09-08 08:34] stefdoerr commented on #119
Yeah but I still won't know which molecules to write as mol2 and which as pdb. Unless I write everything for AMBER as mol2 but I don't know how efficient/safe that is. Would need some really good testing.

[2016-09-08 08:56] mj-harvey commented on #119
@stefdoerr

Don't do that. Mol2 is only suitable for single small molecule.s
More generally though, can tleap read very large solvated systems in PDB format? I remember it having problems in the past.

[2016-09-08 08:58] stefdoerr commented on #119
No it works fine apparently.

The issue then is how to know what to write as mol2 and what as PDB considering that all gets merged into a single Molecule object before building.

[2016-09-08 10:28] stefdoerr commented on #122
This should fix it:
https://github.com/Acellera/htmd/commit/75d720e64daaa443f21408decda521966a485dcf

[2016-09-08 10:28] #122 closed

[2016-09-08 11:05] mj-harvey commented on #119
Options are:
1) One PDB including protein + water + ions
    Mol2s, one for each separate molecule (geom + charges)

2) One PDB containing the whole system
  Prepi containing the charge+geom, one for each separate type of molecule

I've a preference for the former  as it  avoids the use of the annoying Prepi filetype, and is one less thing for the user to have to provide.

(The new parameterise fo

[2016-09-08 11:28] stefdoerr commented on #119
1) is not so easy to do. You would need to place the ligand at the correct
location in the system with protein+water+ions, then solvate to not have
water where the ligand is and then remove the ligand to add it in post as a
mol2.

My other alternative is having some flag for the atoms which were read from
mol2 and then split them out durign building as mol2 files.

On Thu, Sep 8, 2016 at 1:05 PM,

[2016-09-08 13:49] mj-harvey commented on #119
I dont understadn why it is difficult - you do the full model construction incl solvation within HTMD and then selectively save out the different components. You don't need to know which - if any bits came from mol2 files -- always save out anything that's not protein/water/ion in that format

[2016-09-08 13:53] stefdoerr commented on #119
That's actually a valid idea! Haha.

[2016-09-08 20:48] KendyP opened #124 "System Build-Help"
Hello,
I'm using HTMD to build a single bilayer SERT system with a fluoxetine ligand present outside of the pocket. I'm having an issue when building the system, which indicates that newly created pdb of the whole system contains more than 99,999 atoms and that bond connectivity will be disregarded. I've never had this error before and previous successfully built systems have had about 130,000 ato

[2016-09-09 08:25] stefdoerr commented on #124
The problem with the unorderable types was a small bug that I fixed. We should make a new release these days.

The matter with the atoms does not matter too much because you will have a psf which contains all bonds. It's just a warning of the PDB writer because the PDB format cannot support bonds in structures with more than 99999 atoms.

I will write back when we release the new version.

[2016-09-09 12:22] KendyP commented on #124
Okay, thank you!

[2016-09-12 09:44] stefdoerr commented on #124
@j3mdamas I think we should make a release this week, if not today.

[2016-09-12 09:50] j3mdamas commented on #124
devel, you mean?

[2016-09-12 09:51] stefdoerr commented on #124
Yes devel

[2016-09-12 10:24] j3mdamas commented on #119
I am a bit lost, but isn't this more of a problem of the topology rather than mol2?

[2016-09-12 10:26] stefdoerr commented on #119
tleap reads extra fields from mol2 which don't exist in PDB files. We do
store them in Molecule we just don't write them into PDBs.
So if we want to avoid having the user write out topologies from his mol2
files we can just push them as mol2 into tleap.

On Mon, Sep 12, 2016 at 12:24 PM, João M. Damas <notifications@github.com>
wrote:

[2016-09-12 10:31] j3mdamas commented on #119
ok, but Noelia created that `tleap.in` manually and not through htmd, right? When would HTMD ever do a `loadmol2` command? It wouldn't from what I remember...

[2016-09-12 10:34] stefdoerr commented on #119
No, that's what we are going to add to amber.build. It will write all
non-protein non-water non-ion molecules as mol2 and then use loadmol2 to
load them.

On Mon, Sep 12, 2016 at 12:31 PM, João M. Damas <notifications@github.com>
wrote:

[2016-09-12 10:35] j3mdamas commented on #119
hum, OK. let's talk about it this afternoon.

On Mon, Sep 12, 2016 at 12:34 PM, Stefan <notifications@github.com> wrote:

--

[2016-09-12 11:55] hawk31 opened #125 "Issue with PDBread after pandas update"
Replication

[code]

[2016-09-12 12:02] stefdoerr commented on #125
Happens when people right-align their charges in the PDB format. I will take a look if I can make the parser more flexible with the charges.

[2016-09-12 13:15] j3mdamas commented on #105
So this is open?

[2016-09-12 13:17] stefdoerr commented on #105
yes

[2016-09-12 13:19] j3mdamas commented on #120
Is this solved @funnybomb?

[2016-09-12 14:02] stefdoerr commented on #125
Fixed: https://github.com/Acellera/htmd/commit/e7ce599c4b627cf36191c8988c4d0f3ebb749f12

[2016-09-12 14:02] #125 closed

[2016-09-12 14:36] hawk31 commented on #125
Do not hate me. It's the .pdbqt parser this time.

[code]

[2016-09-12 15:18] stefdoerr commented on #125
[code]
Underscores in the resid columns.
[Undocumented](http://autodock.scripps.edu/faqs-help/faq/what-is-the-format-of-a-pdbqt-file) = Unsupported :stuck_out_tongue:

[2016-09-13 02:27] giadefa opened #126 "MiniBatchKMeans deprecation warning"
I had enough, let's use one of the strategy here:
http://stackoverflow.com/questions/36892390/deprecationwarning-in-sklearn-minibatchkmeans

[2016-09-13 02:27] funnybomb commented on #120
yes, I think that I used the method that I described in my previous post is working fine for me.
Here is more detailed description:
I have a homodimer protein contain two chains A,B which have same resids in both chains, e.g.
chain A 116-334, chain B 116-334
now I want to get dihedral of both chains from 116 -256 according to original paper of the structure.
I project the Metric separately
[code]

[2016-09-13 07:52] stefdoerr commented on #120
You don't need to project twice. This is a confusion that stems from our bad naming of the method `projection` which should have been `appendProjection`.

[code]

This should work equally well and at half the calculation time.
In newer HTMD versions better do:
[code]

Since we deprecated the `projection` method.

[2016-09-13 07:57] stefdoerr commented on #126
Done

[2016-09-13 07:57] #126 closed

[2016-09-13 16:53] j3mdamas commented on #120
It seems like it's clear now. I'm going to close

[2016-09-13 16:53] #120 closed

[2016-09-14 14:16] KendyP commented on #124
Okay, please let me know upon release

[2016-09-14 14:35] giadefa commented on #124
hopefully today

On 14 September 2016 at 16:16, KendyP <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.com/

[2016-09-14 18:50] j3mdamas opened #127 "Convert acemd.commandreference.html into .rst and integrate into /doc"
It's insecure because docs.acellera.com is on http rather than on https. But rather than changing the protocol, the best should be to convert to .rst and integrate into the /doc

https://www.htmd.org/docs/latest/acemd.commandreference.html

[2016-09-14 20:46] giadefa opened #128 "ValueError: all the input array dimensions except for the concatenation axis must match exactly"
I am getting this error on a trajectory that seemed to work last week. Any recent change?

Traj
id = 2017
parent = None
input = []
trajectory = ['/workspace1/D3R/D3R-467/batches/5/filtered/1-7/e5s87_e1s336p2f175/e5s87_e1s336p2f175-NOELIA_c36x467x5-0-4-RND1667_9.filtered.xtc', '/workspace1/D3R/D3R-467/batches/5/filtered/1-7/e5s87_e1s336p2f175/e5s87_e1s336p2f175-NOELIA_c36x467x5-1-4-RND1667_9.filter

[2016-09-14 21:10] giadefa commented on #128
it does happen only to few traj

[2016-09-15 03:28] giadefa opened #129 "MetricData.combine"
I doubt that this actually works after the panda restructuring

[2016-09-15 03:47] giadefa opened #130 "MetricDistance for contacts producing distances"
[code]
A part that even for distances makes  no sense to use float64, rather we should use float32

[2016-09-15 03:49] giadefa commented on #130
data.dat[0][0,:]
Out[63]:
array([ 24.58222771,  24.6734581 ,  23.64838791, ...,   0.        ,
         0.        ,   0.        ])

[2016-09-15 09:03] stefdoerr commented on #129
I didn't even remember it existed since we now combine them during calculation.

[2016-09-15 09:12] j3mdamas commented on #130
For distances, `float32` is used:
[code]

Regarding `contacts`, I don't even understand how it's working:
[code]

Since `distances` seems to be a list of arrays.

[2016-09-15 09:13] j3mdamas commented on #130
@stefdoerr, me or you?

[2016-09-15 09:13] j3mdamas commented on #129
Deprecate?

[2016-09-15 09:14] stefdoerr commented on #121
Found it and fixed it finally!

[2016-09-15 09:14] stefdoerr commented on #130
moi

[2016-09-15 09:17] j3mdamas commented on #109
When I next do a pull request, I'll try this.

[2016-09-15 09:23] stefdoerr commented on #130
Can't replicate it Gianni. You sure you didn't jump around in your analysis? Please try to test this stuff twice by restarting the kernel.

[code]

[2016-09-15 09:27] stefdoerr commented on #129
I still see some usability for it if someone decides to do a new metric later and does not want to recalculate the first one. So I guess we should update it to work.

[2016-09-15 10:02] #130 closed

[2016-09-15 13:57] j3mdamas commented on #124
1.3.4 released.

[2016-09-15 13:57] #124 closed

[2016-09-15 18:30] KendyP opened #131 "String to float error"
Hello,
I had recently posted about a float > string error when building a protein membrane system. I downloaded the newly released version of HTMD this morning. I'm receiving a very similar error now.
Included is a dropbox folder with my system and necessary files, so that you may run the notebook and see the error, as well.
Any help is appreciated.
Thank you,
Kendy

https://www.dropbox.com/sh/0zn

[2016-09-16 13:08] j3mdamas commented on #131
At what particular part of the code do you get that error? Can you paste it here too?

Thanks

[2016-09-16 13:20] j3mdamas commented on #131
I reproduce now the error. Let me look into it.

[code]

Fails on your .pdb, does not fail on .pdbs from PDB, so I would guess a poorly formatted .pdb file.

[2016-09-16 13:26] j3mdamas commented on #131
Removing the charge field of the PDB solves the problem. Let me see if that's a bug in our code.

[2016-09-16 13:38] KendyP commented on #131
Thank you for looking into that. I have the same error for another system that utilizes a pdb saved directly from rcsb so I will do the same for that pdb, as well.

[2016-09-20 08:54] stefdoerr commented on #131
Your PDB seems fine. Charges in PDB format are a pain because they allow all 6 variations of filling the two columns, and people actually use all 6 ways.
[code]
So I must have missed a case here. Will fix now.

[2016-09-20 09:03] stefdoerr commented on #131
Ok fixed it. Since I don't know when the next release will be, you can change it locally if you want.
Do:
[code]
Which should tell you where HTMD is installed. Then find the file in `htmd/molecule/readers.py` and find the following lines:
[code]
After that line add the following: `parsedtopo.loc[parsedtopo.charge.isnull(), 'charge'] = 0`
so that it now looks like:
[code]

Careful with the identati

[2016-09-20 09:14] GerardBCN opened #132 "Contact symmetry"
Can we implement a function to detect symmetry contacts such as in benzamidine-trypsin case? used to be in the good old matlab :)

[2016-09-20 09:17] stefdoerr commented on #132
Detecting probably no.
But we should make a function where the user defines the symmetry and then we merge them into one.

[2016-09-20 09:18] stefdoerr commented on #132
Since it's slightly related: I should also add a `dropColumns` to `MetricData`

[2016-09-20 09:40] giadefa commented on #132
dropDimensions

Symmetry is not so useful with the latest selection i use, it's already
taken care of

On 20 September 2016 at 11:18, Stefan <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%

[2016-09-20 10:13] stefdoerr commented on #128
Fixed in https://github.com/Acellera/htmd/commit/bba92efa4ebb1b8fb085b547e47e9225de3a814d

[2016-09-20 10:13] #128 closed

[2016-09-20 10:21] stefdoerr commented on #128
Added test case to catch similar problems in future: https://github.com/Acellera/htmd/commit/38e32ec16467798f6f3c54bd5ab1f49aae233427

[2016-09-20 10:34] stefdoerr commented on #131
Actually don't worry. I'll make a release today with some other bug fixes if all goes well.

[2016-09-20 12:15] j3mdamas commented on #131
Have you done it? Let me do it, please, I have a bug fix to introduce.

On Sep 20, 2016 6:34 AM, "Stefan" <notifications@github.com> wrote:

[2016-09-20 12:21] stefdoerr commented on #129
Fixed: https://github.com/Acellera/htmd/commit/a03d409f2387331dae6fbd07cc80822fd3a36575

[2016-09-20 12:21] #129 closed

[2016-09-20 12:22] stefdoerr commented on #132
dropDimensions added: https://github.com/Acellera/htmd/commit/a03d409f2387331dae6fbd07cc80822fd3a36575

Can you share the selection which ignores symmetry?

[2016-09-20 12:31] stefdoerr commented on #131
If the [current build](https://travis-ci.org/Acellera/htmd/builds/161309621) passes you can make a release. Tell me when it's done though.

[2016-09-20 12:43] KendyP commented on #131
Thank you for the manual fix. If you could post in this thread when you have made the release , that would be greatly appreciated.

[2016-09-20 12:57] stefdoerr commented on #131
@j3mdamas it passed my build. Can you make a release?

[2016-09-20 13:12] noeliaferruz opened #133 "Newparameterize fails"
Hi,

I have test newparameterize in the set of compounds.
I run `newparameterize -m input.mol2`

21/23 failed with this error:
[code]
The other two failed as:

[code]

Let me know any ideas
Thanks,
Noelia

[2016-09-20 13:14] j3mdamas commented on #131
Yes, I am going to do it now.

On Tue, Sep 20, 2016 at 8:57 AM, Stefan <notifications@github.com> wrote:

--

[2016-09-20 14:23] waskom opened #134 "Error with calling in PDB files in new update"
I just updated the HTMD and was trying to build a new system but the notebook failed to call in the PDB file. I was using the same commands that worked previously.

The output was:
"ValueError: could not convert string to float:"

[2016-09-20 14:57] j3mdamas commented on #131
Sorry, I had a meeting. Version 1.3.10 is building right now, should finish
soon and be available.

On Tue, Sep 20, 2016 at 9:13 AM, Joao Damas <j.damas@acellera.com> wrote:

--

[2016-09-20 15:03] mj-harvey commented on #133
Hi Noelia,

For the QM failures: Are you using gaussian or psi4 for the qm? IF gaussian, try with psi4, that's what all our testing's done with

For the other two: Could you mail me the problematic mol2s, please? I haven't seen that error. For some reason the ff doesn't contain params for that dihedral. Does it also happen  with the old parameterise?

[2016-09-20 15:14] mj-harvey commented on #133
Also -- please ensure that the psi4 package version is 1.0.54 and update if not. You may have to explicitly remove any old version which likely had a higher version number.

[2016-09-20 15:20] j3mdamas commented on #134
Hi @waskom,

Should be fixed in 1.3.10 (which is being built as we speak). See issue #131

[2016-09-20 15:20] #134 closed

[2016-09-20 15:38] stefdoerr commented on #131
New version should be out now!

[2016-09-20 15:38] #131 closed

[2016-09-20 15:38] stefdoerr commented on #134
New version should be out now!

[2016-09-20 16:10] stefdoerr opened #135 "Multiprocessing causes "too many open files" error"
Relatively easy to replicate. From the git HTMD folder run in ipython:

[code]
Might depend on the ulimit of the computer so you might need to increase the 17 to something higher. Causes the error shown below. I am pretty clueless about how to fix this for the moment.

According to: http://stackoverflow.com/questions/35562980/python3-filling-a-dictionary-concurrently Parallel is opening too many p

[2016-09-20 16:12] stefdoerr commented on #135
@giadefa @mj-harvey @j3mdamas
Calling in for support, since this is quite a serious issue. Maybe I should post it on `multiprocessing` issues but I would need to create a small test case which might prove tricky.

[2016-09-20 16:13] stefdoerr commented on #135
Also I don't remember ever seeing this before today even though I definitely did not do any conda update.

[2016-09-20 16:31] stefdoerr commented on #135
Most minimal example I can make for now with files attached:

[code]
[files.zip](https://github.com/Acellera/htmd/files/483104/files.zip)

[2016-09-20 16:38] stefdoerr commented on #135
[code]
`MetricNull` does not cause this, while `MetricDistance` and `MetricDihedral` both do. Which is really weird because the file handling/loading is done independently of the Metric. The `Metrics` only get the *already* loaded `Molecule` object and calculate the metrics.

[2016-09-20 17:17] mj-harvey commented on #135
see "ulimit -n".
I'd expect it to be around 1k; seems improbable that there'd be so many fds in use under normal multiprocessing circumstances.

look in /proc/PID/fd to hopefully get a hint about what's open.

[2016-09-20 17:23] mj-harvey commented on #135
@stefdoerr files.zip is empty.

[2016-09-20 20:06] mj-harvey commented on #135
@Stefdoerr looks to me like the stack overflow page you linked expains both the cause of the problem and its mitigation using a Pool.

[2016-09-20 20:23] stefdoerr commented on #135
Switching to Pool would be the last resort. I will try to find the minimal
example tomorrow to see what exactly causes it.

On Tue, Sep 20, 2016 at 10:06 PM, M J Harvey <notifications@github.com>
wrote:

[2016-09-20 20:31] j3mdamas commented on #64
I think I will create a new repo for the tutorials and put them there (like in PyEMMA)

[2016-09-20 21:24] noeliaferruz commented on #133
Hi,

I am using gaussian, I haven't found a way to specify psi4 in the command line. Psi4 is installed in version 1.0.54 in any case.
[code]
Let's first focus on one compound with just one dihedral first -attached-. The error was:
[code]
[input.txt](https://github.com/Acellera/htmd/files/483631/input.txt)

Let me know how to run in psi4. The preferred software here is gaussian though.

Thanks,
Noe

[2016-09-20 21:30] giadefa commented on #64
i don't think that it needs a new repo. We can simply add it in like
htmd-data

On 20 September 2016 at 22:31, João M. Damas <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2C

[2016-09-20 22:38] mj-harvey commented on #133
It's the asterisk in the atom names.  Remove them, along with any directories produced by the last failed attempt (minimize/ esp/ dihedral-opt/) and try again.

I asked Joao to get the PSI4 updated - that may have happened before you checked. Please remove the "esp" directory and try again. This version of parameterise will actually always use PSI4.

[2016-09-20 22:43] mj-harvey commented on #133
fixed in c49a453a1ae7acbccfd27813b0668ecde48d10ad

[2016-09-20 22:53] j3mdamas commented on #133
Hi matt,
We checked the computer where it was running, and it was running gaussian.
Tomorrow I'll try to do more checks.

On Sep 20, 2016 6:38 PM, "M J Harvey" <notifications@github.com> wrote:

[2016-09-20 22:59] mj-harvey commented on #133
Yea, my mistake. It has the same logic as the old one -- Guassian takes priority over PSI4.
I haven't tested with Gaussian at all, please use PSI4. In practice this means g09/g03 shouldn't be in the PATH.

[2016-09-21 08:56] stefdoerr commented on #135
@mj-harvey the culprit is `atomselect`

[code]
You can do as many `atomselects` as you want without a problem. But if you try running Parallel after many calls to `atomselect` it says that too many files are open. So atomselect must be opening pipes or files and not closing them I assume.
I'm 100% sure at this point. I tested all possible variations and the only difference between the `Metrics` I

[2016-09-21 09:00] stefdoerr commented on #135
Maybe we need to unload the library at some point?
[code]

[2016-09-21 09:14] tonigi commented on #135
Looking at the /proc/fd, looks like sockets are leaked,   not files.  I wonder if there is some thread finalization call missing .

[2016-09-21 09:15] tonigi commented on #135
This could also be relevant

http://stackoverflow.com/questions/16526783/python-subprocess-too-many-open-files

[2016-09-21 09:21] stefdoerr commented on #135
Simpler example to make prove that it's the `vmdselection` call and not something else in `Molecule`.

[code]

[2016-09-21 09:24] tonigi commented on #135
Perhaps the library can be loaded only once, per module. I don't see an easy way to unload. Trying.

[2016-09-21 09:27] stefdoerr commented on #135
From a short test I just did (moving the loading out of the function and into the module), it does not seem to be the library loading

[2016-09-21 10:04] stefdoerr commented on #135
Fixed! Was a socket in license check that needed closing.

[2016-09-21 10:04] #135 closed

[2016-09-21 11:06] mj-harvey commented on #82
Done

[2016-09-21 11:06] #82 closed

[2016-09-21 12:54] noeliaferruz commented on #133
Ok, it's running again

[2016-09-21 15:33] mj-harvey commented on #133
@noeliaferruz  I'd still like to see the structure that yielded:

ValueError: Could not find dihedral parameters for O301-CRC1-CRC1-O301

[2016-09-21 21:56] mj-harvey commented on #133
Joao tells me it can't be reproduced with the current code, so let's close the issue. Open a new one if it recurs.

[2016-09-21 21:56] #133 closed

[2016-09-21 22:21] noeliaferruz opened #136 "support for dcds?"
Hi,

Does htmd provide support for dcds in any form?

I converted some pdbs to trajectories so that simlist could read them (i want to cluster them). Unfortunately I could only save them in dcd format. Simlist does not seem to read dcds.
Then I concatenated the dcds to a single one and tried to read it as a molecule: `mol=Molecule('my.dcd')`
Or on top of a molecule pdb: `mol=Molecule('my.pdb'); mo

[2016-09-22 08:38] stefdoerr commented on #136
Yeah it is supposed to read dcds. Simlist should also read dcds. However if you have an xtc in the same folder as the dcds it will only read the xtc to not mix trajectories.

I see what causes the error. I didn't test the MDtraj reader much after accepting some changes by the PMEMD contributors. Can you send me a tiny dcd example for a test?

[2016-09-22 11:06] giadefa opened #137 "Produce incremental plots of dihedrals while parametrizing"
it would be useful

[2016-09-22 12:14] shozebhaider opened #138 "libiomp5 issue on conda update from 1.3.1 to 1.3.11"
Hi

I have just updated from 1.3.1 to 1.3.11 using conda update and my htmd has stopped working. I consistently get the error message -

**ImportError: libiomp5.so: cannot open shared object file: No such file or directory**

I have libiomp5.so in my miniconda3

/usr/local/miniconda3/lib/libiomp5.so
/usr/local/miniconda3/pkgs/mkl-11.3.3-0/lib/libiomp5.so
/usr/local/miniconda3/pkgs/mkl-rt-11.1-p0/l

[2016-09-22 12:15] stefdoerr commented on #138
This sounds like a conda issue. I've had problems with the intel mkl package breaking on updates. I would suggest trying a clean conda install.

[2016-09-22 12:43] shozebhaider commented on #138
Still the same thing even after a clean conda install. Any work around to get it up and running again ?

[2016-09-22 12:45] stefdoerr commented on #138
Try maybe installing a previous mkl version.

You could also try downgrading htmd. However I don't think that will help since I doubt the problem is in htmd.

[2016-09-22 12:52] giadefa commented on #138
By clean you mean that you create a new fresh installation?

Maybe try conda update --all

On 22 September 2016 at 14:43, shozebhaider <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%

[2016-09-22 12:56] mj-harvey opened #139 "enhancement to LocalGPUQueue to manage several machines via ssh"

[2016-09-22 12:58] mj-harvey commented on #138
Hi Shozeb,

Does setting:

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/miniconda3/lib/

Help?

[2016-09-22 12:59] mj-harvey commented on #137
does it already

[2016-09-22 12:59] #137 closed

[2016-09-22 13:01] tonigi commented on #136
Speaking from the dark, but from the exception it may be a DCD without box size information.

[2016-09-22 13:18] noeliaferruz commented on #136
Thanks,

File attached, it only has one frame though
[protein_noligand.txt](https://github.com/Acellera/htmd/files/487341/protein_noligand.txt). It could be that the dcd is somehow corrupted, I created it in VMD from a pdb (`animate write dcd`...)

In a more general question, what I am trying is to analyze a set of frames with certain properties. I created a list of htmd.simlist.Frame objects, but

[2016-09-22 13:19] tonigi commented on #136
Can you try to

|pbc set { .. ... } |

before saving?

T

On 22/09/16 15:18, Noelia Ferruz wrote:

​

[2016-09-22 13:22] shozebhaider commented on #138
Hi Matt.

I have the library path set. It gives me the same error message. However, when I run ipython/jupyter-notebook as a root, the error disappears and everything runs fine. I dont see any obvious issues with permissions as well on libiomp5.so

[2016-09-22 13:28] noeliaferruz commented on #136
Hi Toni, I tried and gave me the same error. Is this what you exactly meant?:
[code]

[2016-09-22 13:37] noeliaferruz commented on #136
oh no wait, sorry, just retried several times; it actually helped! it's a different error:
[code]
I'll try to concatenate a few, but they will have different box sizes.

Thanks

[2016-09-22 13:44] stefdoerr commented on #136
Yes it's definitely a missing box size. But I need to handle those cases anyways.

[2016-09-22 13:47] giadefa commented on #136
well, if the box varies and you have missed box size in one frame the
correct way to handle it is to error out

On 22 September 2016 at 15:44, Stefan Doerr <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEnti

[2016-09-22 13:52] noeliaferruz commented on #136
Sure, it makes sense, it was a desperate workaround.

If you find a way to to handle 100 frames or 100 pdbs in htmd to run distance or cluster analysis it'd fantastic.

Feel free to close the issue anytime.

[2016-09-22 13:55] stefdoerr commented on #136
I don't understand the issue anymore. Except the error catching in the dcd obviously which I will do now.

HTMD simlist should read dcds

[2016-09-22 13:56] stefdoerr commented on #136
Ah @noeliaferruz  I also need a topology file (pdb, prmtop, psf) to load the dcd into. MDtraj seems to require it.

[2016-09-22 14:01] stefdoerr commented on #139
Is that even "local" anymore? Maybe we will make it a separate class.

[2016-09-22 14:13] noeliaferruz commented on #136
My dcds will only have one frame. Does it help you to catch the errors anyway?

The issue: I'm trying to run a distance analysis in 100 frames (or htmd.simlist.Frames) or 100 pdbs -after writing them out-. **Simlist does not read pdbs neither htmd.simlist.Frame objects** so I converted them to dcds --> Error --> Issue.

[2016-09-22 14:28] mj-harvey commented on #138
What's the sequence of commands that yields the error?

try: export LD_PRELOAD=/usr/local/miniconda3/lib/libiomp5.so

[2016-09-22 14:48] stefdoerr commented on #136
I think I can close this

[2016-09-22 14:48] #136 closed

[2016-09-22 15:48] shozebhaider commented on #138
I do a clean install. Removing ~/.conda ~/.continuum directories.
Install miniconda3
Update --all
Set up omnia and acellera channels
Install htmd
Also downloaded htmd from github and put all libraries and pythonpaths in place.
Then at the very first command "From htmd import *" the error appears, which strangely does not happen if I run as a root. This is exactly the same on centos6.5 or ubuntu14.

[2016-09-23 13:42] noeliaferruz opened #140 "projecting molecules"
Hi,

Is it possible to project a molecule with frames?

[code]

Thanks,
Noelia

[2016-09-23 13:47] stefdoerr commented on #140
Yes. You are not passing the molecule to project which is why it complains.
Check the doc: https://www.htmd.org/docs/latest/htmd.projections.metriccoordinate.html#htmd.projections.metriccoordinate.MetricCoordinate.project

[2016-09-23 13:47] #140 closed

[2016-09-23 20:27] noeliaferruz opened #141 "Failed to install htmd latest version"
Hello,

Have you guys seen any errors in the latest build? Getting the following:

[code]

[2016-09-23 22:30] stefdoerr commented on #141
Nope :/

[2016-09-24 00:42] j3mdamas commented on #141
Mkspecs... Isn't this the same package shozeb was complaining about the
other day?

On Sep 23, 2016 6:30 PM, "Stefan Doerr" <notifications@github.com> wrote:

[2016-09-24 08:19] stefdoerr commented on #141
No he had problems with intel mkl. This is QT Mkspecs. Totally other package as far as I know.

[2016-09-26 12:06] j3mdamas commented on #141
Hi @noeliaferruz, can you try to run the update again? Maybe it was a temporary bug. Let me know.

[2016-09-26 13:17] noeliaferruz commented on #141
Hi,

No, I tried several times and it always failed like that. Then I updated the other module, which was in version 1.0.26 and run fine.  No idea.

[2016-09-26 14:17] stefdoerr commented on #141
So we can close it?

[2016-09-26 14:18] stefdoerr commented on #141
What do you mean by 'other module'?

[2016-09-26 14:19] noeliaferruz commented on #141
We have two conda directories here managed as modules that people can load. One is supposed to be an older stable version (module load acellera/current) the other the latest version (module load acellera/test). I only have permissions to update them but nothing else. acellera/test is the one failing to build.

[2016-09-26 14:23] stefdoerr commented on #141
Huh, no clue. Can you force-update all the packages in the one that has problems?

[2016-09-26 14:24] noeliaferruz commented on #141
Sure, I'll try that.

[2016-09-26 15:07] j3mdamas commented on #141
Let me know

[2016-09-26 15:42] j3mdamas commented on #138
I think that what @stefdoerr suggested as a clean conda installation is completely removing the conda directory, download a new one, and do it all over. A pain, if you use conda for stuff other than HTMD.

[2016-09-26 16:15] j3mdamas commented on #74
I am going to bump this to 1.6.0, as it will need to be reanalyzed in the new parameterize

[2016-09-26 17:14] noeliaferruz commented on #141
The IT just told me is working now and that it was related to a conda bug:  https://github.com/conda/conda/issues/2837

[2016-09-26 17:14] #141 closed

[2016-09-26 17:14] GerardBCN opened #142 "--charge flag does not work"
[code]
@j3mdamas

[2016-09-26 17:24] noeliaferruz opened #143 "number of simulations visited macrostate"
Hi,

Question. I have a model whose macro 3 was only visited by sims 26, 27, and 31.
[code]
But then sampleStates shows IDs from sim 38 -and I have also seen id 40-:
[code]

Hints?

[2016-09-26 17:45] j3mdamas commented on #142
fixed 36dc52c1ae61788d5ef140cba8f25a2197c28e46

[2016-09-26 17:45] #142 closed

[2016-09-26 17:45] j3mdamas commented on #141
great! thanks Noelia

[2016-09-26 18:17] stefdoerr commented on #143
That should definitely not happen. I will try to recreate this on some dataset although it might be tricky. Can you maybe save the model and send it to me?

[2016-09-26 18:21] stefdoerr commented on #138
Yeah that's what he did according to his last post. No idea what the cause could be :(
Although the root thing makes it suspicious

[2016-09-26 18:28] noeliaferruz commented on #143
mmmh no I don't think so. Thanks.

[2016-09-27 08:30] j3mdamas commented on #143
Is it something I can help with?

[2016-09-27 08:31] j3mdamas commented on #138
ok, it wasn't clear to me in the post that the conda directory got completely removed.

[2016-09-27 08:32] stefdoerr commented on #143
If you really want to. Make a Markov model analysis and see if this happens to you.

[2016-09-27 08:33] j3mdamas commented on #138
@shozebhaider, do you get the same error without the htmd from github and setting pythonpath, etc?

[2016-09-27 08:33] j3mdamas commented on #143
I mean, if it is some private data that I can look into

[2016-09-27 08:40] giadefa commented on #143
Stefan will soon be able to look at private data as well.

On 27 September 2016 at 10:33, João M. Damas <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204

[2016-09-27 11:27] shozebhaider commented on #138
Yes Joao. I did exactly that. Removed miniconda3 and reinstalled it. Still I get the same error. At first I thought it might OS specific but I can replicate it on ubuntu14.04 and centos6.5.

Also, I have no idea why, when I login as root, everything works smoothly. I have checked for permissions etc and there are no flags there.

Best Wishes

Shozeb

[2016-09-27 13:09] j3mdamas commented on #138
Hi @shozebhaider,

Just tried a fresh installation in a ubuntu 14.04 machine, and I don't get that error. I really don't know how to help you here, as I cannot reproduce the error.

What I notice is that you have the miniconda3 installed in /usr/local. That's normally something off limits for normal users, and could hint something on the weird behaviour of normal user vs root. Can you do the same

[2016-09-27 13:52] shozebhaider commented on #138
Hi Joao

Let me try this and get back to you.

Best Wishes

Shozeb

[2016-09-28 07:39] giadefa opened #144 "missing link"
From https://forum.htmd.org/
if you click to documentation it goes to a non-existing link

[2016-09-28 08:09] stefdoerr commented on #144
I thought the forum was officially deprecated anyways

[2016-09-28 08:11] giadefa commented on #144
no, it's there and usable

On 28 September 2016 at 10:09, Stefan Doerr <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://w

[2016-09-28 08:15] stefdoerr commented on #144
But we want to deprecate it right? And link to the github issues

[2016-09-28 08:42] giadefa commented on #144
there will be people without a github account, simple users. A bug is
better if reported to github but other simple questions are ok.

g

On 28 September 2016 at 10:15, Stefan Doerr <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertic

[2016-09-28 13:53] j3mdamas commented on #87
Hi,
Just added a new production protocol with contraints 63ae2b0e395c7647fee627ab2e0ed0e9d7f1c05b
@stefdoerr, if you'd like to see if it's good or not :P
@noeliaferruz, @GerardBCN, can you please test it, when you have some time? I think you've been defining things manually until now. It will be available on the next release.

[2016-09-28 13:53] #87 closed

[2016-09-28 14:02] GerardBCN commented on #87
What's the novelty in this protocol? I believe production protocol already
included the possibility of defining a box, and so on. See production of
this tutorial
https://www.htmd.org/docs/latest/tutorials/mu-opioid-receptor-gpcr-equilibration.html

2016-09-28 15:53 GMT+02:00 João M. Damas <notifications@github.com>:

[2016-09-28 14:21] stefdoerr commented on #87
Atom constraints, not flat bottom potentials

On Wed, Sep 28, 2016 at 4:02 PM, GerardBCN <notifications@github.com> wrote:

[2016-09-28 14:40] j3mdamas commented on #87
yeah, what Stefan said. For example, when you wanted to do those umbrella samplings, and wanted to keep the protein fixed (not rotating), you were using constraints, defined manually. Now you can define them with `useconstraints` and `constraints` variables.

[2016-09-28 14:44] GerardBCN commented on #87
OK! Thank you!

2016-09-28 16:40 GMT+02:00 João M. Damas <notifications@github.com>:

[2016-09-28 16:09] j3mdamas commented on #144
i don't know how to access forum.htmd.org to make that change.

[2016-09-28 19:55] noeliaferruz opened #145 "data.map.description gives residues not included in metricselection"
Hi,

I created a model based on this metric:
[code]
Then I wanted to have a look at the interactions found in my bound macro, and saw that they included other residues than aminoacids, like lipids and ions. It actually happens in many cases, like:

[code]
Let me know if this is the correct usage or an issue of 'groupSelections' being recently implemented back.

All the best,
Noelia

[2016-09-28 20:22] giadefa commented on #145
It looks a bug to me

On 28 Sep 2016 21:55, "Noelia Ferruz" <notifications@github.com> wrote:

[2016-09-28 20:33] noeliaferruz commented on #145
easy way to reproduce it in case:

[code]

Attached pdb
[filtered.txt](https://github.com/Acellera/htmd/files/499205/filtered.txt)

[2016-09-29 07:47] stefdoerr commented on #145
Yeah that's a bug. In the analysis if you group by residues there is the inherent assumption that there is only one residue with a given resid, which is obviously not the case here.

I will try to make it more general to handle duplicate residue numbers.
The metric is probably wrong.

[2016-09-29 07:59] giadefa commented on #145
because we filter on not water, all protein-lipid systems are wrong in this
way I guess.

You should apply the selection and group by resid

On 29 September 2016 at 09:47, Stefan Doerr <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVer

[2016-09-29 08:32] stefdoerr commented on #145
Fixed https://github.com/Acellera/htmd/commit/d83443d4a335aedff5ae327f1aea9db69dd93bc5

Take care though. I now made it more correct than before. Which means that if you use `groupsel1='residue'` you need to provide all atoms you want grouped by residue (in this case `protein` instead of `protein and name CA`).
Same for ligand selections. Otherwise in the past it would select all atoms within that

[2016-09-29 08:32] #145 closed

[2016-09-29 13:00] GerardBCN opened #146 "Parameterisation random error: File "<string>", line 60, in <module> TypeError: 'NoneType' object is not iterable"
This compound gives a sparse error (sometimes yes, sometimes no, or in different places during a newparameterize run). The first time crashed during minimization, now seems to be running the dihedral optimization already.

[frag29_neutral.mol2.zip](https://github.com/Acellera/htmd/files/500676/frag29_neutral.mol2.zip)

[2016-09-29 13:11] j3mdamas opened #147 "proteinPrepare writes N as element for any added atom (except Hydrogen)"
This is related with issue #101.

Basically, the same problem, but with any atoms added.

Example:
[code]

For `CD2` and `CE1`, missing atoms in the initial structure, it is putting element `N`. From other examples, it seems like it does it for all non-hydrogen atoms.

I was looking at the fix for the hydrogens 28384f99327dd17c202c5b2c789e103f8e2aba49 but I'm not sure about the right approach to m

[2016-09-29 13:12] j3mdamas commented on #146
Something to improve for the 1.6.0 release.

[2016-09-29 14:04] tonigi commented on #147
I would not set element at all.  They are guesses anyway, and not used in practice (except for cosmetic reasons).

[2016-09-29 14:43] GerardBCN opened #148 "Parameterization error when .rtf and .prm files are passed"
When using newparameterize passing --rtf ff.rtf --prm ff.prm. These parameters were obtained from ParamChem.

[code]
[files.zip](https://github.com/Acellera/htmd/files/500941/files.zip)

[2016-09-29 15:48] #147 closed

[2016-09-29 21:46] mj-harvey commented on #148
@GerardBCN mail me the problematic prm rtf, please

[2016-09-30 07:26] GerardBCN commented on #148
They are attached to my issue. They come from ParamChem

On Sep 29, 2016 11:46 PM, "M J Harvey" <notifications@github.com> wrote:

[2016-09-30 13:34] j3mdamas commented on #138
Hi @shozebhaider, any news on this issue?

[2016-09-30 22:06] #132 closed

[2016-10-03 13:11] mj-harvey commented on #146
I might expect the occasional python stack trace to appear if an individual QM job fails. This is quite likely to happen during the dihedral scan if the rotated geometry has a steric clash

[2016-10-03 13:18] mj-harvey commented on #148
Fixed in 7478dc3

[2016-10-03 13:29] j3mdamas commented on #148
@mj-harvey can we close?

[2016-10-03 13:30] #148 closed

[2016-10-03 13:34] mj-harvey commented on #114
Stefan:

You can now check the license with
from htmd import license
print(licenseEntitlements())
the return is a dict of license tokens. Look for "ACEMD" or "Legacy" . "O" means unlimited

[2016-10-03 13:40] giadefa commented on #83
compiling on mac, needs to move to 1.6

[2016-10-03 13:46] mj-harvey commented on #138
@shozebhaider

conda install psi4=1.0.4 -y

should fix it

[2016-10-03 14:04] stefdoerr commented on #114
[code]
What does 1.0 : 4 mean?

[2016-10-04 08:07] funnybomb opened #149 "Why can not Kinetics constructor detect source when using MetricDihedral to featurize the simulation?"
when I use MetricDihedral to build the projection and msm, and use Kinetics model to plot transition pathway,  always get
RuntimeError('Could not detect source state. Please specify it in the Kinetics constructor.')
In v1.3.4 htmd/kinetics.py or later I found
[code]
apparently, my msm model built by
[code]
so how can I determine source macrostate when I use MetricDihedral to featurize my simulatio

[2016-10-04 08:42] stefdoerr commented on #149
Indeed there is no clear way of defining the source state with dihedrals. Typically our source is:
 * for protein folding: the most extended state
 * for ligand binding: the most detached state

These can be calculated nicely when using distances and contacts, not so nicely from dihedrals.

Therefore the best solution is to throw the error. What you should do is manually select your source state.

[2016-10-04 11:34] #149 closed

[2016-10-04 11:35] j3mdamas commented on #144
@stefdoerr fixed it

[2016-10-04 11:35] #144 closed

[2016-10-04 11:36] j3mdamas commented on #143
@noeliaferruz, is this still an issue?

[2016-10-04 11:36] j3mdamas commented on #143
What I really meant is: can you provide us the info to check this eventual bug?

[2016-10-04 11:37] j3mdamas commented on #139
Yes, it should be another class, from what I understand.

[2016-10-04 12:51] j3mdamas commented on #114
@mj-harvey?

[2016-10-05 11:55] noeliaferruz commented on #143
Hi @j3mdamas
No, Unfortunately, I won´t be able to provide an example. Perhaps a system with very little data would help debug.

[2016-10-05 11:56] j3mdamas commented on #143
@stefdoerr, if it's unreproducible, I would consider closing this issue. What do you think?

[2016-10-05 13:01] stefdoerr commented on #143
Did you try to find an example which has few trajectories in a macrostate? I might look into it

[2016-10-05 13:08] stefdoerr commented on #119
Fixed here: https://github.com/Acellera/htmd/commit/bbfed212944bb7e79587025b49aafab8f89c201d
However I think I don't really understand how tleap works. For example if you write out a mol2 file with no atoms (just sections) it produces lots of empty atoms in some prmtop fields totally ruining everything. So now if there is nothing with atomtype I don't write a mol2. However this reduces a bit my co

[2016-10-05 13:10] stefdoerr commented on #119
Ideally I would try Ben/Tryp and a system with two different mol2 ligands. I will take a look at it

[2016-10-05 13:12] j3mdamas commented on #119
ok. I guess this behaviour does not affect opm amber, so I'm cool with it. I hope merging won't be a nightmare in the future.

[2016-10-05 13:13] stefdoerr commented on #119
Ah also tleap when reading mol2 files renames the resname of all atoms to MOL (or whatever you write at the top of the mol2 file)

[2016-10-05 13:23] stefdoerr commented on #119
@noeliaferruz how do I produce a `frcmod` file for Benzamidine?

[2016-10-05 13:28] noeliaferruz commented on #119
You can quickly produce one with parmchk (or parmchk2) if you have a mol2 file:
[code]

[2016-10-05 13:31] stefdoerr commented on #119
Awesome!

[2016-10-05 13:33] stefdoerr commented on #119
AMBER requires all ligands I guess in mol2 format? Because the pdb file (from which I got the mol2 file) does not match the frcmod file.

[2016-10-05 13:34] stefdoerr commented on #119
Ah or pdb+prepi?

[2016-10-05 13:37] j3mdamas commented on #143
I have no example

[2016-10-05 13:40] noeliaferruz commented on #119
exactly, you can have a mol2 which will include the topology. And from
there with parmck get the frcmod.

Or if you have a pdb, you can create a prepi with antechamber to map the
topology, and then from the latter a frcmod with pmchk again.

On Oct 5, 2016 3:34 PM, "Stefan Doerr" <notifications@github.com> wrote:

[2016-10-05 13:47] stefdoerr commented on #119
Cool :) I'm working on it now.

However for some reason tleap decides to remove the ligand from my system if there is a protein and I load a mol2 like this. Works fine with just a ligand or just a protein (or with a single pdb instead of pdb+mol2).
[code]

Do you have any clue how to add two molecules into one system in tleap?

[2016-10-05 13:50] stefdoerr commented on #119
Ah no sorry false alarm

[2016-10-05 14:01] stefdoerr commented on #119
Okay I built now Ben/Tryp
a) With Ben: mol2 and frcmod
b) With Ben: pdb and prepi and frcmod
To me they look very similar. If someone with some AMBER file/log knowledge can take a look at the files and check if they are close enough it would be awesome. The logs have many warnings which worry me a bit but the final system in VMD looks identical.

[bentrypamber.zip](https://github.com/Acellera/htmd

[2016-10-05 15:00] stefdoerr commented on #119
For me this issue is closed with my last commit https://github.com/Acellera/htmd/commit/99aec8536943c3f5820f3b054b0f145373ca7590. I tested with multiple ligands and with ben/tryp. Seems ok unless someone says otherwise from the parameters/logs point of view.

[2016-10-06 09:31] GerardBCN commented on #138
I get the same error. Please share with us whether you found a solution to this problem :)

[2016-10-06 10:35] GerardBCN commented on #138
In my case it was a permissions issue. Original permissions where only to root:

`-rwx------   2 root root   1401536 Sep 14 15:22 libiomp5.so*`

after giving permissions to my user it all worked correctly.

[2016-10-06 10:35] j3mdamas commented on #138
@mj-harvey, I think you have to fix the permissions in the psi4 package

[2016-10-06 10:38] stefdoerr commented on #138
Is that even Matt's package? I thought it was an external dependency

[2016-10-06 10:39] j3mdamas commented on #138
we use a psi4 built by Matt, if I'm not msitaken

[2016-10-06 10:49] j3mdamas commented on #138
https://anaconda.org/acellera/psi4

[2016-10-06 12:45] mj-harvey commented on #138
"conda update psi4" y'all.

[2016-10-06 12:45] #138 closed

[2016-10-07 08:49] stefdoerr commented on #143
@noeliaferruz check the definition of [sampleStates](https://www.htmd.org/docs/latest/htmd.model.html?highlight=samplestates#htmd.model.Model.sampleStates) specifically argument `statetype` :smile:
But you have a point. The default should be `'macro'` and not `'micro'`. Changing it now.

[2016-10-07 08:49] #143 closed

[2016-10-07 09:42] mj-harvey opened #150 "OSX travis build broken -- gfortran mysteriously missing"
Have contacted travis support to ask wtf.

[2016-10-07 14:11] j3mdamas commented on #150
let's wait for them then

[2016-10-07 15:58] mj-harvey commented on #150
fixed

[2016-10-07 15:58] #150 closed

[2016-10-07 22:11] j3mdamas commented on #109
did a pull request from the multiscalelab fork and it worked, issue solved.

[2016-10-07 22:11] #109 closed

[2016-10-10 08:10] driesvr opened #152 "Choice of hyperparameters"
Hi,
I'm working on a protein - ligand binding simulation in a similar fashion to the tutorial example. I'm wondering how the hyperparameters (the tica lagtime, for example) used there are selected?

Thanks,

Dries

[2016-10-10 08:28] stefdoerr commented on #152
The tica lagtime is kind of arbitrary. If you read the original papers published by Pande and Noe they both claimed that the lagtime didn't have a very large effect. In some further presentations however they showed a heuristic for choosing a lagtime by plotting the auto-correlations of the input features and then choosing a lagtime at which there was a clear gap between slowly decorrelating and f

[2016-10-10 08:37] #152 closed

[2016-10-10 11:39] hawk31 opened #153 ".pdbqt reader failure"
This is probably caused by a non-standard format. Replicating.

[code]

Produces

[code]

[2016-10-10 11:41] stefdoerr commented on #153
There are underscores in the resid's. Remove those and it will work.

[2016-10-10 11:41] #153 closed

[2016-10-10 12:21] spyda90 commented on #74
Hi!
So is the 1.6.0 available right now?
Which is the right command to cleanly update htmd?

Francesco

[2016-10-10 12:48] j3mdamas commented on #74
1.6.0 will be due by January 13, 2017.

1.4.0 should be up by the end of the week, hopefully. It has a new version of parameterize, but this issue will probably not be solved.

Thanks for reporting it though. We will do our best to improve the parameterization tool.

[2016-10-11 12:29] mj-harvey commented on #114
it means 4 gpus

[2016-10-11 12:30] stefdoerr commented on #114
and the 1.0?

[2016-10-11 12:36] j3mdamas commented on #114
version of the license, I think

[2016-10-11 20:10] KendyP opened #154 "Adaptive sample notebook/data set"
Hello,
Is there an example ipython notebook and data set available for the Adaptive tutorial found on the htmd site? I am attempting to set up Adaptive and would like some data to run through the tutorial.

Thank you,
Kendy

[2016-10-11 20:17] giadefa opened #155 "new docs overshoot my screen on my laptop"
and there is no scrollbar to reach further right

[2016-10-11 20:17] giadefa opened #156 "protocols page missing in documentation"

[2016-10-11 21:20] stefdoerr commented on #155
Get a decent laptop :D just kidding but yeah that's what happens when you go from 1100 to 1300 pixels. Weird though because the scrollbar worked when I tried resizing it on my desktop. I'll try fixing it

On October 11, 2016 10:17:20 PM GMT+02:00, Gianni De Fabritiis <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-12 10:36] stefdoerr commented on #154
Practically you only need the generators and an example python script. I can provide you with some for Villin.

http://pub.htmd.org/generators_villin.zip
Here you go.

The adaptive script should then be something like in the tutorial
[code]

That should be all you need. Tell me if something goes wrong.

[2016-10-12 10:36] #154 closed

[2016-10-12 10:39] stefdoerr commented on #156
I made a temporary one. Someone should add some more content I guess.

[2016-10-12 10:46] stefdoerr commented on #156
Also reorganized the docs a bit to put the adaptive, protocols and apps under a common "MD simulation" section since we were double linking them.

[2016-10-12 11:45] j3mdamas commented on #156
did you push that to git or just published on www.acellera.com?

[2016-10-12 11:50] j3mdamas commented on #156
The holiday came in the middle of the modifications, but Stefan and I will continue tomorrow.

[2016-10-12 11:50] #156 closed

[2016-10-12 13:09] spyda90 commented on #74
Thank you! So I'll wait for trying both versions...!

[2016-10-13 03:28] huanyusb opened #157 "view(viewer='ngl') doesn't work"
I try the example on the homepage of htmd.org, here is the output:
![screenshot from 2016-10-13 11-24-56](https://cloud.githubusercontent.com/assets/7170798/19335675/bbb7bcc8-90ca-11e6-81cb-4297f12fb621.png)

the ngl viewer shows a blank page.
I also tried the nglviwer module: https://github.com/arose/nglview It works well.
Could anybody give me some instructions?
Thank you.

[2016-10-13 07:57] stefdoerr commented on #157
Hm works fine for me. Could you try updating ngl with `conda update nglview` ? Mine is on version 0.4
![tmp](https://cloud.githubusercontent.com/assets/7935362/19340873/4b395572-912b-11e6-94c2-88323f7705bc.png)

[2016-10-13 08:22] huanyusb commented on #157
I triednglviwer 0.4 and 0.5, but both of them failed.

[2016-10-13 08:24] giadefa commented on #157
which browser?

On 13 October 2016 at 10:22, huanyusb <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.com/m

[2016-10-13 08:27] huanyusb commented on #157
@giadefa
It's Chrome, version 53.0.2785.143 (64-bit), on a ubuntu 16.04 desktop

[2016-10-13 16:07] j3mdamas commented on #157
Which versions of ipython and notebook do you have?
[code]

[2016-10-13 16:17] hainm commented on #157
FYI: `nglview`  API was changed significantly for better performance.
https://github.com/arose/nglview/blob/master/nglview/adaptor.py#L178-L210

`htmd` dev might need to update your code:
https://github.com/Acellera/htmd/blob/master/htmd/molecule/molecule.py#L1004

cheers

[2016-10-13 16:25] j3mdamas commented on #157
thanks for the tip @hainm. still, that should be in 0.5, and this seems to occur also on 0.4.

[2016-10-14 00:04] huanyusb commented on #157
@j3mdamas
the ipython version is 4.1.2
and the notebook version is 4.2.1

[2016-10-14 22:34] j3mdamas opened #158 "mybinder.org"
http://mybinder.org/

See example:
http://mybinder.org/repo/binder-project/example-requirements

Could be something interesting to allow people to run the tutorials immediately, even without installing htmd. With https://github.com/binder-project/example-conda-environment, we can use an .yml file to express dependencies of the tutorials.

[2016-10-14 22:35] j3mdamas commented on #40
Ethanol for "Learn HTMD"
Benzamidine or others inside "HTMD Applications"

[2016-10-14 22:36] j3mdamas commented on #27
Put inside "Learn HTMD"

[2016-10-15 00:44] j3mdamas commented on #64
done, the docs are now much cooler :)

[2016-10-15 00:44] #64 closed

[2016-10-15 06:53] stefdoerr commented on #158
That's really cool! Also a practical way of downloading the tutorials. Only problem is that some tutorials have dependencies on large datasets which we probably won't be able to have there.

[2016-10-15 14:02] j3mdamas commented on #158
the tutorials download is already taken care of, with some html kung-fu ;)

yeah, you are right. I am guessing that this server won't allow downloads or running simulations.

Is there a way to save `MetricData` the same way we save `Model`? We could teach people how to do the projections and ship the projected data instead of the actual trajectories

[2016-10-15 15:53] j3mdamas commented on #114
moving this to 1.6.0

[2016-10-15 17:20] j3mdamas commented on #157
ngl does not work for me at all. need to check what is going on.

[2016-10-15 18:10] stefdoerr commented on #158
Um...yes https://www.htmd.org/docs/latest/htmd.metricdata.html?highlight=metricdata.save#htmd.metricdata.MetricData.save

[2016-10-15 19:01] j3mdamas commented on #158
cool. I think in the future we can use this instead of full trajectories for tutorials. much more lightweight.

by the way, mybinder.org also has the problem of accepting a license from it.

[2016-10-20 11:59] GerardBCN opened #159 "Command line parameterize ignores -n/--ncpus flag"
Whatever value is passed to parameterize (e.g. parameterize -n 8) is ignored and the default of 12 cores is used...

[2016-10-20 17:26] j3mdamas commented on #159
I had already noticed this, but I didn't have the time. I am fixing it.

[2016-10-20 19:25] j3mdamas commented on #159
I have got a fix for it, but I am just figuring out something else, because this is going to be part of a clean-up on parameterize.

[2016-10-24 09:41] PabloHNieto opened #160 "Adding patches charmm22*"
I'm trying to include phosphate patches (SP2, TP2 and THP2) with charmm22\*
using:

topos = ["top/top_all22star_prot.rtf",
           "top/top_all36_cgenff.rtf",
           "top/top_all36_na.rtf",
           "top/top_water_ions.rtf"]

params = ['par/par_all22star_prot.prm',
            "par/par_all36_cgenff.prm",
            "par/par_all36_na.prm",
            "par/par_water_ions.prm"]

strs = ['s

[2016-10-25 18:29] j3mdamas commented on #160
I'll look into it.

On Oct 24, 2016 11:41 AM, "PabloHNieto" <notifications@github.com> wrote:

[2016-10-25 18:30] j3mdamas commented on #159
Fixed here: 57f65e00fe6d702d24fbc4655f2d095ec66b73eb
Will be on the next release (1.5.2)

[2016-10-25 18:30] #159 closed

[2016-10-25 20:56] KendyP opened #161 "Adaptive Error"
Hello,
I had posted previously about having a tutorial for adaptive and was sent some example data for villin and a small python script to run. In the text file error.txt I have included the error, as well as the python script used. Simulations were generated and ran to completion, but there was an error with processing the data. Any help is greatly appreciated. Thank you.

Kendy
[error.txt](https

[2016-10-25 21:00] stefdoerr commented on #161
AdaptiveRun is looking for your simulations in a folder called `./data` however you are writing all your simulations in the folder generators (which you should not. generators should be left untouched). So it complains that no simulations can be found.

Take a look at the [updated tutorial](https://www.htmd.org/docs/latest/tutorials/adaptive-sampling-example.html#how-to-start), it might help.

Try

[2016-10-25 21:01] #161 closed

[2016-10-26 15:30] KendyP opened #162 "Adaptive error"
Hello,
Utilizing the sample dataset for Villin, the following error was produced while running adaptive. Simulations were completed and filtered, but an error occurred concerning metricsel1. In error2.txt, you'll find the error, as well as the python script used to run adaptive. Any help is greatly appreciated. Thank you.

Kendy
[error2.txt](https://github.com/Acellera/htmd/files/553715/error2.txt

[2016-10-26 15:33] stefdoerr commented on #162
I apologize for not mentioning it before but use `AdaptiveMD` instead of `AdaptiveRun`. `AdaptiveRun` is deprecated. Here it's failing because you are using argument of `AdaptiveMD` in `AdaptiveRun`.

[2016-10-26 15:33] #162 closed

[2016-10-26 17:14] KendyP opened #163 "Adaptive error"
Hello
I had changed the script to reflect the deprecation of AdaptiveRun term, but I am still receiving a metricsel error, although not the same one I had previously asked about. I have attached the error and script used in error3.txt.

Thanks,
Kendy
[error3.txt](https://github.com/Acellera/htmd/files/553997/error3.txt)

[2016-10-26 17:46] stefdoerr commented on #163
The argument is called `projection` not `project` https://www.htmd.org/docs/latest/htmd.adaptive.adaptiverun.html?highlight=adaptivemd

Please look at the adaptive tutorial code
https://www.htmd.org/docs/latest/tutorials/adaptive-sampling-example.html#adaptive-script-example

[2016-10-26 17:54] KendyP commented on #163
My apologies. I used this argument because it was in an example script previously sent to me. I will make this change. Thank you for your time.

[2016-10-27 09:35] GerardBCN opened #164 "Parameterize error PSI4-specific"
Hi, the following molecule gives en error when using PSI4 but runs just fine with using Gaussian. I attach the error, the command used and the molecule:
- Error

[code]

Command:

`parameterize -m mes.mol2 -n 12 --qmcode PSI4 -c -1`

[2016-10-27 09:38] GerardBCN commented on #164
Molecule file: http://pub.htmd.org/mes.mol2

[2016-10-27 09:41] j3mdamas commented on #164
Just out of curiosity, can you clean all outputs and run it again?

[2016-10-27 11:49] mj-harvey opened #165 "Include omnia channel deps in acellera channel"
Try doing this automatically in the travis process.

[2016-10-27 11:50] j3mdamas commented on #165
1.6? or 1.8?

[2016-10-27 11:56] mj-harvey opened #166 "refactor htmd.qmcalculation to use new htmd.execution classes"
Pending htmd.execution refactoring by stefan. @stefdoerr : tell me when you have that done would you, please?

[2016-10-27 11:57] stefdoerr commented on #166
execution meaning the i.e. `Acemd` class part right? Not the `queues`.

[2016-10-27 12:19] j3mdamas commented on #166
nope, Matt means Queues. Actually, renaming to `ExecQueues` instead of `SimQueues` could be better.

[2016-10-27 12:20] mj-harvey commented on #164
PSI4 generates a heap of stack trace chaff when things go wrong, but the only thing thta's useful is the psi4.out log file, in this case in the minimize/ directory . Can you show me that?

[2016-10-27 12:24] stefdoerr commented on #166
Hah `ExecQueue` sounds even like a wordplay: 'execute' -> 'exequeuet' -> 'execqueue'

[2016-10-27 12:27] stefdoerr commented on #166
But beyond the naming @mj-harvey , I think the queues are done. You can see my implementations of local and slurm

[2016-10-27 12:29] stefdoerr commented on #166
They assume the existence of a `run.sh` file in each folder submitted and they write a `job.sh` file into each folder

[2016-10-27 12:52] GerardBCN commented on #164
seems that is a workspace1-specific error because I can't reproduce it locally. maybe is missing some library?

http://pub.htmd.org/minimize-mes.zip

[2016-10-27 12:54] mj-harvey commented on #166
Can one of your refactor LSF and PBS as well, please? I'll do acecloud.

[2016-10-27 15:35] j3mdamas commented on #166
It's on my to do list (for clients)

On Thu, Oct 27, 2016 at 2:54 PM, M J Harvey <notifications@github.com>
wrote:

--

[2016-10-27 15:36] GerardBCN commented on #164
Did it twice... same result

On Oct 27, 2016 11:41 AM, "João M. Damas" <notifications@github.com> wrote:

[2016-10-27 15:41] KendyP commented on #163
My apologies. I used this argument because it was in an example script you had previously sent me. I will make this change. Thank you for your time.

Kendy

________________________________
From: Stefan Doerr <notifications@github.com>
Sent: Wednesday, October 26, 2016 1:46:05 PM
To: Acellera/htmd
Cc: Kendy Pellegrene; Author
Subject: Re: [Acellera/htmd] Adaptive error (#163)

The argument is call

[2016-10-27 15:43] #163 closed

[2016-10-27 15:44] giadefa commented on #163
the protocol interface should have picked the non-existing argument though,
no?

On 26 October 2016 at 19:54, KendyP <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A

[2016-10-27 15:48] stefdoerr commented on #163
There actually is a `.project` argument for the project name :P Maybe we should rename it to `projectname`.

[2016-10-27 21:48] sfsdrake opened #167 "NVIDIA Pascal cards"
Downloading the free acemd.2016.3, which supports the new Pascal boards, results in a license error. Is acemd.basic going to work with the new architecture?

[2016-10-27 22:15] giadefa commented on #167
yes,
can you please paste the error?

gianni

On 27 October 2016 at 23:48, sfsdrake <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>

[2016-10-28 08:22] GerardBCN opened #168 "ACEMD syntax error on parameters generated with parameterize"
The line in bold produces a syntax error in acemd:

[code]

I suspect that underscore (_) is a forbidden character.

!Following lines added from mol.prm
C261   C261     305.00   1.3750
C261   HG61     340.00   1.0800
C261   CDC1     365.00   1.4500
C261   N311     330.00   1.4000
C261   HG62     340.00   1.0800
CDC1   C321     365.00   1.5020
C321   N301     263.00   1.4740
C321   HGA2     309.00

[2016-10-28 08:35] j3mdamas commented on #168
Yes. I already fixed this on: c639b0f79285272c215e28a9b333b4d14f4bb829
It's going to be on the next release (maybe today).
If you want a quick fix, replace all `_` by `x`, for example, or pull the latest github version.

by the way, which version of acemd are you using? in the latest one, this shouldn't be a problem. use the acemd from conda.

[2016-10-28 08:35] #168 closed

[2016-10-28 08:40] GerardBCN commented on #168
# ACEMD Molecular Dynamics Version [] (git [222fcc8])

2016-10-28 10:35 GMT+02:00 João M. Damas <notifications@github.com>:

[2016-10-28 08:58] j3mdamas commented on #168
Should be this:

`# ACEMD Molecular Dynamics Version [2016.10.27] (git [992255])`

do: `conda update acemd -c acellera`

[2016-10-28 09:04] j3mdamas commented on #167
Hi,

Now acemd is also distributed through conda (and a dependency of htmd).

You can do `conda update acemd -c acellera`

Version 2016.10.27 should support Pascal cards, as long as you updated your driver to CUDA 8.

For acemd specific issues, you can also use this channel: https://github.com/Acellera/acemd_issues

[2016-10-28 10:38] j3mdamas commented on #166
multiscalelab/htmdlab#96

[2016-10-28 12:18] GerardBCN opened #169 "Warning "Got charge -1 Warning: 1 is an unknown parameter!" when using -c with negative charges"
I don't know if there's really any way to solve this. It is purely aesthetics, but -1 should not be seen as a parameter flag in case of "-c -1"

[2016-10-28 13:59] j3mdamas commented on #169
Yes, it's aesthetics. It's actually not a problem from the flag you pass to parameterize, but the flag passed to MATCH, which does the atom typing. I'll still try to fix it.

[2016-10-31 11:35] GerardBCN opened #170 "Parameterize KeyError when starting from ParamChem parameters"
When using --prm and --rtf flags to start from paramchem parameters, the parameterization fails at the charge fitting step with the following output:

[code]

Working directory in http://pub.htmd.org/MES_PSI4.zip

[2016-10-31 11:36] GerardBCN commented on #170
The command to run parameterization was:

`parameterize -m mes.mol2 -n 12 --rtf ff.rtf --prm ff.prm --qmcode PSI4 -c -1`

[2016-11-01 14:00] mj-harvey opened #171 "HTMD Documentation update"
1) Please change the download page https://www.htmd.org/academic-download.html to reference

the "latest" version of Miniconda from http://conda.pydata.org/miniconda.html --
https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh , etc --
rather than the specific old version

2) Omnia channel packages are now included in the acellera channel. Please remove reference to configuring th

[2016-11-01 14:17] j3mdamas commented on #171
37cc03bf2c5593a5db9048d60af7573a40239ac2
done
will push just the corresponding static page to the server

[2016-11-01 14:17] #171 closed

[2016-11-01 15:35] mj-harvey commented on #165
done

[2016-11-01 15:35] #165 closed

[2016-11-01 15:36] mj-harvey commented on #167
@sfsdrake Please do a "conda update aemd" to ensure you have the latest version (2016.10.27). If you still have a proble, please don't hesitate to reopen this issue.

[2016-11-01 15:36] #167 closed

[2016-11-03 10:05] j3mdamas opened #172 "Some parameterize improvements"
- [x] DFT on QM code
- [x] Terachem support
- [x] Acecloud execution for QM calculation
- [x] Non-sequential dihedral fitting (all at the same time until convergence)

I think you solved most of these, right @mj-harvey?

[2016-11-03 17:19] j3mdamas commented on #157
We are on the way of fixing this. @stefdoerr already updated nglview.

Apparently there is a lingering problem with jupyter, where we need to enable the nlgview extension:

[code]

[2016-11-03 17:22] hainm commented on #157
No, you don't need to do that. `nglview` does itself. https://github.com/arose/nglview/blob/master/setup.py#L34

[2016-11-03 17:30] stefdoerr commented on #157
@hainm Yes but who calls setup.py if you install via conda?

[2016-11-03 17:32] stefdoerr commented on #157
I tried on other computers after it worked for me and it didn't work through conda alone. Installing with `setup.py` worked in all cases. Also with conda and the two commands Joao mentioned it worked. So it seems that if you install through conda the extension is not enabled.

[2016-11-03 17:34] hainm commented on #157
you should update your conda recipe. e.g: https://github.com/conda-forge/ipyleaflet-feedstock/blob/master/recipe/post-link.sh

[2016-11-03 17:34] stefdoerr commented on #157
oh ok. @mj-harvey can you do that?

[2016-11-03 18:06] j3mdamas commented on #157
So, with
`0.5.2                    py35_4  acellera` it is working. in the current `master`. It will be available on the next release (1.5.2)

btw, thank you very much for your input @hainm !

[2016-11-03 19:04] BIORAK opened #173 "Running adaptive sampling using GROMACS"
I wanted to run the adaptive sampling simulation protocol in HTMD using GROMACS mdrun instead of acemd so how do I go about implementing this.

[2016-11-03 19:10] stefdoerr commented on #173
Hi, on what infrastructure would you like to run it? Locally on GPUs?
In the next few days there will be a new release which will simplify a lot the setup as well.
Practically you need one folder for each starting simulation containing all files needed to run the simulation plus a `run.sh` file which calls the gromacs executable with whatever arguments you want.
So each folder will contain a readi

[2016-11-03 22:35] giadefa commented on #173
I think that he is not asking at all about the queuing system.

On 3 November 2016 at 20:10, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A14480185832

[2016-11-04 09:06] BIORAK commented on #173
Hi, Thanks for the replies. In your JCTC paper under Listing 3 you had md.app = AcemdLocal() which I guess calls local acemd execuatble, so I wanted know how do I replace this with calling mdrun executable which is installed locally. I will be running on GPU nodes.

[2016-11-04 09:28] stefdoerr commented on #173
As I was saying, in the new version we are slowly deprecating `AcemdLocal` for `LocalQueue` which is software independent. The only thing you have to do is as I said make a folder for each simulation with a `run.sh` script in it that calls `mdrun`. Then put those folders in a folder called generators as detailed here: https://www.htmd.org/docs/latest/tutorials/adaptive-sampling-example.html#how-to

[2016-11-04 10:06] giadefa commented on #173
it's not that simple can you give us one example and we try to make it work?

On 4 November 2016 at 10:28, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId

[2016-11-04 11:31] mj-harvey opened #174 "Add Appveyor CI for true Windows build and testing"
Right now our Windows build isn't tested at all, we cut a release from a successful linux build and hope for the best. Travis does have native windows support, we have to use a different CI, Appveyor, for that.

[2016-11-04 11:44] j3mdamas commented on #174
What do you need?

[2016-11-04 13:07] BIORAK commented on #173
Thanks for the replies. So if I understand correctly I will have to wait till the new version is released inorder to perform mdrun based adaptive sampling. Is it possible for me get the new version if it is ready ?

[2016-11-04 13:09] stefdoerr commented on #173
As Gianni says it's probably not that trivial. Can you give me one of your simulations? Then I can test it and tell you how to do it. I don't have any GROMACS simulations here to test.

[2016-11-04 13:29] BIORAK commented on #173
Ok do you want only gromacs tpr files and pdb files or trajectories also.

[2016-11-04 13:37] stefdoerr commented on #173
I only need the input files and if it's not too big also one simulation file.

[2016-11-04 13:43] mj-harvey commented on #173
@biorak
Everything required to build the TPR file, please: all files and the sequence of commands. For adaptive to work we need to be able to generate new TPRs

[2016-11-04 15:04] BIORAK commented on #173
Can you send me the directory structure ? According to the website all your input files are stored in generators. In gromacs along the grompp module reads the pdb file and the parameter file (.mdp) to generate tpr file. For example after NPT equilibration, the sequence of commands are,

gmx grompp -f md.mdp -p ../../top/protein.top -c ../npt/npt.pdb -o md.tpr -t ../npt/npt.cpt
gmx mdrun -v -stepou

[2016-11-04 17:02] mj-harvey commented on #127
done as a one-off

[2016-11-04 17:02] #127 closed

[2016-11-04 17:02] mj-harvey commented on #157
Fixed in devel and next release

[2016-11-04 17:02] #157 closed

[2016-11-04 17:03] #114 closed

[2016-11-04 17:42] j3mdamas commented on #127
where is it?

[2016-11-04 17:43] j3mdamas commented on #127
so I can put it in the HTMD doc replacing the iframe

[2016-11-04 18:12] driesvr opened #175 "Getting one representative structure of a macrostate"
Hi everyone,

I'm looking to get a single representative structure for a macrostate. I could do this with
`model.viewStates(numsamples=1)`, but if I read the code correctly this grabs a more or less random sample (depending on the samplemode) from the macrostate? Is there a straightforward manner to do this, or should I just get the frames corresponding to the macrostate and then get a cluster cen

[2016-11-04 18:50] stefdoerr commented on #175
Hm, getting the single most representative structure is not trivial.
Practically you can only get the most representative microstate of a macrostate. You cannot assign "representativeness" to the conformations themselves unless you want to do some density clustering inside the microstate or calculate the median conformation (which is possible).

[code]

This should give you random conformations fr

[2016-11-04 20:26] j3mdamas opened #176 "code coloring css on documentation"

[2016-11-04 22:08] stefdoerr commented on #176
Hm I have a feeling that the issue here is that the notebooks have not been executed. They are missing the outputs of the commands as well. I added a temporary fix but I think the problem is elsewhere.

[2016-11-04 22:19] stefdoerr commented on #176
[code]

Hm I can't publish docs anymore...

[2016-11-05 01:11] j3mdamas commented on #176
Stefan, don't publish docs of non release versions.
Matt has to give you back permissions.
What do you mean by executed notebooks? Executed cells? Some were and
looked the same.

On Nov 4, 2016 11:19 PM, "Stefan Doerr" <notifications@github.com> wrote:

[sdoerr@loro doc]$ make publish
ssh www.acellera.com 'rm -rf ~/www.htmd.org/docs/latest/*'
Enter passphrase for key '/home/sdoerr/.ssh/id_rsa':
rm

[2016-11-05 10:07] stefdoerr commented on #176
Yeah, cells should be executed manually beforehand otherwise it only prints the code without the results.
I.e. this one: https://www.htmd.org/docs/latest/tutorials/system-building-protein-ligand.html

Also, changing the css is not gonna change the docs that much :P Also since we'll make a new release in the next days.

[2016-11-05 14:11] j3mdamas commented on #176
I just don't think it's a good principle, because it will have the devel
changes since last release, and then the doc won't match the conda release.
But in this particular case it's alright.

On Nov 5, 2016 10:07 AM, "Stefan Doerr" <notifications@github.com> wrote:

[2016-11-05 14:48] mj-harvey commented on #172
Only thing left to do is ESP computation with Terachem , which is doesnt currently support in the way we'd like.

[2016-11-05 14:48] #172 closed

[2016-11-06 16:52] j3mdamas opened #177 "Learn/Applications tutorials refactoring"
Forgot to create this issue, which was just on my notebook. Will fill up information ASAP

[2016-11-06 16:54] j3mdamas commented on #177
What is already done is the moving of non-tutorials tutorials to documentation: f85957ffa646cf58411b5bc3df82b9e1a67e8899 5b4371b09374f288101f9057e464f175e27cbd33

[2016-11-06 17:46] BIORAK commented on #173
@mj-harvey @stefdoerr

I have added all the required files along with the sequence of commands to run the Gromacs programs. You can clone this repository https://github.com/BIORAK/GROMACSAdaptiveMD.git .

In addition the equilibration runs (1ns) and production run (10ns) were performed using the directory structure as in the repository. Please be aware of this while using the commands.

In order t

[2016-11-06 20:59] stefdoerr commented on #173
Many thanks! I am sorry but I won't be able to solve this till next week because this week we are having a HTMD workshop which will have us all very busy. But I will definitely look at it the week after.

[2016-11-06 21:00] j3mdamas commented on #173
@stefdoerr I have many experience with GROMACS, so I can help you if you want

[2016-11-07 10:08] GerardBCN opened #178 "Parameterize for AMBER forcefield"
Is it possible to obtain parameters for amber forcefield using parameterize?

[2016-11-07 10:19] driesvr commented on #175
Hi Stefan,
Thanks for the reply, that sounds like a good alternative. However, for 4 out of 5 macrostates, this returns the same microstate index.

[2016-11-07 10:46] BIORAK commented on #173
@stefdoerr No problem you can get back to me after your workshop

[2016-11-07 11:03] stefdoerr commented on #175
ah okay I see. So there is a microstate which is spread all over your macrostates with a high probability. Could possibly be the bulk state.

To avoid that you can use the metastable_assignments and only get the distributions for the microstates which were hard-assigned to each macrostate.

[code]
I think this should work (untested code warning :P )

[2016-11-07 11:30] j3mdamas commented on #178
Yes. You have to use gaff as initial guess, and those should give you amber
format parameters

On Nov 7, 2016 10:08 AM, "GerardBCN" <notifications@github.com> wrote:

[2016-11-07 11:33] giadefa commented on #178
in such case use gaff2

On 7 November 2016 at 12:30, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.a

[2016-11-07 11:48] driesvr commented on #175
It was indeed a microstate representative of the bulk state! That code works like a charm, I just had to turn `microsocmacro4[idx] `into a list to get it to work:
[code]

Thanks for the help :)

[2016-11-07 11:48] #175 closed

[2016-11-07 12:03] #178 closed

[2016-11-07 12:20] stefdoerr commented on #175
Great! You are welcome :)

[2016-11-07 16:15] GerardBCN commented on #178
amber.build should probably use gaff2 as default. Currently:

ff : list of str
    A list of leaprc forcefield files. Default: ['leaprc.lipid14', 'leaprc.ff14SB', **'leaprc.gaff**']

[2016-11-07 16:32] j3mdamas commented on #178
Because we are still using amber tools 15

On Nov 7, 2016 4:15 PM, "GerardBCN" <notifications@github.com> wrote:

[2016-11-07 16:41] GerardBCN opened #179 "Amber build fails to build ligand correctly"
When building a protein-ligand system with AMBER, the intermediate input.pdb generated contains something like this:

[code]
which later makes tleap to fail and try to regenerate one ligand from each of the TER-separated atoms from the same ligand. Am I doing something wrong, perhaps? I defined the ligand as segid L.

[2016-11-07 16:46] stefdoerr commented on #179
Why are there waters in your ligand?

[2016-11-07 16:59] GerardBCN commented on #179
There are none, actually. Notice how the segids are well set.

[2016-11-07 17:03] GerardBCN opened #180 "Amber.build generated structure.pdb doesn't include the predefined segid field"
I guess is because of the way you load the .crd ontop of the .prmtop. I think is useful to keep segids fields in case one needs to apply specific restrains (for example on the crystal waters) and also for consistency with charmm.build.

[2016-11-07 17:23] GerardBCN commented on #179
Stefan suggests it may be related to the capping, @j3mdamas

[2016-11-07 17:24] stefdoerr commented on #180
tleap throws away segid's. nothing to be done.

[2016-11-07 17:24] #180 closed

[2016-11-07 17:34] j3mdamas commented on #179
I'll need to see this when I'm back. I haven't push my last changes to the
amber capping. But I recall Stefan changing ligand treatment in amber,
didn't you Stefan?

On Nov 7, 2016 5:23 PM, "GerardBCN" <notifications@github.com> wrote:

[2016-11-07 17:35] j3mdamas commented on #180
You have to find another way to set those restrains gerard.

On Nov 7, 2016 5:24 PM, "Stefan Doerr" <notifications@github.com> wrote:

[2016-11-07 17:35] stefdoerr commented on #179
Yeah but the capping happens before that

[2016-11-07 17:41] j3mdamas commented on #179
Ok I'll have to check it then

On Nov 7, 2016 5:36 PM, "Stefan Doerr" <notifications@github.com> wrote:

[2016-11-07 21:57] mj-harvey commented on #164
@GerardBCN Still a problem with the latest version?

[2016-11-07 22:03] #146 closed

[2016-11-08 01:48] j3mdamas commented on #164
By the way, which version of psi 4 do you have? Do `conda list psi4`

[2016-11-08 09:36] GerardBCN commented on #164
psi4                      1.0.54                   py35_5    acellera

should I update?

2016-11-08 2:48 GMT+01:00 João M. Damas <notifications@github.com>:

[2016-11-08 11:05] mj-harvey commented on #176
@stefdoerr can publish again now

[2016-11-08 11:40] j3mdamas commented on #164
no, I think that's about fine. But for the sake of it, do `conda install psi4 --force` and rerun the parameterization

[2016-11-08 11:50] GerardBCN commented on #164
I get this error now:

 == Minimizing ==

Traceback (most recent call last):
  File "/shared/gerard/anaconda3/share/psi4/python/inputparser.py", line
709, in process_input
    temp = re.sub(pcm, process_pcm_command, temp)
  File "/shared/gerard/anaconda3/share/psi4/python/lib/python2.7/re.py",
line 155, in sub
    return _compile(pattern, flags).sub(repl, string, count)
  File "/shared/gerard/anac

[2016-11-08 11:51] j3mdamas commented on #178
We're using this version: https://github.com/choderalab/ambermini/tree/15.0.4/share/amber/dat/leap/cmd

which only has leaprc.gaff. when we change to amber tools 16, we'll make that change in the amber.build.

of course, the user can use amber tools 16, and use leaprc.gaff2.

João

[2016-11-08 11:51] j3mdamas commented on #164
Remove the minimization folder and try again.

[2016-11-08 12:35] j3mdamas commented on #164
Actually, it was outdated. py35_6 is the most recent.

[2016-11-08 12:38] GerardBCN commented on #164
-bash-4.2$ conda update psi4
Fetching package metadata .......
# All requested packages already installed.
# packages in environment at /shared/gerard/anaconda3:
#
psi4                      1.0.54                   py35_5    acellera

2016-11-08 13:35 GMT+01:00 João M. Damas <notifications@github.com>:

[2016-11-08 12:40] j3mdamas commented on #164
use conda install psi4 --force

On Tue, Nov 8, 2016 at 1:38 PM, GerardBCN <notifications@github.com> wrote:

--

[2016-11-08 12:47] GerardBCN commented on #164
-bash-4.2$ conda install psi4 --force
Fetching package metadata .......
Solving package specifications: ..........

Package plan for installation in environment /shared/gerard/anaconda3:

The following NEW packages will be INSTALLED:

    psi4: 1.0.54-py35_5 acellera

Proceed ([y]/n)? y

2016-11-08 13:40 GMT+01:00 João M. Damas <notifications@github.com>:

[2016-11-08 12:54] j3mdamas commented on #164
hum. @mj-harvey, do you understand why gerard only gets the build 5 and not the build 6 of psi4?

[2016-11-08 13:14] #176 closed

[2016-11-08 19:15] mj-harvey opened #181 "do we still need the dependency on openbabel?"
@j3mdamas @stefdoerr ? vina docking still?

[2016-11-08 19:17] stefdoerr commented on #181
https://github.com/Acellera/htmd/blob/master/htmd/dock.py#L103

Yarp

[2016-11-08 19:17] #181 closed

[2016-11-08 20:03] mj-harvey opened #182 "queues: dont use module pwd"
In queues/slurm.py
This module isn't portable to Windows
For now I have changed it to a deferred import
@j3mdamas

[2016-11-08 20:04] mj-harvey commented on #182
not an urgent fix

[2016-11-09 09:56] PabloHNieto opened #183 "ITS save plot"
would it be possible to include an option for model.plotTimescales to save the plot?
so far I've using the following:
def plotTimescales(... , outfile=None):
...
if outfile is not None:
            from matplotlib import pylab as plt
            plt.ioff()
            plt.figure()
            mplt.plot_implied_timescales(its, dt=self.data.fstep, units='ns')
            plt.savefig(outfile)
...

[2016-11-09 15:02] GerardBCN opened #184 "Error "builder/amberfiles folder missing" in dev version during amber.build"
[code]

[2016-11-09 16:40] j3mdamas commented on #184
I've fixed this but I haven't pushed yet... Sorry... I'll do it right now.

[2016-11-09 22:02] j3mdamas commented on #184
or maybe after tomorrow. I have to cherry pick is from other changes I am still working on.

[2016-11-09 22:10] j3mdamas commented on #183
yeah, I guess so. Let's see when there is more free time

[2016-11-10 14:40] stefdoerr opened #185 "Catch and handle TICA memory issues in adaptive"
If the input dimensions to TICA are too high it will throw a memory error while trying to calculate the covariance matrix. We should catch it and report an according humanly-understandable error that the user should reduce the dimensionality of his projection.

[2016-11-11 15:12] mj-harvey commented on #85
Hi,

Apologies for the very long delay in following this up. We have a new version of parameterise in HTMD now (1.5.4). This doesn't presently have the capability that you need, but now I see and understand your use case, I will add support for this

[2016-11-11 15:15] mj-harvey opened #186 "Add charge fixing and neutral grouping constraints in charge fitting"
For issue #85

[2016-11-11 15:16] mj-harvey opened #187 "Rename dihedral->Torsion in FFMolecule API"
For consistency of nomenclature

[2016-11-11 15:17] mj-harvey commented on #164
@GerardBCN  you should have psi4 build 8

$ conda list | grep psi4
psi4                      1.0.54                   py35_8    acellera

[2016-11-11 15:23] j3mdamas commented on #164
@GerardBCN, please report if you don't get build 8 (py35_8)

[2016-11-11 15:25] j3mdamas commented on #187
Do you want me to do this, since refactoring is easier with pycharm?

[2016-11-14 09:58] stefdoerr commented on #183
https://github.com/Acellera/htmd/commit/350776a203ce11ad7c8fdcf33a310d9053c2c330

Done

[2016-11-14 09:58] #183 closed

[2016-11-14 11:08] stefdoerr commented on #185
I made a PR in pyemma https://github.com/markovmodel/PyEMMA/pull/985
I will close this issue as it should be handled on the pyEMMA level, so follow that discussion instead.

[2016-11-14 11:08] #185 closed

[2016-11-14 11:10] stefdoerr commented on #182
Replaced with [getpass.getuser()](https://docs.python.org/3.6/library/getpass.html#getpass.getuser) which supposedly works on all 3 platforms.

[2016-11-14 11:10] #182 closed

[2016-11-14 11:12] stefdoerr commented on #6
I will close this as I don't think there is a plan anywhere soon to develop a GUI for adaptive monitoring. It's a nice feature to keep in mind for the future though.

[2016-11-14 11:12] #6 closed

[2016-11-14 11:13] stefdoerr commented on #155
Was fixed a while back

[2016-11-14 11:13] #155 closed

[2016-11-14 11:16] stefdoerr commented on #179
Gerard can you provide a zip with the files required to reproduce it?

[2016-11-14 11:22] GerardBCN commented on #179
http://pub.htmd.org/amber_failing.zip.zip

[2016-11-14 15:04] mj-harvey commented on #187
no need. only two methods need renaming. commitee

[2016-11-14 15:04] #187 closed

[2016-11-15 11:20] BIORAK commented on #173
@stefdoerr Were you able to have a look at runnning adaptive simulations using Gromacs ?

[2016-11-15 19:17] j3mdamas commented on #184
This is unrelated with what I thought. Where are you running the amber.build? Does that machine have access to /shared/gerard/HTMD/htmd/htmd/builder/amberfiles? Show me this tomorrow.

[2016-11-16 09:04] tonigi commented on #184
I'll have a look with Gerard and the source source directory at hand

[2016-11-16 12:53] katkovs opened #188 "Parameterize atom type naming inconsistency"
Hi,

I am using htmd version 1.5.4 to parameterize a molecule with GAFF. The calculations run fine, but the new atom types in the resulting frcmod and mol2 files are differently named (za,zb,zc... vs. cax0, cax1, cex0...). This prevents leap from successfully creating the prmtop topology file. One would have to guess which atom types from the frcmod file correspond to which atoms in the molecule.

[2016-11-16 13:01] katkovs opened #189 "Diffuse functions in parameterize"
Is there a way to add diffuse functions in the basis sets used for the QM calculations in parameterize (i.e. 6-31+G* and aug-cc-pVDZ)? This might be important when dealing with anions.

[2016-11-16 13:56] j3mdamas commented on #188
The plotting issue does not have to do with the naming issue, but rather with an iterative fitting procedure @mj-harvey is implementing. The original MM profile will return asap.

Can you send some small example? Of a simple molecule?

[2016-11-16 13:58] j3mdamas commented on #189
When the molecule is an anion, diffuse functions get turned on. Right @mj-harvey?

[2016-11-16 13:59] giadefa commented on #188
you can downgrade if you need to run now your ligands, but we will fix the
problem asap. thanks for reporting it

On 16 November 2016 at 14:56, João M. Damas <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEn

[2016-11-16 14:19] katkovs commented on #188
Thanks for the quick reply. According to the previous comment, I assume it is clear what the problem is. Anyways, here is your benzamidine as an example (the output frcmod and mol2 files, and the input mol2 file), this was the call:

parameterize -m benzamidine.mol2 -c 1 -n 16 -f GAFF -b 6-31g-star --theory RHF --vacuum --qmcode Gaussian

[mol.frcmod.txt](https://github.com/Acellera/htmd/files/594

[2016-11-16 14:36] katkovs commented on #189
Thanks for the reply. I've so far tried only one anionic molecule, and, with parameterize version 1.5.1 I get 6-31+G* in the gaussian input files, while with version 1.5.4 I get 6-31G*. Maybe the automatic turning on of the diffuse function got broken on the way? Or is there now a special flag for this?

[2016-11-16 15:05] j3mdamas commented on #189
You are right. I looked into the code, and for Gaussian (not for psi4 or Terachem), the diffuse functions are commented out. There should be a reason for that, and @mj-harvey should have an answer for that.

[2016-11-16 15:06] j3mdamas commented on #189
You are right. I looked into the code, and for Gaussian (not for psi4 or Terachem), the diffuse functions are commented out. There should be a reason for that, and @mj-harvey should have an answer for that.

[2016-11-16 16:11] j3mdamas commented on #184
It's fixed in 1926019c5e8d54584d7ec79d27d40c52ea3a18c9 and will be on next release (or in your case, just pull the new dev version)

[2016-11-16 16:11] #184 closed

[2016-11-16 16:12] j3mdamas commented on #184
Thanks for @tonigi to pointing out what was wrong in my `call` of tleap.

[2016-11-16 16:24] stefdoerr commented on #173
Give me a few more days please. I hope I will be able to do it this week.

[2016-11-16 17:29] j3mdamas commented on #28
I am going to close this, as this needs issue #98 to be sorted out first.

[2016-11-16 17:29] #28 closed

[2016-11-16 17:33] j3mdamas commented on #158
I'll test this and close it if it doesn't work

[2016-11-17 12:39] mj-harvey commented on #189
Hi,

If you parameterise in vacuum (--vacuum), a diffuse basis set is automatically used.
If you parameterise with solvent (the default), it shouldn't be necessary to use a diffuse basis.

[2016-11-17 12:51] stefdoerr commented on #173
@BIORAK I made the necessary changes now to HTMD to make it work with GROMACS. We will probably make a release today or tomorrow. I'll inform you when it's done.

Essentially you should add a `run.sh` in your `md` folder which does the following:

[code]
What this does is that if there is a `input.gro` file it will use the coordinates from it to make a new `tpr` file for simulation. This `input.gr

[2016-11-17 12:54] mj-harvey commented on #188
Amber parameter problem fixed in 125a7a6

[2016-11-17 12:55] j3mdamas commented on #188
@katkovs check on 1.5.5

[2016-11-17 12:55] #188 closed

[2016-11-17 12:57] mj-harvey commented on #169
@j3mdamas  did you fix this?

[2016-11-17 12:59] j3mdamas commented on #169
I don't know how match can accept the -1 as an argument rather than a flag. I was testing match alone, without python's call, and I couldn't make it not issue the warning.

Plus, the -charge flag doesn't seem to be standard. Did you create it for our version of match?

[2016-11-17 13:01] j3mdamas commented on #189
@mj-harvey: the diffuse basis set seem to be commented out for gaussian:
https://github.com/Acellera/htmd/blob/master/htmd/qm/qmcalculation.py#L762-L771

or am I missing something?

[2016-11-17 13:39] mj-harvey commented on #164
Probably has somethign to do with / on workspace1 being full.
As that's an obvious problem, and I can't repro it on another machine, I am going to close this. Please reopen if you can repro it on a nother machine, or on workspace1 once / is tidied

[2016-11-17 13:39] #164 closed

[2016-11-17 13:41] mj-harvey commented on #189
that's a bug, it should should match the logic of the psi4 and terachem pathways -- "
charge < 0 && !solvent". Could you fix it please?

[2016-11-17 13:42] mj-harvey commented on #169
Yes, it is specific to our version. Ok, leave it with me.

[2016-11-17 13:52] j3mdamas commented on #169
my perl isn't strong. I wasn't being able to escape the - in the -1 for it not to think it was a flag.
ok, i'll leave it with you then

[2016-11-17 13:53] mj-harvey commented on #169
Fixed.

[2016-11-17 13:53] #169 closed

[2016-11-17 13:56] mj-harvey commented on #170
That's working with 1.5.4

[2016-11-17 13:57] mj-harvey commented on #74
@spyda90 please try the new parameterise available now in version 1.5.4.

[2016-11-17 14:02] #189 closed

[2016-11-17 14:02] j3mdamas commented on #189
sure. done in a22590242081f8492fff680432848150dd2281f3

[2016-11-17 14:06] j3mdamas commented on #169
@GerardBCN you have to do `conda update match -c acellera`

[2016-11-17 14:12] stefdoerr commented on #173
@BIORAK can you test if running the `run.sh` works for you? I attach the files.

[test.zip](https://github.com/Acellera/htmd/files/597561/test.zip)

I am having a crash in GROMACS
[code]
But maybe I compiled gromacs wrong

[2016-11-17 14:15] j3mdamas commented on #173
@BIORAK, we need an equilibrated conformation for these tests.

[2016-11-17 14:18] stefdoerr commented on #173
I think it's equilibrated Joao. Check his github

[2016-11-17 14:32] j3mdamas commented on #173
ok, i see. anyway, unsettled water sounds to me like bad parameters, unequilibrated system.

anyway, @BIORAK will probably be the best to test it.

[2016-11-17 14:33] stefdoerr commented on #173
His original sim works fine. This only comes up when I try to put in some other coordinates. So if anything it's my fault at not inserting the coordinates correctly with the grompp command. Someone with more GROMACS expertise should check that. But let's see first if it runs for him.

[2016-11-17 14:35] j3mdamas commented on #173
your grompp looks fine

[2016-11-17 14:38] tonigi commented on #179
It's tricky. It does not occur in the debugger, for example.  No clue for now.

[2016-11-17 15:12] BIORAK commented on #173
@stefdoerr Thanks for your efforts. Right now I am away from my lab so will not be able to look at the results or code for more than a week.

I forgot to mention that I have used GROMACS 2016 which is the fastest GROMACS version and the Charmm27 forcefield for the simulations. If you have used the commands from my GromacsCommands when you use pdb2gmx please use '-ff charmm27' instead of '-ff charm

[2016-11-17 15:34] tonigi commented on #179
Should be fixed in d908c5e1f0418c8b9d52063b9b7b9078b48cefb0

[2016-11-17 15:34] #179 closed

[2016-11-17 15:36] j3mdamas commented on #179
Cool Toni, thanks!

[2016-11-17 17:03] mj-harvey commented on #186
the charges of specific atoms can now be fixed.

[2016-11-17 17:05] mj-harvey commented on #85
@dieAnto 1.5.5 will include support for freezing specific atom's charges with the argument --freeze-charge, eg

parameterize -m input.mol2 --freeze-charge C1 --freeze-charge N1

the value initially specified in the mol2 will be used. Will that be sufficient?

[2016-11-17 17:28] dieAnto commented on #85
Hi @mj-harvey thank you for adding this feature!
It is a big step forward and, in my opinion, the need for specifying atom labels makes it much more user friendly than dealing with atom indexes. Still it does require some user's expertise but it is an improvement I will definitely take advantage of!
Thank you

[2016-11-17 18:02] j3mdamas commented on #186
should we close?

[2016-11-17 18:03] j3mdamas commented on #85
@dieAnto, I'll let you know when 1.5.5 is out, and maybe you can test it and give us some feedback?

[2016-11-17 18:04] mj-harvey commented on #186
No, that's only half done

[2016-11-17 22:36] dieAnto commented on #85
@j3mdamas sure!

[2016-11-18 19:38] j3mdamas commented on #166
Just made it work with cli.py on Slurm. And it is tested. I have to do and test LSF and PBS. Do you have access to any PBS system, @mj-harvey?

[2016-11-21 10:51] j3mdamas opened #190 "fix psi4 executable default permissions from 700 to 755"

[2016-11-21 12:47] jeiros opened #191 "get_frame_count not implemented in 'webgl' viewer"
I'm getting a `NotImplementedError()` when I call the `view` method on a `Molecule` object. More specifically, I'm running:
[code]
The full Traceback is:
[code]
If I change to the `VMD` viewer this works fine.
My conda packages are the following:
[code]

Any ideas on how to fix this? Am I missing any library?

[2016-11-21 12:49] j3mdamas commented on #191
You need to update that nglview.
[code]
Let me know if it solves it.

[2016-11-21 12:51] jeiros commented on #191
[code]
Does it think it's on the last version?

[2016-11-21 12:53] j3mdamas commented on #191
probably. do: `conda update nglview -c acellera --force` If it does not work, do `conda remove nglview` and `conda install nglview -c acellera -y`

[2016-11-21 12:58] stefdoerr commented on #191
I have the impression this has to do with python versions. I saw this
before when for some reason the 2 version is installed instead of the 3.5.
Might need uninstall as Joao said

On Mon, Nov 21, 2016 at 1:53 PM, João M. Damas <notifications@github.com>
wrote:

[2016-11-21 14:53] jeiros commented on #191
I tried
[code]
But there's still an error, with a different Traceback:
[code]

[2016-11-21 14:55] j3mdamas commented on #191
Hi @jeiros. Try the remove/install pair.
The current version is:
[code]

[2016-11-21 14:55] stefdoerr commented on #191
I am starting to remember that @mj-harvey said something about deleting some conda configs. Matt???

[2016-11-21 15:03] jeiros commented on #191
I tried it on a fresh environment
[code]
And I'm still getting the `ImportError`

My `.condarc` file is:
channels:
  - defaults
  - acellera
  - omnia
  - r
[code]
acecloud-client           1.0.24                   py35_1    acellera
acemd                     0.0.0                         0    acellera
ambermini                 15.0.4                        5    acellera
bhmm

[2016-11-21 15:13] j3mdamas commented on #191
Really weird. What does `conda install -c acellera nglview=0.5.2` give you?
If that does not fix it for you, I would consider a fresh conda installation :) that's something we do from time to time :P

[2016-11-21 15:15] j3mdamas commented on #191
Oh wait, you're on OSX, right?

[2016-11-21 15:15] jeiros commented on #191
[code]

And looking for it:
[code]
Which is weird because it looks like it finds it?

[2016-11-21 15:16] j3mdamas commented on #191
We don't have the latest nglview on OSX...

[2016-11-21 15:16] jeiros commented on #191
Yeah I'm on OSX sorry forgot to mention that :(

[2016-11-21 15:16] jeiros commented on #191
Oh ok that at least solves the mistery 😄

[2016-11-21 15:16] j3mdamas commented on #191
@mj-harvey, can we have the new nglview on OSX?

[2016-11-21 15:17] stefdoerr commented on #191
@mj-harvey you said that it's a platform independent build. Can you please release the one for OSX?

[2016-11-21 15:48] driesvr opened #192 "Error estimates and model validation"
Hi guys,
I have a few more issues that I'd love some help on. For model validation I'd like to do a chapman-komolgorov test. However, it looks like there's no way to do so within HTMD?
I'd also like to obtain an error estimate on the DeltaG value for my protein:ligand complex. Is there a builtin way to do this or can I perhaps just use bootstrapping?

Thanks in advance

Dries

[2016-11-21 16:10] j3mdamas commented on #192
For error estimate, you can do "manual" bootstrapping. We already have a [bootstrap method](https://www.htmd.org/docs/latest/htmd.metricdata.html?highlight=bootstrap#htmd.metricdata.MetricData.bootstrap), which what really does it just the resampling. Then you can do the statistics. We want to implement an automatic tool, but we're still discussing the implementation and will probably only appear

[2016-11-22 10:30] giadefa opened #193 "htmd_register fails"
[gianni@ace1 test_dhfr]$ htmd_register
Traceback (most recent call last):
  File "/shared/lab/software/miniconda3/bin/htmd_register", line 6, in <module>
    sys.exit(htmdx.cli.main_do_nothing())
  File "/shared/lab/software/miniconda3/lib/python3.5/site-packages/htmdx/cli.py", line 18, in main_do_nothing
    import htmd
  File "/shared/lab/software/miniconda3/lib/python3.5/site-packages/htmd/__in

[2016-11-22 10:32] mj-harvey commented on #193
Context? Is this a fresh install? Full package list, please: conda list

[2016-11-22 10:33] mj-harvey commented on #193
It's the permissions on libiomp5.so . You have a shared install not under your user. This is a side effect of the other issue on psi4 package permissions

[2016-11-22 10:34] giadefa commented on #193
it's a new machine

[gianni@ace1 test_dhfr]$ conda list
# packages in environment at /shared/lab/software/miniconda3:
#
_nb_ext_conf              0.3.0                    py35_0
acecloud-client           1.0.24                   py35_1    acellera
acemd                     2016.10.27                    0    acellera
acemd-examples            2016.5.12                     1    acellera
alabaster

[2016-11-22 10:57] giadefa commented on #193
so what do i have to do?

On 22 November 2016 at 11:33, M J Harvey <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.a

[2016-11-22 10:59] mj-harvey commented on #193
chmod -R a+rX the /lib directory in the miniconda install, or wait 10 minutes for me to fix the package and then do a conda update psi4 -y

[2016-11-22 11:03] giadefa commented on #193
the second option is more appealing

On 22 November 2016 at 11:59, M J Harvey <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <ht

[2016-11-22 12:16] mj-harvey commented on #190
fixed in psi4 1.0.54 build 9

[2016-11-22 12:16] #190 closed

[2016-11-22 12:47] mj-harvey commented on #193
conda update psi4 -y

[2016-11-22 12:47] #193 closed

[2016-11-25 13:39] tonigi opened #194 "proteinPrepare residue fixing"
It needs to be tested.

[2016-11-28 15:10] GerardBCN commented on #170
I got a similar error, so seems that this bug is still not fixed:

[code]

I'm using the htmd head version. Current ligand: http://pub.htmd.org/cmpd4.zip

[2016-11-29 15:48] PabloHNieto opened #195 "total population not 1"
after creating some models (5 iterations with all the data, no bootstrap, for two differente ligands) I have summed the population of each macrostate by doing

np.sum(model.eqDistribution(plot=False)

and got these results:

Molname	FPop(mean)	FPop-std
E_TRI	0.38	                   0.34
YP_TRI	1.0	                    0.0

So, for YP_TRI i got the right result (100% population in all iterations) bu

[2016-11-29 16:46] j3mdamas opened #196 "geometry optimizer tunables for psi4"
Psi4 is failing too much (we had a comparison with TeraChem which was obvious), meaning most probably that it fails in the optimization. maybe there are some way of tuning it to perform better?

[2016-11-29 16:50] stefdoerr commented on #195
https://github.com/markovmodel/PyEMMA/issues/996
Made an issue here.

[2016-11-29 19:15] j3mdamas commented on #160
Sorry for the very late reply. So, it's "easy". Your problem arises from mixing CHARMM22* protein with the CHARMM36 patches. For serine, for example, you have:

In `top_all36_prot.rtf`:
[code]

In `top_all22star_prot.rtf`:
[code]
As you can see, there is a difference in the atom typing for `HB1` and `HB2`: `HA2` in C36 and `HA` in C22*. Originally, serine in C22* is going to be `HA`, but when the

[2016-11-29 19:15] #160 closed

[2016-11-29 19:17] j3mdamas commented on #170
I am trying to replicate this, because I don't know at which point this is happening (output cut). I'll let you know tomorrow.

[2016-11-30 09:39] katkovs opened #197 "Parameterize GAFF: non-bonded parameters missing"
Hello HTMD team,

Parameterization of certain molecules with GAFF produces the following message:

and no parameters are written out, only the plots of the dihedrals. Obviously it has to do something with the 1-4 interactions, my guess is that a dihedral involving a hydrogen atom type with VdW parameters equal to 0 causes the problem, but this is just a guess. Can I do something to circumvent this

[2016-11-30 09:50] j3mdamas commented on #170
@mj-harvey, I don't know how you fixed this before, but what is happening here is that the `.rtf` generated by paramchem does not have the `MASS` entries, and, as such, `_removeCOM` is failing because it relies on them. Did you make some guessing on those, if the original .rtf did not have them?

[2016-11-30 10:19] j3mdamas commented on #197
I don't think there is. @mj-harvey?

[2016-11-30 10:33] katkovs opened #198 "Parameterize: treatment of Amber impropers"
Hello HTMD team,

Another question about parameterize in combination with GAFF, this time regarding improper dihedrals. I noticed that in couple of molecules, antechamber assigns certain impropres, while htmd does not. I am attaching the input mol2 file, the output mol2 and frcmod files using antechamber or htmd, and the log file of the parameterize run. Additionally, in the htmd frcmod file there

[2016-11-30 10:51] j3mdamas commented on #198
About the "additional" terms, I may be mistaken here, and @mj-harvey can probably answer you more accurately, but the `frcmod` is just an addition to the underlying GAFF, while our frcmod is totally self-contained (all parameters are there).

About torsions, I think you may be right. @mj-harvey, is there any particular reason for not writing the impropers? In the code (https://github.com/Acellera/

[2016-11-30 11:51] j3mdamas commented on #197
Actually, I just ran:
[code]

But I'm in the repo version, while you are using the miniconda version (even though I don't know which one because you're probably using PYTHONPATH=/usr/users/katkovs/miniconda3/lib/python3.5/site-packages/htmd). Can you do: `cat /usr/users/katkovs/miniconda3/lib/python3.5/site-packages/htmd/version.py`? And if you're using the conda version, you don't need to set the

[2016-11-30 13:50] stefdoerr commented on #105
Added the option to viewStates https://github.com/Acellera/htmd/commit/e291549221e02dff8ecc7d5e2c01a4e2e876ca88

[2016-11-30 13:50] #105 closed

[2016-11-30 13:54] stefdoerr commented on #173
@j3mdamas @BIORAK what do we need to do here? Joao could you maybe try to run it locally at some point? Maybe you'll see something I don't

[2016-11-30 13:55] stefdoerr commented on #191
@jeiros if you update nglview it should now pull the version of Alexander from Conda which should support OSX as well. Can you confirm it works?

[2016-11-30 14:06] stefdoerr commented on #194
What is this? Is it just a reminder for you?

[2016-11-30 14:07] stefdoerr commented on #192
Hey @driesvr sorry for the late reply.

You can access all PyEMMA MaximumLikelihoodMSM functions from Model.msm
http://www.emma-project.org/latest/api/generated/pyemma.msm.MaximumLikelihoodMSM.html?highlight=cktest#pyemma.msm.MaximumLikelihoodMSM.cktest

And plot with this function
http://www.emma-project.org/latest/api/generated/pyemma.plots.plot_cktest.html?highlight=cktest#pyemma.plots.plot_ckt

[2016-11-30 14:07] #192 closed

[2016-11-30 14:13] stefdoerr commented on #192
Edit: now I understand. cktest actually does PCCA internally so it calculates as many macrostates as you ask it. So when I asked for 20 it actually calculated 20 states. Ok, so it makes sense.

[2016-11-30 14:19] tonigi commented on #194
yes

[2016-11-30 15:03] katkovs commented on #197
Thanks for the quick reply! Yes, you are right, I had an older version. Now I cloned the latest one from here, and now parameterize runs to the end and writes the frcmod file. So, that issue is not there anymore.

There is another thing though: The nonbonded parameters for atomtype "zd" are not written, so tleap fails to create the prmtop file. Do you get the same thing? I attach the output files.

[2016-11-30 15:24] mj-harvey commented on #197
THis bug should already be fixed in the latest release. If not, it's certainly fixed in master already.

[2016-11-30 15:27] mj-harvey commented on #197
The extra GAFF parameters come from two sources: 1) the initial typing made with ambertools is made in such a way that the output files are stand-alone, containing all of the parameters required. Somethines this seems to produce files contianing more parameters than are actually used in the parameterisation
2) The parameterisation process may duplicate types during the fitting process so that dihe

[2016-11-30 15:28] mj-harvey commented on #198
If we aren't emitting the impropers terms in the output frcmod that's definitely a bug!

[2016-11-30 15:30] j3mdamas commented on #198
Do you want me to fix that bug?

[2016-11-30 15:33] j3mdamas commented on #173
@stefdoerr, I can try, maybe next week.

[2016-11-30 15:38] mj-harvey commented on #170
Evidently I fixed a different problem! Does this match the problem I sent you earlier?

[2016-11-30 15:41] j3mdamas commented on #170
It's the same problem, as I told Jana. ParamChem .rtf files does not provide MASS entries.

So, we either fail to accept such .rtf files, or use MATCH to guess the MASS entries only?

[2016-11-30 15:46] katkovs commented on #197
Thanks for the reply, now it is clear. Brings peace of mind to know it is unnecessary or "duplicate" terms which can be safely ignored by the enduser.

[2016-11-30 15:47] mj-harvey commented on #170
Ok, I guess I can work around that. Masses aren't hard to guess...

[2016-11-30 15:52] mj-harvey commented on #198
@j3mdamas  Yes, please.
@katkovs could you attach an example of a compound with GAFF impropers please?

[2016-11-30 15:57] katkovs commented on #198
The AFC.zip I attached in the first comment contains such an example. Input mol2 file, as well as the outputs from htmd and antechamber are there. The lactate ion I attached in issue #197 should work too, it should have one improper. Let me know if you need anything more.

[2016-11-30 15:59] mj-harvey commented on #198
Super, thanks.

[2016-11-30 16:01] j3mdamas commented on #197
so, can we update the remaining issue here? what is it exactly?

[2016-11-30 16:03] j3mdamas commented on #170
OK Matt, thanks! Let me know, so I can also update Jana.

[2016-11-30 16:06] j3mdamas commented on #198
Thanks for reporting. I'll let you know ASAP when it's fixed in master.

João

[2016-11-30 16:09] katkovs commented on #197
So, the frcmod is written out, but the nonbonded parameters of exactly one atomtype (zd) are missing. This prevents tleap from creating a topology file.

All the other terms involving this atom type are present.

[2016-11-30 16:09] katkovs commented on #198
Thanks!

[2016-11-30 16:14] j3mdamas commented on #197
thanks. let me see.

[2016-11-30 17:45] mj-harvey commented on #197
@j3mdamas  probably incorrect use of a python "not"  if zd is the H type with 0 vdw parameters.

[2016-11-30 17:50] j3mdamas commented on #197
thanks for the tip

[2016-11-30 17:52] katkovs commented on #197
It is not the hydrogen, it is another atom type (carbon, atom name C2, original type probably c3).

[2016-11-30 17:55] j3mdamas commented on #197
yeah, it's a carbon.

[2016-11-30 18:23] mj-harvey commented on #170
Fix commited. Please test

[2016-12-01 11:40] j3mdamas commented on #170
@GerardBCN @mj-harvey, just tested with the HEAD, and it guesses fine and does not break.

I am going to answer to Jana too and close this issue.

[2016-12-01 11:40] #170 closed

[2016-12-01 11:41] j3mdamas commented on #170
It will be available on version 1.5.5

[2016-12-01 11:43] j3mdamas commented on #170
3ee96a569cffeda2d3d3aed184b7f2e2ec0ce0b9

[2016-12-01 14:25] j3mdamas commented on #198
@katkovs, this is going to take a little longer. The fact is that impropers aren't supported yet in the frcmod format, and there was a bug on erroring function for that. I've fixed the error on that, but the implementation of impropers on frcmod will have to wait a bit.

Commit: ff034f6a4faa1a6439fb44c7051116551e2b6bf5

João

[2016-12-01 14:49] j3mdamas commented on #197
So, @mj-harvey: the missing nonbonded parameter is already missing after the antechamber initial guess.

Plus, the antechamber already produces a `ANTECHAMBER.FRCMOD` file which has more info than the `.frcmod` file that comes out of `parmchk2`. Probably something to check out?

I will assign this issue to you, as per your request.

[2016-12-01 14:50] j3mdamas commented on #197
@katkovs, thanks for reporting this issue! We will try to get back at you as soon as possible

João

[2016-12-01 16:01] mj-harvey commented on #196
Turns out probably not.

[2016-12-01 16:01] #196 closed

[2016-12-01 16:02] #166 closed

[2016-12-01 16:04] mj-harvey commented on #85
@dieAnto For any further discussion please follow up on issue #186 which relates to implementation of that feature, rather than this bug against the old version of parameterise

[2016-12-01 16:04] #85 closed

[2016-12-01 16:13] mj-harvey commented on #74
@spyda90 Please let us know if the current parameterisation is still producing a suspect parameterisation. If I don't hear back in a week we'll close this case.
If Heme parameters are still relevant to you, please open a separate case.

[2016-12-01 17:25] jeiros commented on #191
Hi,

This still doesn't work from a fresh install with
[code]
This gives the following environment:
[code]
Trying to update nglview gives:
[code]
And the Error Traceback is:
[code]

[2016-12-01 17:34] j3mdamas commented on #191
well, 0.6.1 is the latest, so no problems there...

[2016-12-01 17:34] j3mdamas commented on #191
any clue, @stefdoerr?

[2016-12-01 19:16] stefdoerr commented on #191
It's a different error now. The import I think is not needed there, however I don't get it why it would cause an error. Trajectory is an integral part of nglview unless they decided to hide it and I'm a version behind. I'll check it tomorrow.

[2016-12-01 21:30] giadefa commented on #196
can't we send the cases that crashes to them?

On 1 December 2016 at 17:01, M J Harvey <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera

[2016-12-02 10:05] mj-harvey commented on #174
Alternative: Stay with travis and run under wine (I think I prefer this option)

[2016-12-02 10:42] mj-harvey commented on #174
Scratch that, Miniconda doesn't install under Wine within a Travis env.

[2016-12-02 10:52] stefdoerr commented on #191
The error is fixed in the new htmd version. I tested it on an OSX machine here. If you can wait a bit we should have a release in the next few days. Otherwise you can pull the git version and put it in your `PYTHONPATH`.

By the way if after that there is no error but it simply doesn't show anything except an `X` try doing only once from commandline:
[code]
This should theoretically be done during

[2016-12-02 10:55] stefdoerr commented on #174
It would be really like REALLY nice if people could have direct access to a
single Travis machine for testing this crap without making whole releases
no? Or it exists and I don't know?

On Fri, Dec 2, 2016 at 11:42 AM, M J Harvey <notifications@github.com>
wrote:

[2016-12-02 10:56] jeiros commented on #191
I can wait 😄 Thanks for taking a look into this!

[2016-12-02 11:09] stefdoerr commented on #191
I made an issue on this at nglview just in case: https://github.com/arose/nglview/issues/545

[2016-12-02 14:43] slovera opened #199 "pyemma problem after htmd update"
After updating htmd to the last version (1.5.4) on my workstation (SUSE 11) I am experiencing problems in performing the analyses:
e.g. model.plotTimescales() gives me the attached error.
[error.txt](https://github.com/Acellera/htmd/files/627391/error.txt)
It seems to be correlated to pyemma. I have tried to update pyemma but the error persists.

Any advice?

Thank you!

[2016-12-02 14:44] stefdoerr commented on #199
Try `conda update thermotools`

[2016-12-02 15:01] slovera commented on #199
It works thank you.
Is there any reason why it hasn't updated it automatically as usual?

[2016-12-02 15:04] stefdoerr commented on #199
No idea :/ Should have to do with pyemma conda dependencies

[2016-12-02 15:16] stefdoerr commented on #199
@marscher maybe some ideas?

[2016-12-02 15:16] #199 closed

[2016-12-02 15:22] marscher commented on #199
The default setting of the update option "--update-dependencies" of conda is True, but it does not always seem to do what one would expect...

[2016-12-02 15:26] stefdoerr commented on #199
Yeah had similar experience with it :/

[2016-12-02 15:46] mj-harvey commented on #198
@katkovs  Amber impropers have the same functional form as dihedrals, so we treat them together. I've committed a fix that will correctly separate them when writing the frcmod.

[2016-12-02 15:49] mj-harvey commented on #199
I recommend routinely updating with  "conda update --all -y"

[2016-12-02 15:51] katkovs commented on #198
Perfect! thanks

[2016-12-02 15:55] marscher commented on #199
@slovera which version of conda do you have? There are claims in the conda repository, that this issues have been addressed in version 4.x

[2016-12-02 15:58] slovera commented on #199
I have conda 4.2.13

[2016-12-02 16:00] mj-harvey commented on #199
@slovera, are you also subscribed to the omnia channel or only the acellera one? (I recommend only subbing to the acellera one, that contains all the necessary dependencies)

[2016-12-02 16:25] slovera commented on #199
Yes, I have omnia. Thanks for the suggestion!

[2016-12-02 20:04] mj-harvey commented on #197
@katkovs fixed in commit 6002bd7920c353f8258e16014de5ea62f0b95eee

[2016-12-02 20:04] #197 closed

[2016-12-02 20:06] j3mdamas commented on #197
Actually 8fdcd670b606fbc005534b5acf85f602adde3cfe. That one was tricky

[2016-12-02 20:07] j3mdamas commented on #197
@mj-harvey, did you check the `ANTECHAMBER.FRCMOD`?

[2016-12-06 14:14] BIORAK commented on #173
@stefdoerr  Hi, Sorry for the delay in testing as I mentioned earlier I was out of my lab for sometime. I was able to run the following code but have problems. I get error with this line of your code saying wrong arguments. lq = LocalQueue(ngpu=4, datadir='./data/') for ngpu, so had to modify these lines.

Second when running within a python script, the jobs are not executed, the code executes job

[2016-12-06 19:39] stefdoerr commented on #173
1. Yes you were right to correct the LocalQueue line. Sorry for the wrong code.

2. They are exetuted but since the python script ends the jobs are killed since you killed the job scheduler. If you want them to keep running since you are using LocalGPUQueue you need to keep the program alive. For that you can use the `ad.updateperiod` argument to make adaptive a blocking call and update every X se

[2016-12-06 20:33] BIORAK commented on #173
I am using Gromacs for running instead of Acemd. My question was if I have four simulations in an epoch, whether simulations 1,2,3,4 run independently of each other or the final frame of simulation one is used to seed simulation 2, that is a serial run for all simulations in the epoch.

In the former case if one gpu is being assigned for each simulation then if I have two GPU cards two simulations

[2016-12-06 20:40] stefdoerr commented on #173
1. yes sorry I am a bit tired. Yes they run independently.

2. LocalGPUQueue should tell you how many GPUs it's using. It should use them all and send one simulation to each. I don't support running single simulation on multiple GPUs.

3. You will have to modify the source code https://github.com/Acellera/htmd/blob/master/htmd/queues/local.py#L83 As I said we only support 1 GPU/sim. Can't help you

[2016-12-07 10:01] GerardBCN opened #200 "ProteinPrepare re-prepare"
As it is an feature still under development, I expect to find more than one bug until we get to the final result. I propose using this thread to report problems related to this function.

The first error I found is when I used the usual proteinPrepare on "protein and chain A" of PDBID 4UAI. It used to work before.

[code]

[2016-12-07 10:23] j3mdamas commented on #200
You're using the HEAD of master, correct? I see @tonigi making some modifications to the code, so maybe he can comment before I look into it?

[2016-12-07 10:32] GerardBCN commented on #200
Yes, @tonigi  should be assigned to this task.

[2016-12-07 11:06] GerardBCN commented on #200
The tutorial is not functional on latest conda version (1.5.4):

[code]

[2016-12-07 11:09] tonigi commented on #200
That's a separate problem. The current master requires htmd-pdb2pqr >= 2.1.2a9 , the previous ones require an older version. Maybe you are using  packaged htmd (=old) instead of master.

[2016-12-07 11:11] GerardBCN commented on #200
True. Latest version of htmd-pdb2pqr is incompatible with latest conda htmd... I'll wait for you to fix the first problem then.

[2016-12-07 11:22] tonigi commented on #200
duplicate assertion possibly fixed in abbdb70b45924f7f114e9cb36f483f9ecd0cb14e

[2016-12-07 11:22] #200 closed

[2016-12-07 11:27] GerardBCN opened #201 "ValueError: setting an array element with a sequence. on model.viewStates()"
I get this error when doing:

`model.viewStates(ligand="resname MOL")`

[code]

[2016-12-07 15:07] j3mdamas commented on #173
I am currently finishing setting up the new PBSQueue, I'll let you know about it

[2016-12-08 04:03] hainm commented on #191
hi all,

we just created a bugfix for `nglview`, (`v0.6.2.1`). seems work fine for me.

`conda install -c bioconda nglview --force`

cc @arose

thanks @stefdoerr  and @j3mdamas to bring this issue to us.

[2016-12-08 10:11] jeiros commented on #191
Hi,

Just installed  with `conda install -c bioconda nglview --force` and then ran `jupyter nbextension enable nglview --user --py` as suggested after the installation.

I check that the correct version is installed after this:
[code]
But the `ImportError: cannot import name 'Trajectory'` is still persisting.

[2016-12-08 11:50] stefdoerr commented on #191
@jeiros this will go away in the next htmd release as I mentioned above. You can wait for the next release (hopefully start of next week) or pull the github repo

[2016-12-08 13:59] jeiros commented on #191
Ah my bad though @hainm was saying that end users could fix the bug installing the more recent version.

[2016-12-08 17:01] hainm commented on #191
my apology. @stefdoerr opened an issue on `nglview` and we only fixed that. But the importing error is weird.

[2016-12-08 18:24] BIORAK commented on #173
Hi, I have some doubts which occurred to me when I was running the simulations.

I have a protein with two conformations one with a Mg bound and another without. So I want to know if I can use AdaptiveGoal class to go sample unbound to bound conformations. Since the ligand is not present in the site in the unbound conformation. If it can be used then is this code correct.

from htmd import *

ref

[2016-12-09 09:19] j3mdamas commented on #173
@BIORAK that is a different issue from the one here. Can you open a new one on that? Thanks.

[2016-12-09 10:24] BIORAK opened #202 "Running AdaptiveGoal simulations using Gromacs"
@stefdoerr @j3mdamas
Hi, I have some doubts which occurred to me when I was running the AdaptiveGoal simulations.

I have a protein with two conformations one with a Mg bound and another without. So I want to know if I can use AdaptiveGoal class to sample conformations between unbound to bound structures. Since the ligand is not present in the site in the unbound conformation, can AdaptiveGoal be

[2016-12-09 13:06] j3mdamas commented on #202
Many questions.

1. So, do you use the Mg or not? Does the ligand binding depend on the Mg? Is it multi-factor binding? Maybe you should look into this paper: http://www.nature.com/articles/srep30275
1. About the syntax, I think that Stefan can help you better with it.
1. ad.projection is still required. the goal functions is just part of the adaptivegoal algorithm.
1. the `mol` passed to the func

[2016-12-09 16:15] GerardBCN commented on #201
Seems that latest HEAD fixes it. Thank you!

[2016-12-09 16:18] j3mdamas commented on #201
Yay, I was capable of fixing a bug in Stefan's code! *feeling proud* @stefdoerr :stuck_out_tongue_winking_eye:

Fixed on: ebce4a093f56f2dbc8f30c29f04cf66b78ae9ee8

[2016-12-09 16:18] #201 closed

[2016-12-09 16:22] GerardBCN commented on #201
Kudos! You can now retire... ;)

[2016-12-09 17:08] stefdoerr commented on #201
Ah yes :P Forgot it when I "cleaned up". Thanks Joao

On Fri, Dec 9, 2016 at 5:22 PM, GerardBCN <notifications@github.com> wrote:

[2016-12-12 15:26] yongwangCPH opened #203 "MSM analysis based on a complex PLUMED CV"
I'd like to do the MSM analysis using a quite complex CV. It looks like:

MOLINFO MOLTYPE=protein STRUCTURE=str.pdb
ALPHABETA ATOMS1=@phi-2 LABEL=p1
ALPHABETA ATOMS1=@phi-3 LABEL=p2
ALPHABETA ATOMS1=@phi-4 LABEL=p3
COMBINE LABEL=myCV ARG=p1,p2,p3 POWERS=1,1,1
COEFFICIENTS=0.6,0.3,0.1 PERIODIC=NO

It seems very difficult to the metricplumed2 module to input such complex CV, right?

So I am thinking

[2016-12-12 15:27] j3mdamas commented on #203
@tonigi, can you give some input?

[2016-12-12 15:30] stefdoerr commented on #203
As for loading the metrics it can be done but it's a bit messy:

[code]
The problem here is that you will have to manually calculate the dat, ref, mapping and simlists. It can be done but it's a bit of work. I will see if I can come up with a nicer way of doing it.

[2016-12-12 15:34] yongwangCPH commented on #203
@stefdoerr It sounds quite messy to do it by reading the CV. Is there any way that HTMD can read a plumed setting file? If so, it will make things easier.

[2016-12-12 15:41] tonigi commented on #203
Should be easy. Make your plumed input a list of strings, and pass it to PlumedMetric following the examples.

[2016-12-12 15:43] stefdoerr commented on #203
Examples here: https://www.htmd.org/docs/latest/htmd.projections.metricplumed2.html?highlight=metricplumed2#module-htmd.projections.metricplumed2

[2016-12-12 21:31] yongwangCPH commented on #203
@tonigi The problem is how to pass such complex CV. I tried to set it like this:

metr.projection(MetricPlumed2( ['MOLINFO MOLTYPE=protein STRUCTURE=ala3.pdb ALPHABETA ATOMS1=@phi-2 LABEL=p1 ALPHABETA ATOMS1=@phi-3 LABEL=p2 ALPHABETA ATOMS1=@phi-4 LABEL=p3 COMBINE LABEL=myCV ARG=p1,p2,p3 POWERS=1,1,1 COEFFICIENTS=0.6,0.3,0.1 PERIODIC=NO']))

But failed with an error:

+++ message: ERROR in input t

[2016-12-12 21:36] tonigi commented on #203
Seems you made the input into a single long string.Make one string per
plumed statement instead.

On Mon, Dec 12, 2016 at 10:31 PM, yongwangCPH <notifications@github.com>
wrote:

--
Toni

[2016-12-12 22:40] yongwangCPH commented on #203
Thanks a lot. It works!

[2016-12-13 15:21] yongwangCPH commented on #203
It seems fine to do the projection, but failed in the analysis step:

data = metr.project()
data.fstep = 0.001
tica = TICA(data, 20)
dataTica = tica.project(3)
dataTica.cluster(MiniBatchKMeans(n_clusters=50))
model = Model(dataTica)
model.plotTimescales()

estimating MaximumLikelihoodMSM:  96% (25/26) [################### ] eta 00:01 /13-12-16 16:16:49 pyemma.msm.estimators.maximum_likelihood_msm.

[2016-12-13 15:32] stefdoerr commented on #203
I don't think this is related to Toni anymore.
So the warnings you get are because at the lagtime you are testing there are no connected states anymore. How long are your trajectories? They look huge.

Can you do `dataTica.trajLengths` and `dataTica.dat[0].shape` and post them here?
An easy fix would be to reduce the lagtimes tested by plotTimescales:
[code]
for example to plot lag-times from 1-10

[2016-12-13 15:53] stefdoerr opened #204 "progress_reporter not installed correctly from conda"
We have progress_reporter in our dependencies but it's on the omnia channel which we don't add anymore so I guess it doesn't pull it. Had the problem a few times in the lab. @mj-harvey should we mirror it in the acellera conda channel?

[2016-12-13 16:05] AdriaPerezCulubret opened #205 "proteinPrepare TypeError"
@tonigi
When trying to use proteinPrepare() for a protein fetched from PDB, this error appears:

[code]

[2016-12-13 16:06] tonigi commented on #205
Try to conda update htmd-pdb2pqr

On 13/12/16 17:05, AdriaPerezCulubret wrote:

[2016-12-13 17:30] yongwangCPH commented on #203
Thank you, Stefan.

It is a ~15us unbiased MD trajectory with a saving frequency of 0.01 ns.

dataTica.trajLengths = 1549863
and dataTica.dat[0].shape = (1549863, 3)

model.plotTimescales(np.arange(1, 1000, 10)) did solve the problem. You may have a look at the ITS plot by this link:
![download](https://cloud.githubusercontent.com/assets/17002138/21151213/f29996ea-c161-11e6-9821-7129e3dce157.png)

[2016-12-13 18:46] j3mdamas commented on #203
I find it weird that the slowest process you find is in the order of 10 ns. Maybe your metric is not so good at separating the slow processes of the system?

[2016-12-13 20:09] stefdoerr commented on #203
@yongwangCPH to calculate the kinetics with PLUMED you will have to specify a source state in the Kinetics constructor as it is unable to guess the source state. Just look at the states with `model.viewStates()` and pick the one that is your reference state (bulk/unbound/unfolded...)

[2016-12-13 20:13] yongwangCPH commented on #203
I am quite sure the collective variable (myCV) that I defined is a good reaction coordinate. I guess maybe it is because MetricPlumed2 uses all of these variables (p1, p2, p3 and myCV in my case) to do the projection. @tonigi How does MetricPlumed2 deal with the case that there are a number of variables?

[2016-12-13 20:29] yongwangCPH opened #206 "MSM analysis based on a CV trajectory with non-uniform time step?"
I am doing a biased simulation, from which I can get the recovered (unbiased) trajectory projected on some CVs. I'd like to do a MSM analysis based on this CV trajectory. But there are two technical problems:

1) I have to input the CVs instead of the coordinates (because it is very hard to recover the unbiased coordinates). As Stefan suggested, I will have to manually calculate the dat, ref, mapp

[2016-12-13 20:43] stefdoerr commented on #206
No I'm sorry :/ As far as I know no MSM software supports non-uniform timestep. Maybe try to make it uniform by dropping frames?

If after that you still want help on loading the CVs from files tell me, send me some CV files and I can write some script

[2016-12-13 20:47] yongwangCPH commented on #203
@stefdoerr Thanks for your reply. I just saw it. I tried:

model.markovModel(2, 4, units='ns')
kin = Kinetics(model, temperature=300, source=[0], sink=[3])

It seems working. But I want to calculate the kinetics between all four states, which command should I use?

[2016-12-13 20:50] stefdoerr commented on #203
`kin.getRates(source=1, sink=3)` gives you the kinetics between any two states (here 1 and 3)

[2016-12-13 21:03] yongwangCPH commented on #206
Unfortunately, it is very difficult to have uniform timestep even by dropping frames... But still good to know this. Thank you any way.

That will be great if you could help me on this. One example CV file is attached. I think I only need to read column 1 (the time) and 8 (the CV) for the analysis. Just let me know if you need more information of files.

[CV.txt](https://github.com/Acellera/htmd/f

[2016-12-14 09:23] AdriaPerezCulubret commented on #205
It's already updated

`Fetching package metadata .......
# All requested packages already installed.
# packages in environment at /shared/adria/miniconda3:
#
htmd-pdb2pqr              2.1.2a7                  py35_0    acellera`

[2016-12-14 09:44] tonigi commented on #205
Should be 2.1.2a9 https://anaconda.org/acellera/htmd-pdb2pqr

[2016-12-14 09:59] AdriaPerezCulubret commented on #205
Thanks, solved the package version problem. It works fine now.

[2016-12-14 09:59] #205 closed

[2016-12-14 13:27] yongwangCPH commented on #203
Thanks, Stefan.

I am still wondering if it is true that MetricPlumed2 will read all of the procedure variables (p1, p2 ,p3 and myCV in my case) to do the projection? What should I do if I only want to use a specific CV (myCV)? Is there a way to check this? Sorry for keeping asking this question, but it is important for me to make sure I am doing what I want.

[2016-12-14 13:36] tonigi commented on #203
You just have to print the dimension of the metric. Try calling the .project() method and examine the results. Otherwise, please provide a reproducible script so I can go on from there.

[2016-12-14 14:00] yongwangCPH commented on #203
Thanks, Toni. I just used a very short trajectory (only 3 frames) to check it. From the output of data.dat, it seems it is true that MetricPlumed2 calculates all of these variables, even these procedure variables!!!

This is not what I want. Do you have an easy solution to tell MetricPlumed2 to just read the specific CV?

[2016-12-14 14:04] tonigi commented on #203
Check if [dropDimensions](https://www.htmd.org/docs/latest/htmd.metricdata.html#htmd.metricdata.MetricData.dropDimensions) works.

[2016-12-14 15:15] yongwangCPH commented on #203
I checked it with data.numDimensions, but which shows the dimension=1. So I guess I cannot remove other CVs by this way ...

By the way, data.dat outputs:

array([ array([[ 0.081643  ,  0.16947301,  0.077726  ,  0.1076    ],
       [ 0.022007  ,  0.001833  ,  0.205603  ,  0.034314  ],
       [ 0.041902  ,  0.039254  ,  0.08256   ,  0.045173  ]], dtype=float32)], dtype=object)

As you can see, ther

[2016-12-14 15:17] tonigi commented on #203
The number of dimensions being 1 may be a bug to be fixed. We need to have a look.

[2016-12-14 15:25] tonigi commented on #203
That's strange. I get 2 dimensions on this object:

[code]

Please provide a self-contained example.

[2016-12-14 15:29] yongwangCPH commented on #203
Toni, please find a test example below:

[test.zip](https://github.com/Acellera/htmd/files/652094/test.zip)

[2016-12-14 15:35] tonigi commented on #203
Works, after fixing STRUCTURE, with this change

     data.dropDimensions(keep=[3])

it gives an error which we have to fix, but otherwise seems fine. 4
dimensions are 0..3

On 14/12/16 16:29, yongwangCPH wrote:

[2016-12-14 16:11] yongwangCPH commented on #203
I guess you got the same error as below:
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-24-79b5eb22e92f> in <module>()
----> 1 data.dropDimensions(keep=[3])

/Users/yongwang/Work/HTMD/miniconda3/lib/python3.5/site-packages/htmd/metricdata.py in dropDimensions(self, drop, keep)

[2016-12-14 17:42] mj-harvey opened #207 "Build example on the HTMD website doesn't work"
[code]

[code]

[2016-12-14 17:47] j3mdamas commented on #207
the problem is with proteinPrepare. Toni is making lots of changes. @tonigi, I updated htmd-pdb2pqr and it's still giving the same error as it's giving to Matt

[code]

[2016-12-14 17:50] mj-harvey commented on #207
Any example that appears on the web page *must* also be a travis test so, at the very least!, we have warning to keep them up to date. This is with a release, not the HEAD, so it shouldn't happen. Right now HTMD's going to fail any new user at the first hurdle.

[2016-12-14 17:53] j3mdamas commented on #207
Update htmd to 1.5.5. It works there.

[2016-12-14 17:53] mj-harvey commented on #207
Ok, seems conda had lost my channels settings, so it was lying when it claimed it had the latest release.

[2016-12-14 17:54] j3mdamas commented on #207
1.5.4 is not compatible with the latest htmd-pdb2pqr

[2016-12-14 17:54] #207 closed

[2016-12-14 17:57] mj-harvey opened #208 "HTMD website examples must be CI tests"
Pace issue #207  , release 1.5.4 broke with the very first example on the htmd web page.
The *exact* examples on the website should be CI tests so we get some warning if they break.
It's not acceptable to put out even a devel release where this very basic functionality is broken.

[2016-12-14 18:01] j3mdamas commented on #208
I can make that example a test, it's OK.

But it wouldn't cause any warning for us in this particular case, because 1.5.4 worked when released, with a particular version of htmd-pdb2pqr, and 1.5.5 worked when released, with another particular version of htmd-pdb2pqr. The concern here is version compatibility between software codes.

[2016-12-14 18:08] mj-harvey commented on #208
Ok, then I'll do a better job of encoding version requirements in the conda packaging.

[2016-12-14 18:25] mj-harvey opened #209 "Do a better job of getting dependency versions set in the htmd package"

[2016-12-14 18:26] #208 closed

[2016-12-14 18:30] j3mdamas commented on #204
I think Silvia also reported something like this but it got fixed?

Just checked our sync file and progress_reporter is there. Maybe we should sync again?

[2016-12-14 18:46] stefdoerr commented on #208
It's not so easy. At least for the full examples since they have loads of data dependencies and take a long while to execute. The basics tutorials though we should make testable

[2016-12-14 18:47] tonigi commented on #207
It is an unfortunate version dependency, sorry, but I needed to change the
internal API for the "repreparation" (change protonation) function.

Il 14 dic 2016 6:54 PM, "João M. Damas" <notifications@github.com> ha
scritto:

[2016-12-15 15:29] mj-harvey commented on #204
re-synced.

[2016-12-15 15:29] #204 closed

[2016-12-15 15:31] mj-harvey commented on #209
done, with autogenerated htmd-deps package

[2016-12-15 15:31] #209 closed

[2016-12-16 10:15] GerardBCN opened #210 "Did parameterize add nothing to the original FF parameters?"
I found this case where the original FF performs exactly as well as the fitted one (or viceversa). Is this an expected behavior? Wouldn't be expect some slight change?
![n3-c8-n6-h9](https://cloud.githubusercontent.com/assets/3877758/21259288/ff825f06-c380-11e6-854e-9d6db2b0791e.png)

[2016-12-16 10:20] giadefa commented on #210
Matt you need to fix this and show the initial parameters as a reference.
It's important to have a reference to see how bad one was before

On 16 December 2016 at 11:15, GerardBCN <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical

[2016-12-16 10:22] j3mdamas commented on #210
The MM original is not the original, but rather the fitting from the
previous iteration.

On Fri, Dec 16, 2016 at 11:15 AM, GerardBCN <notifications@github.com>
wrote:

--

[2016-12-16 10:23] GerardBCN commented on #210
The reference is there, it just overlaps with the MM fitted (look at the small spikes protruding from the squares)

[2016-12-16 10:34] j3mdamas commented on #210
As I said: the MM original is not the original. It is the fitting from the
last iteration.

On Fri, Dec 16, 2016 at 11:23 AM, GerardBCN <notifications@github.com>
wrote:

--

[2016-12-16 11:00] GerardBCN commented on #210
By the way, this error in the plot affects the validity of the parameters?

[2016-12-16 11:18] GerardBCN opened #211 "A reflection on starting parameters or performance issue"
I just parameterized with the new tool using GAFF2 (top plot) a ligand that I parameterized some time ago using the refactored GAAMP and starting with CGENFF (bottom plot). Results are quite bad for the new parameterize, I wonder if thats because of starting parameters orwhether  you have any experience in this... I can provide the whole parameterization folders.

![c12-c17-c18-o4](https://cloud.g

[2016-12-16 11:26] GerardBCN commented on #211
FYI, I have three ligands for which I have parameterizations done with the new tool (GAFF2) and good old GAAMP (CGENFF). Let me know if you want them for comparison if you find them useful.

[2016-12-16 11:27] j3mdamas commented on #210
considering the orders of magnitude, it's quite fine

[2016-12-16 11:29] j3mdamas commented on #210
I already added the recovery of the original MM to the todo list of parameterize

[2016-12-16 11:29] #210 closed

[2016-12-16 11:34] j3mdamas commented on #211
Thanks for the input! I assigned this to @mj-harvey.

Is the initial mol2 the same for both?

Which QM code are you using?

Is this the same dihedral, gerard? @mj-harvey, do you see the shift of 50 degrees in the QM between the plots?

[2016-12-16 15:05] mj-harvey commented on #211
@j3mdamas shift probably comes from picking a different dihedral to parameterise the torsion. compare the atom indices between the two.

[2016-12-16 15:06] mj-harvey commented on #211
@GerardBCN send me (a link to) the directory contain the whole parameterisation.

[2016-12-19 09:22] GerardBCN commented on #211
@mj-harvey I just checked and they both refer to the same dihedral (although the first atom is different). here you have the whole folder. http://pub.htmd.org/16480049/

[2016-12-19 14:52] mj-harvey commented on #211
@GerardBCN sane *torsion* different *dihedral term*. that explains the phase difference.
I'll not be able to look into this until the new year now.

[2016-12-20 11:15] stefdoerr opened #212 "Wrapping issues"
Matt when I try to wrap this frame of the trajectory one water molecule stays unwrapped. Could you take a look at it please?

[code]

postwrap.pdb:
[code]

One water molecule stays unwrapped.

[2016-12-20 14:29] shozebhaider opened #213 "ACEMD via miniconda"
I am trying to use acemd that comes with htmd (via miniconda3 install). I am able to execute and run simulations via the jupyter-notebook, however that is not possible when I do it stand alone. The error message is get is that the default protocols (ff/Amber and run/NPT) that I used to invoke from the protocols folder in stand alone version have been migrated and the input file cannot find them. I

[2016-12-20 14:50] stefdoerr commented on #213
Hey Shozeb :) Would you mind posting this to https://github.com/Acellera/acemd_issues/issues ? It seems unrelated to HTMD.
Thanks!

[2016-12-20 14:56] shozebhaider commented on #213
Sure. I thought they all belonged under the same package. Sorry.

[2016-12-20 14:59] stefdoerr commented on #213
Don't worry. The acemd_issues tracker seems to be a bit underadvertised :stuck_out_tongue:  It's just faster to reach Matt that way

[2016-12-20 14:59] #213 closed

[2016-12-20 15:00] stefdoerr commented on #213
I'll tag Matt here anyway @mj-harvey https://github.com/Acellera/acemd_issues/issues/22

[2016-12-21 14:45] GerardBCN opened #214 "ValueError: min() arg is an empty sequence"
[code]
Parameterization folder @ pub.htmd.org/0_21_12_2016.zip

[2016-12-22 14:56] yongwangCPH commented on #203
Has the problem been solved? Just a pre-new-year check.

[2016-12-22 15:07] tonigi commented on #203
but does the cv elimination work? i thought it was just a spurious error
message

On Thu, Dec 22, 2016 at 3:57 PM, yongwangCPH <notifications@github.com>
wrote:

--
Toni

[2016-12-22 15:25] yongwangCPH commented on #203
It seems the CV elimination works. Then the error message doesn't matter :)
But the ITS plot still looks quite weird.
![download](https://cloud.githubusercontent.com/assets/17002138/21430307/f5a51032-c862-11e6-8e1d-09b9aeb61313.png)

I am quite sure the CV I used is pretty ok. Is there a way to visualize the final CV trajectory after elimination?

[2016-12-22 16:15] yongwangCPH commented on #203
It seems the CV elimination works. Thank you for your quick response, Toni!

But the ITS plot still looks a bit weird.
![download](https://cloud.githubusercontent.com/assets/17002138/21431150/7779c500-c866-11e6-9b03-48b84d39bc91.png)

So does it mean I should lump into 3 macrostates using lag-time of 1ns?

Any suggestions? Thanks a lot!!!

[2016-12-22 16:19] yongwangCPH commented on #206
@stefdoerr Any progress on the script for loading CVs?

Merry Christmas and happy new year in advance!

[2016-12-22 16:20] stefdoerr commented on #206
No sorry. Will have to look at it when I'm back since I'm leaving tomorrow :/

[2016-12-22 16:22] yongwangCPH commented on #206
No matters :) That's totally fine to get it done after the new year. Have a nice holiday!

[2016-12-23 21:28] giadefa commented on #203
It means  that the timescales are so fast that you can simply compute
histograms as you are likely to get equilibrium sampling

On 22 Dec 2016 16:15, "yongwangCPH" <notifications@github.com> wrote:

[2016-12-29 15:48] mj-harvey commented on #212
weird.

[2016-12-29 16:05] mj-harvey commented on #214
Bug occurs when molecule doesn't have any soft torsions. Fixed in HEAD

[2016-12-29 16:05] #214 closed

[2016-12-29 16:13] mj-harvey commented on #211
Taking a look. I suspect I know the cause of this.

[2016-12-30 06:08] mj-harvey commented on #211
@GerardBCN could you send me the reference GAAMP fileset please?

[2016-12-30 11:45] GerardBCN commented on #211
Find them in http://pub.htmd.org/16480049-gaamp. Thanks!

[2016-12-30 13:08] mj-harvey commented on #211
@GerardBCN got the QM files from step 45 as well?

[2016-12-30 13:26] GerardBCN commented on #211
No, they were generated from scratch

On Dec 30, 2016 2:08 PM, "M J Harvey" <notifications@github.com> wrote:

[2016-12-30 13:27] mj-harvey commented on #211
@GerardBCN please take HEAD and try running with "--no-geomopt"

[2017-01-04 11:15] GlebNovikov opened #215 "TICA module for the analysis of MD trajectories"
Dear HTMD users!

I am interesting to test various dimensionality reduction methods, as the alternative to PCA, for my set of MD trajectories of GPCR systems. I would like to cluster all trajectories onto the 2D plane of shared collective variables (meaning that it was calculated from all ensemble of md snapshots) to i) make visualisation of the collective deformations responsible for some biologi

[2017-01-07 09:53] stefdoerr opened #216 "When _readTraj causes error, restore old coordinates etc"
As the title says. Otherwise you get an error for coords being a list instead of array when you try to do anything afterwards since I have replaced the coords with []

[2017-01-08 09:36] giadefa commented on #215
Joao, maybe this deserves a tutorial? I have something for visualizing 2d
reaction coordinates

On 4 January 2017 at 12:15, GlebNovikov <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx

[2017-01-08 13:06] GlebNovikov commented on #215
Thanks so much for the responce, Gianni!
Indeed such tutorial on the application of the TICA for clustering of md trajectories along two chosen collective coordinates and subsequent visualisation of the projections will be very useful!
I did it many times using PCA implemented in prody for example - which is another python-based package- if it will be interesting I will send you link on the tutori

[2017-01-09 07:50] spyda90 commented on #74
I'm sorry, I've been very busy last two months. I'll try and I'll let you know.

[2017-01-09 09:43] mj-harvey commented on #211
@GerardBCN did that help?

[2017-01-09 09:45] GerardBCN commented on #211
Sorry, I didn't launch the parameterization. Should I start from the mol2
file and flag "--no-geomopt"?

2017-01-09 10:43 GMT+01:00 M J Harvey <notifications@github.com>:

[2017-01-09 09:49] mj-harvey commented on #211
yes, that's right - you can start from an already run opt to save on the minimize and esp.

[2017-01-09 09:51] GerardBCN opened #217 "OSError: /htmd/lib/Linux/libvmdparser.so: cannot open shared object file: No such file or directory"
On importing htmd:

[code]

[2017-01-09 09:51] GerardBCN commented on #217
using head

[2017-01-09 09:52] GerardBCN commented on #217
seems that got deleted in the last pull:

` htmd/lib/Linux/libvmdparser.so                       |  Bin 3328429 -> 0 bytes`

[2017-01-09 09:54] GerardBCN commented on #211
Please see the error I just posted, it also affects parameterize:

bash-4.2$ parameterize
Traceback (most recent call last):
  File "/shared/gerard/anaconda3/bin/parameterize", line 4, in <module>
    import htmd.parameterization.cli
  File "/shared/gerard/HTMD/htmd/htmd/__init__.py", line 9, in <module>
    from htmd.simlist import simlist, simfilter, simmerge
  File "/shared/gerard/HTMD/htmd/htm

[2017-01-09 10:22] mj-harvey commented on #217
GerardBCN - consequence of recent changes to the structure of the repo. Please pull to fix.

[2017-01-09 10:22] #217 closed

[2017-01-09 10:51] j3mdamas commented on #215
sure, @giadefa, can you send me your example?

[2017-01-09 10:59] gph82 commented on #215
Hi folks, we're working on something similar here and will be releasing soon. So perhaps it's worth looking at it together

[2017-01-09 11:01] j3mdamas commented on #215
hi @gph82!
that would be a good idea. I am going to be at the PyEMMA workshop in February, maybe we can even discuss it then?

[2017-01-09 11:17] gph82 commented on #215
that'd be great, we'll all be here

On 09.01.2017 12:01, João M. Damas wrote:

--
Dr. Guillermo Pérez-Hernández
Freie Universität Berlin
Institute for Mathematics
Arnimallee 6
D-14195 Berlin
tel       0049 30 838 75775
http://userpage.fu-berlin.de/gph82/
--

[2017-01-09 11:17] giadefa commented on #215
isn't this very simple?

On 9 January 2017 at 12:01, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.a

[2017-01-09 11:21] j3mdamas commented on #215
depends on which things we want to plot, i guess

[2017-01-09 11:24] giadefa commented on #215
free energies

On 9 January 2017 at 12:21, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.co

[2017-01-09 11:33] j3mdamas commented on #215
with the point in the tIC space and some kerneling, it should be easy to create a conditional free energy surface, yes. But I would guess that would be a very short tutorial, and it would be nice to complement it a bit more.

[2017-01-09 12:56] gph82 commented on #215
Hi @giadefa, yes it's easy. But depending on the level of automation you want there are some practical api functions we're working on.

[2017-01-09 14:11] mj-harvey commented on #212
Fixed

[2017-01-09 14:23] stefdoerr commented on #212
What was the issue? So that I know what it affected so far.

[2017-01-09 14:41] stefdoerr commented on #216
Fixed by refactoring https://github.com/Acellera/htmd/commit/c01b2ceffd2a264b28fcad0b781e0b9d60956f36

[2017-01-09 14:41] #216 closed

[2017-01-09 15:15] stefdoerr commented on #206
Ok so I expect you to organize your data as follows:
[code]

Then the following code works:

[code]

Assumptions:
 1. You have only one xtc per folder
 2. The sims and cvnames lists match correctly!!! If even one file is missing/named wrong/matched wrong, all will be wrong

Have fun

[2017-01-09 15:15] #206 closed

[2017-01-09 15:23] stefdoerr commented on #203
I think we can close this now as this is more of a theoretical MSM discussion, if it's fine for you @yongwangCPH

[2017-01-09 15:23] #203 closed

[2017-01-09 19:35] mj-harvey commented on #212
Really rather unlikely to occur. Required  a wrapped centre of mass coord to be exactly equal to a box length.

[2017-01-09 19:37] stefdoerr commented on #212
ok thanks! :)

On Mon, Jan 9, 2017 at 8:35 PM, M J Harvey <notifications@github.com> wrote:

[2017-01-10 14:28] GlebNovikov commented on #215
Hello and many thanks for the attention to my topic again!

Yes, the general idea is to compute free energy as Boltzmann probability densities along projections of md trajectories onto the 2D plane of collective coordinates computed by TICO - i.e via piloting a histogram - what possible to do by means of PCA in GROMACs via following combinations of GMX utilities g_covar g_anaeig g_shame
tutorial:

[2017-01-10 14:46] GerardBCN commented on #211
I just ran

`parameterize -m mol.mol2 -f GAFF2 --qmcode Gaussian -n 10 --no-geomopt`

These are the results for the same dihedral:

![c12-c17-c18-o4](https://cloud.githubusercontent.com/assets/3877758/21810325/9f19546a-d74b-11e6-9fcd-3b73890b06fd.png)

isn't the QM profile very different?

I attach the whole folder in case is useful to you.

http://pub.htmd.org/16480049_afterFix.zip

[2017-01-10 15:41] yongwangCPH commented on #203
That's fine. Thank you.

[2017-01-10 15:45] yongwangCPH commented on #206
Stefan, thank you very much for the help. The code works! Just one more question: why should I need the xtc files? It doesn't make much sense that I still need the coordinates given that I could read the CV data. Could I just skip the step of reading the trajectories?

[2017-01-10 15:54] stefdoerr commented on #206
Yes you could probably skip it but then you cannot visualize the states.

[2017-01-10 15:56] yongwangCPH commented on #206
Make sense now. Thanks a lot.

[2017-01-10 17:08] yongwangCPH commented on #206
@stefdoerr one more question: I'd like to use two-dimensional data (say, column 2 and column 7), which part of the code should I modify? Thanks.

[2017-01-10 17:37] stefdoerr commented on #206
[code]

[2017-01-10 23:27] yongwangCPH commented on #206
Sorry for troubling you again.

There is still a problem at the step of doing TICA as using the 2D data (Note: no error for 1D data):

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-40-68e928da4f06> in <module>()
----> 1 dataTica = tica.project(3)

/Users/yongwang/Work/HTMD/minic

[2017-01-11 09:32] stefdoerr commented on #206
I would leave it as a thought exercise :stuck_out_tongue: but as we are all short on time, you are practically trying to project 2D coordinates into 3D space with TICA. TICA is a dimensionality *reduction* method.

[2017-01-11 09:38] stefdoerr commented on #206
I added a clearer error now so people don't get confused https://github.com/Acellera/htmd/commit/3c23997fdbc1d9bd57a2045cc3caf4a00afc90b0

[2017-01-11 09:49] mj-harvey commented on #211
thanks Gerard, I'll take a look

[2017-01-11 09:50] mj-harvey commented on #211
How does Cgenff come out?

[2017-01-11 09:52] GerardBCN commented on #211
You mean what does

`parameterize -m mol.mol2 -f **CGENFF** --qmcode Gaussian -n 10 --no-geomopt`

produce?

[2017-01-11 09:59] mj-harvey commented on #211
yes

[2017-01-11 10:39] yongwangCPH commented on #206
@stefdoerr Thanks for the kind reply. But I don't understand the point. In principle, both PCA and TICA can give high dimensional principal components even from one dimensional trajectory, right?
I thought it might be a code problem rather than a theoretical problem though I have very little python background. What do you think?

[2017-01-11 10:43] giadefa commented on #206
On 11 January 2017 at 11:39, yongwangCPH <notifications@github.com> wrote:

no, how can they do that?

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.

[2017-01-11 10:43] stefdoerr commented on #206
No, as far as I know both PCA and TICA can only reduce or keep equal dimensions.

The reason being that PCA projects your data using the eigenvectors of the covariance matrix. The covariance matrix can only have size as big as your dimensions and thus can only have that many eigenvectors. Of course you can "increase" dimensionality by adding an empty dimension where all data is equal but that's ra

[2017-01-11 10:51] yongwangCPH commented on #206
I must miss something. But anyway thank you so much for the comments.

Just one thing I am still confused. It seems no error when I do TICA projected onto high dimensions if I use only one dimensional CV:

metrics[i] = cvdata[:, 7]
...
tica = TICA(data, 2000, units='frames', dimensions=None)
dataTica = tica.project(4)

getting output of TICA: 100% (689/689) [###########################] eta 00:01

[2017-01-11 10:54] stefdoerr commented on #206
That should not happen and is definitely wrong. With my change it will throw an error from the next version of HTMD.

What does `dataTica.dat[0].shape` give you?

I would assuuuuume that there is a minor bug where TICA transposes the trajectories and thinks that they are numFrames-dimensional trajectories of a single frame.

[2017-01-11 11:58] yongwangCPH commented on #206
The output is (3476148, 4) and the resulted kinetics looks similar to that without TICA.

Alright. I will be very careful about this, and take it as a minor bug. Thank you so much for your time and patient help.

[2017-01-11 14:15] giadefa commented on #215
i'll pass the code to Joao, but it's very simple.

On 10 January 2017 at 15:28, GlebNovikov <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aace

[2017-01-11 22:45] yongwangCPH opened #218 "Help wanted: mixed metric"
By following the HTMD document, I used below commands to set contacts and dihedral metric in separate MSM analysis,

For contacts,
[code]
For dihedral,
[code]
Now I want to use the mixed metric. But I could not figure out how to do it. Could you help me on this?

First, mixed phi and psi angles:
1) dihedral.psi and dihedral.phi
Then, mixed contacts and phi and psi:
2) contacts + dihedral.phi + dih

[2017-01-12 09:18] stefdoerr commented on #218
Actually the way you are doing phi dihedral will not work. The phi function only returns a tuple of atoms that are related to the phi angle. It will not do any projections.

Just take a look at the documentation of MetricDihedral

[code]

[2017-01-12 09:18] #218 closed

[2017-01-12 13:58] GerardBCN commented on #211
So using CGENFF as starting ff seems to yield better results, probably because the starting parameters are better than GAFF in this particular case.

![c12-c17-c18-o4](https://cloud.githubusercontent.com/assets/3877758/21892499/707957bc-d8d7-11e6-8e6b-89cc521b19c6.png)

Is there anything else you need from me to sort this out?

[2017-01-12 14:08] j3mdamas opened #219 "remove HTMD forum"

[2017-01-12 18:42] mj-harvey commented on #211
Leave it with me. I'll see if I can improve things.

[2017-01-12 18:51] mj-harvey commented on #219
This needs the source for the HTMD website changed. I think the only place the forum link appears is in the header https://www.htmd.org/

[2017-01-12 21:22] stefdoerr commented on #219
You just need to modify the template html somewhere in the docs folder.
I can do it if you want tomorrow.

On Thu, Jan 12, 2017 at 7:51 PM, M J Harvey <notifications@github.com>
wrote:

[2017-01-13 09:44] GerardBCN commented on #211
Let me know if you need any parameters

[2017-01-13 13:53] #174 closed

[2017-01-13 19:59] tonigi opened #220 "Error except ParseBaseException, err:"
Writing here just in case anybody else stumbles on it. Seems to occur on OS X.

[code]

The workaround was to remove "pyparsing.py" script (not sure how it is in the python path).

[2017-01-13 20:00] #220 closed

[2017-01-13 21:03] mj-harvey opened #221 "liblicense issue"
Configuring...
Traceback (most recent call last):
  File "/home/scott/miniconda3/bin/acecloud", line 6, in <module>
    sys.exit(acecloud.client.main_acecloud())
  File "./client.py", line 70, in main_acecloud
  File "./client.py", line 279, in setup
  File "./cloud.py", line 26, in __init__
  File "/home/scott/miniconda3/lib/python3.5/site-packages/htmd/license.py", line 24, in licenseEntitlement

[2017-01-15 09:32] yongwangCPH opened #222 "nglview failed in Mac"
I am trying to visualize the trajectory by nglview but failed. I searched similar problems in previous closed issues but didn't find a solution. I am using MacOS 10.12.
[code]

[2017-01-15 09:34] stefdoerr commented on #222
Yes, thanks or reminding me. This is indeed an issue. I will need to take a look at it on my Mac VM next week since I don't have a Mac around

[2017-01-16 14:08] stefdoerr commented on #222
Did this happen in a notebook or in ipython console?

It works for me. Have you tried updating everything?
`conda update htmd` and `conda update nglview`

Also if it simply doesn't show anything have you tried re-enabling the nglview extension?
`jupyter nbextension enable nglview --user --py`

[2017-01-16 15:29] j3mdamas commented on #222
also, use `-c acellera` flag on the `conda update` commands, just in case

[2017-01-16 15:42] yongwangCPH commented on #222
**conda update htmd**

Fetching package metadata ...........
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /Users/yongwang/Work/HTMD/miniconda3:
#
htmd                      1.5.7                    py35_0    acellera

**conda update nglview**

Fetching package metadata ...........
Solving package specifications: .

# All requested packa

[2017-01-16 15:45] yongwangCPH commented on #222
packages in environment at /Users/yongwang/Work/HTMD/miniconda3:

htmd 1.5.7 py35_0 acellera

packages in environment at /Users/yongwang/Work/HTMD/miniconda3:

nglview 0.6.2.1 py35_0 acellera

Enabling notebook extension nglview/extension...
- Validating: OK

Then I tried to uninstall and reinstall htmd, but had a new problem:

Traceback (most recent call last):
File "", line 1, in
File "/Users/yo

[2017-01-16 15:46] j3mdamas commented on #222
@mj-harvey, do we need to resync the packages?

[2017-01-16 15:46] stefdoerr commented on #222
`conda install progress_reporter`

[2017-01-16 15:47] stefdoerr commented on #222
Should not matter really.
I think a fresh install would fix it but try maybe installing
`conda install progress_reporter -c omnia`

[2017-01-16 15:48] stefdoerr commented on #222
I say it should not matter because it's supposedly installed yet it doesn't find it. Unless the acellera package is empty which I doubt. I think conda just got messed up. A fresh install should solve it IMO.

[2017-01-16 15:49] j3mdamas commented on #222
The objective is to not rely on the omnia channel anymore, by syncing all
omnia packages to the htmd channel

On Mon, Jan 16, 2017 at 4:47 PM, Stefan Doerr <notifications@github.com>
wrote:

--

[2017-01-16 15:50] j3mdamas commented on #222
Yeah, I would remove conda altogether and make a fresh conda installation.

On Mon, Jan 16, 2017 at 4:48 PM, Stefan Doerr <notifications@github.com>
wrote:

--

[2017-01-16 15:52] yongwangCPH commented on #222
Really confused now...

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /Users/yongwang/Work/HTMD/miniconda3:

The following packages will be SUPERCEDED by a higher-priority channel:

    progress_reporter: 1.2-py_1 acellera --> 1.2-py_1 omnia

Proceed ([y]/n)? y

progress_repor 100% |##########################################

[2017-01-16 15:53] stefdoerr commented on #222
Just redownload miniconda. Delete the old folder and install as before
https://www.htmd.org/academic-download.html

Move the old miniconda folder to some backup folder

[2017-01-16 16:02] yongwangCPH commented on #222
Thanks a lot. The reinstallation can make htmd work. But I still have the problem of nglview. The error is a bit different now:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-807e7c162d1c> in <module>()
----> 1 mol.view()

/Users/yongwang/Work/HTMD/miniconda3/lib/python3.5/sit

[2017-01-16 16:03] stefdoerr commented on #222
Try `htmd.config(viewer='ngl')`

[2017-01-16 16:03] yongwangCPH commented on #222
Oh, sorry, the problem solved!!! Yes, I am typing :)

[2017-01-16 16:03] stefdoerr commented on #222
ok :) happy to hear so

[2017-01-16 16:03] #222 closed

[2017-01-16 16:03] yongwangCPH commented on #222
Many thanks to all of you!!! Issue closed.

[2017-01-16 16:04] stefdoerr commented on #222
Conda is very practical but sometimes it gets messed up and just needs a good "reboot" :D

[2017-01-16 17:57] j3mdamas opened #223 "Improve deprecation system"
Put in documentation (this is the most important part): http://www.sphinx-doc.org/en/1.5.1/markup/para.html#directive-deprecated
Deprecate it with a decorator (unifies deprecation messages, makes easier to find what is deprecated): https://wiki.python.org/moin/PythonDecoratorLibrary#Smart_deprecation_warnings_.28with_valid_filenames.2C_line_numbers.2C_etc..29 (for functions, needs to be adapted fo

[2017-01-17 09:46] stefdoerr commented on #223
We can have both in parallel. The one in protocol interface is for attributes. The other one can be used for methods and classes

[2017-01-17 11:34] mj-harvey commented on #221
Fixed in 1.5.9

[2017-01-17 11:34] #221 closed

[2017-01-18 09:14] tonigi commented on #194
Function `reprepare` should be in cae369f002b646151bf9708c99928d3634c14494

[2017-01-18 09:14] #194 closed

[2017-01-18 10:43] rcrehuet opened #224 "Using parmBSC1"
I am working with protein-DNA system. Is it possible to use the newest parmBSC1 in HTMD? How should I combine it with the (recommended) ff14SB for the protein?
The parameters can be downloaded from http://mmb.irbbarcelona.org/ParmBSC1/help.php?id=download in AMBER format but I'd like to know how setup HTMD to use them.

[2017-01-18 10:45] rcrehuet opened #225 "setting NME and ACE terminal residues for some protein chains"
I am working with protein-DNA system that contains 5 protein chains. For 2 of the, I'd like to cap the terminal residues with NME and ACE cappings. Is it possible to do that with HTMD or should I pre-process the PDB somehow?

[2017-01-18 11:03] stefdoerr commented on #225
Yes NME and ACE capping is actually done automatically for all protein segments so you need to override the automatical capping by specifying your own like this.

[code]

[2017-01-18 11:04] #225 closed

[2017-01-18 11:18] stefdoerr commented on #224
Hmmm. The usage example gives this:
[code]

Two things will not work in HTMD currently.
1. We need to allow the user to pass `lib` files (actually it's the first time I see them).
1. We need to allow the user to add custom atom types

The other two commands are already available through the `ff` and `param` options of `amber.build`.

It's quite trivial to implement on my side. Could do it today or

[2017-01-18 11:24] rcrehuet commented on #224
No problem in using the github version. But I've never combine it with conda. If I clone the github project, how will the dependencies work?

[2017-01-18 11:26] stefdoerr commented on #224
It will use the conda dependencies. But you must prepend the github folder to your pythonpath as
`export PYTHONPATH=/path/to/githubhtmd/:$PYTHONPATH`
Then when you do `from htmd import *` it should print that you are using the latest version "unpackaged"

[2017-01-18 11:26] stefdoerr commented on #224
But maybe we will make a minor release today with the feature. Wait a bit and I'll tell you once I've implemented it

[2017-01-18 11:56] giadefa commented on #224
Are not these parameters already in HTMD? I understood that they were there.

g

On 18 January 2017 at 12:26, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2Cta

[2017-01-18 13:25] stefdoerr commented on #224
the frcmods and the forcefields yes. The OFF files I see for the first time and also no we could not define our own atom types

[2017-01-18 13:26] j3mdamas commented on #224
Dear @rcrehuet,

We have a DNA FF already available: ff-nucleic-OL15 (http://fch.upol.cz/ff_ol/).

You can see it using `amber.listfiles()` and you can use it.

[2017-01-18 13:29] j3mdamas commented on #224
@stefdoerr, do we want to make (main) changes just to support an unofficial FF? Unless the `.lib` files are official and used in other cases.

[2017-01-18 13:29] stefdoerr commented on #224
I already implemented everything. I just need to test it

[2017-01-18 16:57] stefdoerr commented on #224
Finished implementing it https://github.com/Acellera/htmd/commit/8f83a81e628f82f3f371aa53d59966443aaf25ee
Tested and it doesn't crash.

Now @rcrehuet should check it with his DNA sim. Do you mind trying it with the github version so that we don't make a broken release in a hurry?

Something along those lines should work (adapt the arguments to be like in the [example](http://mmb.irbbarcelona.org/P

[2017-01-18 18:02] rcrehuet commented on #224
After cloning the github repository when running `from htmd import *` I get this error:

    OSError: /home/ramon/anaconda3/bin/../lib/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /home/ramon/progs/htmd/htmd/lib/Linux/libvmdparser.so)

I guess it means that libvmdparser.so has been built with a different libstdc++ than what my conda has. But I'm not sure how to solve this...

[2017-01-18 18:26] stefdoerr commented on #224
@mj-harvey @j3mdamas thought this was fixed no?

[2017-01-18 18:32] j3mdamas commented on #224
The process of compiling the libs was revised by @mj-harvey recently, but I thought everything was fixed now?

[2017-01-18 18:33] stefdoerr commented on #224
But did you add the correct libs to github as well? Because in this case it's probably htmd prefering the github libs over the conda ones

[2017-01-18 18:38] j3mdamas commented on #224
Sorry, this is the `libvmdparser.so` library, which is still on the main repo.

I really don't know what's wrong then. @mj-harvey?

[2017-01-18 18:40] j3mdamas commented on #224
actually, Matt reintroduced the libraries 35b7d8b19b0cf8073c51a5b18b47bc02368feaa5. I don't really know, since I've never compiled them.

[2017-01-18 22:29] rcrehuet commented on #224
@stefdoerr I just cloned the htmd project, nothing else. Just:

     git clone https://github.com/Acellera/htmd.git

[2017-01-19 09:49] stefdoerr commented on #224
I know this is a bit of a pain but could you maybe overwrite the git libs with the conda libs and try again?

[code]

[2017-01-19 10:11] rcrehuet commented on #224
The installation works. Now I'm going to check the changes in `amber.build`.

[2017-01-19 10:41] rcrehuet commented on #224
When running:

    bmol = amber.build(smol, atomtypes=(('C1', 'C', 'sp2'), ('CI', 'C', 'sp3')),
                   offlibraries='./build/parmBSC1.lib', outdir='./build/')

I get this error:

[code]

I also have a couple of questions:

1. Why did you just add two atom times and not the four in [the parmBSC1 web page](http://mmb.irbbarcelona.org/ParmBSC1/help.php?id=download )? Was it just to test t

[2017-01-19 10:44] stefdoerr commented on #224
Yes as I wrote: "adapt the arguments to be like in the example". I only tested the function arguments.
The leaprc.ff14SB is automatically used as written in the docs https://www.htmd.org/docs/latest/htmd.builder.amber.html

About the error you get it just means the build failed. So you must look at the log.txt and leap.log files in the build folder and see what the errors were.