[2017-01-19 10:44] rcrehuet opened #226 "Why does propka complain of not having a pdb when calling `proteinPrepare`?"
I know it is also in the [tutorial](https://www.htmd.org/docs/latest/tutorials/system-building-protein-ligand.html) but I think it is worrying that when you call `proteinPrepare` with a Molecule object that contains a PDB it prints:
[code]

[2017-01-19 10:46] tonigi commented on #226
It's a confusing message inside the code of propka. The price to pay not to fork code.

[2017-01-19 10:49] rcrehuet commented on #225
I had defined the following segments:
[code]
can I then use it like this:
[code]
Or is it better to define one segment per chain? i.e. define 6 segments and specify the capping for the first 5.

[2017-01-19 11:02] stefdoerr commented on #225
Anything inside a segment will get bonded. If you don't want your chains to be bonded then assign them to separate segments.

[2017-01-19 12:13] rcrehuet commented on #224
Everything works now! Thanks!

[2017-01-19 12:29] stefdoerr commented on #224
Nice! :)

[2017-01-19 12:29] #224 closed

[2017-01-19 12:42] rcrehuet opened #227 "Error in manual definition of disulphide bonds"
I'm trying to manually define some disulphide bonds. Acoording to the documentation, the argument should be a *2D array where each row is a pair of atom indexes*.
I've created my array with:
[code]

But that raises an error. I've been looking at the source code and it seems the array elements should have the `segid1` and `resid1` attribute, which atom indices (being integers) do not have...

[2017-01-19 12:48] stefdoerr commented on #227
Oh I forgot to update the docs on AMBER. Thanks for pointing it out.
Use `DisulfideBridge(segid1, resid1, segid2, resid2)`
i.e.
[code]

[2017-01-19 13:58] mj-harvey opened #228 "Update to Py3 version of Psi4"
As soon as the release moves out of test. Watch it here:

https://anaconda.org/psi4/psi4/labels

[2017-01-20 15:46] j3mdamas commented on #226
Nothing to do here. Closed.

[2017-01-20 15:46] #226 closed

[2017-01-20 15:53] j3mdamas commented on #202
What's the status on this issue? Can I close it?

[2017-01-20 15:54] j3mdamas commented on #191
@stefdoerr, can we close this?

[2017-01-20 15:57] j3mdamas commented on #173
`PBSQueue` is "done" but untested. It will most likely fail, as it inherently behaves differently from LSF and Slurm.

If that's the only remaining issue, we can close it, as there is a another thread on that issue already.

[2017-01-20 15:58] j3mdamas commented on #139
Do we still want this, @mj-harvey?

[2017-01-20 15:59] mj-harvey commented on #139
Yes, but punt it to 1.8.0

[2017-01-20 16:00] j3mdamas commented on #83
How are we on Mac compilation?

[2017-01-20 16:01] stefdoerr commented on #191
AFAIK it's resolved

[2017-01-20 16:01] #191 closed

[2017-01-20 16:03] j3mdamas commented on #40
Closing this, as it is included in the more general issue of parameterize official release.

Follow issue Acellera/htmdlib#150

[2017-01-20 16:03] #40 closed

[2017-01-20 16:03] mj-harvey commented on #83
We can clsoe this now - the building it done in the travis environment

[2017-01-20 16:03] #83 closed

[2017-01-20 16:11] j3mdamas commented on #139
Just did. It is still not clear to me how this queue will work, but it's not a priority, so we'll discuss it later

[2017-01-20 16:35] mj-harvey opened #229 "www.htmd.org page rendering is poorly formatted while still loading"
The rendering of the partially loaded https://www.htmd.org page is rather ugly. Before the images load the accompanying black text is mispositioned over the tile. Would be nice to have this cosmetic wrinkled fixed, please.

Steps to reproduce: load htmd.org from outside the lab / using Chrome with bandwidth throttling enabled.

Ta

Matt

[2017-01-20 17:01] j3mdamas commented on #229
If I could reproduce it here at Acellera, I could try to fix it. At home, i don't have that possibility.

[2017-01-23 16:04] yongwangCPH opened #230 "How to choose the TICA lag time?"
I found the final MSM is very dependent on the choice of the TICA lag time. In the tutorials, I noticed that you used 2ns for both binding and folding cases. Any reason to chose this value? Any comments are appreciated.

[2017-01-23 16:15] stefdoerr commented on #230
Both papers that came out introducing TICA said it doesn't affect the results much. From our experience and apparently yours it does seem to affect them. I have not seen any comment on it from Frank's group or Pande's. Maybe Guillermo @gph82 has some new ideas on it? This is more a discussion than an issue so I'll close it but we can keep talking here.

[2017-01-23 16:15] #230 closed

[2017-01-23 16:17] stefdoerr commented on #230
Actually now I remember Guillermo showing some heuristic for picking the lagtime based on autocorrelations. But the recent publications I saw focused more on finding the best number of dimensions than the best lag-time.

[2017-01-23 16:20] gph82 commented on #230
This remains the a question hard to answer in one line. There are definitively wrong lagtimes (too short or too long), but everything in between is essentially equally valid, as long as you arrive at an MSM/HMM that's robust, reproducible and helpful. @yongwangCPH , can you clarify what "very dependent" means?

[2017-01-23 21:52] yongwangCPH commented on #230
Thanks a lot for your comments. @gph82 The MFPT could be different in one or two orders of magnitude when I used different TICA lag times (e.g. 2ns, 50ns). Anyway, it is good to know it is still a kind of open question.

[2017-01-24 09:18] gph82 commented on #230
I am sorry but that sentence alone is not really helpful. You could be
in a sort of "oranges vs. apples" situation. Varying the tica lagtime by
one order of magnitude certainly might lead to different subspaces,
particularly if you're keeping few TICs. How many TICs are you keeping
at lagtime? What does the spectrum look like?

On 23.01.2017 22:52, yongwangCPH wrote:

--
Dr. Guillermo Pérez-Hernán

[2017-01-24 09:30] lmanubens opened #231 "psi4 crash on fedora 25"
Hi,

When using parameterize in a Fedora 25 fresh install the PSI4 minimization crashes.
HTMD was installed following https://www.htmd.org/academic-download.html and pulling this project.

This does not happen in an Ubuntu distribution.
My guess is that it has to do with maths libraries that might be different between the distributions.

Thanks!

[psi4.out.txt](https://github.com/Acellera/htmd/fil

[2017-01-24 15:12] mj-harvey commented on #231
Don't have a Fedora 25 system to reproduce this. I can only recommend that you use your Ubuntu system for this for now, or independently build your own version of psi4.
Alternatively, please check back when we move to Psi4 1.1 once that is released.

Matt

[2017-01-24 15:12] #231 closed

[2017-01-24 20:41] KendyP opened #232 "Question about error in ligand-binding analysis"
Hello,
I'm performing ligand-binding analysis based off of the ligand binding analysis notebook from the most recent workshop.  My system is very similar to the one in the notebook.  When I run my notebook one warning and one error message appear in which I need assistance in resolving. The WARNING message `2017-01-24 15:20:34,972 - htmd.projections.metric - WARNING - Cannot calculate description

[2017-01-24 20:55] stefdoerr commented on #232
[code]

You are projecting the unfiltered trajectories so it complains that they don't have a common PDB file. Change it to fsims and you should be good to go

[2017-01-24 20:57] stefdoerr opened #233 "Make TICA with specified dimensions work even without map"
as seen in the error here:
https://github.com/Acellera/htmd/issues/232

Easy fix

[2017-01-24 21:06] KendyP commented on #232
I made the change and the warning message and error have been resolved. Thank you very much.

[2017-01-24 21:08] stefdoerr commented on #232
You are welcome :)

[2017-01-24 21:08] #232 closed

[2017-01-25 11:23] stefdoerr commented on #233
Fixed in https://github.com/Acellera/htmd/commit/9d628ea2f318afb6f23bda99b0e1af46a92103ee

[2017-01-25 11:23] #233 closed

[2017-01-25 13:34] stefdoerr commented on #219
Removed. I also added github/issues link and remade all static pages in jinja to be less of a pain in the ass to modify them.

[2017-01-25 13:34] #219 closed

[2017-01-25 14:08] stefdoerr commented on #229
You can. With chrome you can throttle the network speed. It's quite hard to fix though without redesigning the website as it uses javascript to make the slideshow and expects the images to have loaded beforehand.

[2017-01-25 14:33] j3mdamas commented on #229
Oh, with Chrome DevTools. I did not know it.

[2017-01-25 15:59] KendyP opened #234 "Question: adaptive and ligand binding analysis"
I am interested in running adaptive and ligand-binding analysis on two systems containing the serotonin transporter and the inhibitor fluoxetine. One system has the ligand in the pocket, and the other has the ligand outside the pocket. The experimental Kon and Koff values are 0.91 x 10^6 1/M s and 3 x 10^-3, 1/s respectively. Based on my readings and the given experimental data, would a simulation

[2017-01-25 16:19] stefdoerr commented on #234
Okay this is a complicated question. Lets see.
It's binding is fast enough. Unbinding is faster than Benzamidine.
[code]
I still believe you might have problems unbinding it.

The length of the simulations is dictated by the quality of the model which again is determined by the quallity of the discretization which in turn is determined by the quallity of your projection. So:
`projection -> discret

[2017-01-25 16:23] mj-harvey commented on #229
should be as simple as fixing the size of the element that the image is loading into, so that it doesnt get resized from height=0 when the image finishes loading

[2017-01-25 16:25] mj-harvey opened #235 "HTMD website -- keep copyright year uptodate"
the footer says 2016 still.

[2017-01-25 16:26] giadefa commented on #234
unbinding is slower you mean

On 25 January 2017 at 17:19, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://

[2017-01-25 16:27] stefdoerr commented on #234
Oh that was a minus?!!? Wow ok that is pretty much guaranteed to not unbind.

[2017-01-25 16:29] stefdoerr commented on #235
Just message me those minor things :) Fixed in a sec

[2017-01-25 16:29] #235 closed

[2017-01-25 16:30] giadefa commented on #234
to unbind you have to select a proper metric, like few distances to close
contacts.

On 25 January 2017 at 17:27, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%

[2017-01-25 16:31] stefdoerr commented on #229
I don't see the resizing issue. I see the other issues with the images loading one under the other before becoming a slidshow and the texts loading on top of each other.

[2017-01-25 16:36] stefdoerr commented on #234
I guess I would monitor a few binding events or bound simulations to see where the strongest interactions are and then try to break those with some goal-based adaptive. I mean it's theoretically possible but I don't see this happening with normal adaptive in a decent time-frame.

[2017-01-25 16:36] gph82 commented on #235
no please, this stuff is interesting ;)

[2017-01-25 16:37] j3mdamas commented on #235
@stefdoerr, I put it automatic on htmd documentation. Can't we do something similar on the htmd.org?

[2017-01-25 16:38] j3mdamas commented on #229
not urgent, but I'll look into it

[2017-01-25 16:39] j3mdamas commented on #229
yeah, I see the same as you, Stefan.

[2017-01-25 16:40] stefdoerr commented on #235
Yeah I can. On another subject let's keep internal issues on the private issue tracker? There is no point to post it here in my opinion.

[2017-01-25 16:57] j3mdamas commented on #234
`3 * 10^(-3) s^(-1)`? That means that, in reality (_in vitro_ or whatever they used to derive that quantity), there is 1 (one) unbinding event every 3000 seconds (50 minutes). In my opinion, it's unrealistic to do this with pure or adaptive MD (without biasing).

[2017-01-25 16:58] j3mdamas commented on #234
Unrealistic for the unbinding, of course.

[2017-01-25 16:59] j3mdamas commented on #235
agreed.

[2017-01-25 17:55] mj-harvey opened #236 "Difference in prmtop between ambertools 15 and 16."
Let's get the amber build working with the current ambermini package (Ambertools 16). Seems to be one test failing right now. Looks like a simple fix.

[2017-01-25 17:59] mj-harvey opened #237 "Pypi packaging"
At least basic functionality for  a "pip install"able HTMD.

[2017-01-25 18:38] KendyP commented on #234
Your insight is very helpful. Thank you for your responses!

[2017-01-25 18:40] j3mdamas commented on #234
poor math, did an update on the numbers. doesn't change conclusion.

[2017-01-25 19:42] giadefa commented on #234
actually joao we have done more than that but as i said you need the right
variables

On 25 January 2017 at 19:40, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-

[2017-01-25 19:49] j3mdamas commented on #234
I am not saying unbinding observation is impossible. What I think is that statistics and reliable data on the unbinding is hard to get.

[2017-01-26 01:40] hsidky opened #238 "Save intermediate parameterize results"
Hello,
I am in the process of parameterizing a small molecule to obtain both partial charges and torsion potentials. However, there are a fair number of dihedrals, and during the process, an error was thrown and the application quit. It had been running for a very long time and the only thing that was written to disk was a few plots of the torsional potentials, but no actual numbers for the partia

[2017-01-26 09:35] mj-harvey commented on #238
Just re-run it. It will pick up where it left off.

[2017-01-26 11:09] mj-harvey commented on #186
Going to close this until a user specifically requests the incomplete part.

[2017-01-26 11:09] #186 closed

[2017-01-26 18:29] j3mdamas commented on #236
On it now

[2017-01-26 23:20] mj-harvey commented on #236
@j3mdamas
The problem is that leaprc.ff14SB is renamed oldff/leaprc.ff14SB (ditto earlier gen ff files)

Mattt

[2017-01-27 10:38] giadefa opened #239 "warning on funcsigs package copied from omnia"
htmd-1.5.13-py 100% |##############################################################################################| Time: 0:00:11 843.59 kB/s
/shared/gianni/miniconda3/lib/python3.5/site-packages/conda/core/link.py:445: UserWarning: Package acellera::funcsigs-1.0.0-py_1 uses a pre-link script. Pre-link scripts are potentially dangerous.
This is because pre-link scripts have the ability to change

[2017-01-27 10:52] j3mdamas commented on #239
Just updated mine on my machine, no problems:

[code]

@mj-harvey?

[2017-01-27 10:53] giadefa commented on #239
I did conda update --all

On 27 January 2017 at 11:52, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www

[2017-01-27 10:55] giadefa commented on #239
actually the update worked. So it is just for Matt to take care of that advise for the future

[2017-01-27 10:58] j3mdamas commented on #239
changed a bit the content then. may be some problem with the copying of the omnia conda packages. @mj-harvey, if you think it's irrelevant, close it.

[2017-01-27 11:01] j3mdamas commented on #236
I guess the closing was by accident

[2017-01-30 11:10] stefdoerr opened #240 "Molecule.wrap doesn't respect bonds anymore [regression]"
Example files found in:
loro:/tmp/1xq8/

[code]
produces broken visualization:
![bondwrapping](https://cloud.githubusercontent.com/assets/7935362/22420924/00d188aa-e6e5-11e6-9d06-696c87ea9e35.png)

[2017-01-30 11:10] stefdoerr commented on #240
Possibly related to recent changes in wrap? https://github.com/Acellera/htmdlib/commit/0c0070644b58970749ccd7aa8d6da6e6ea3d8b56#diff-6a032e848853967ff255662b76579803

[2017-01-30 11:12] j3mdamas commented on #240
I'm also having wrapping problems

On Mon, Jan 30, 2017 at 12:10 PM, Stefan Doerr <notifications@github.com>
wrote:

--

[2017-01-30 12:15] mj-harvey commented on #239
The latest version of Conda is more vocal about pre/post link deprecation. I'll keep an eye on it.

Matt

[2017-01-30 12:15] #239 closed

[2017-01-30 13:32] mj-harvey commented on #240
@stefdoerr

do me a favour and make an example that's just one frame, please?
Bandwidth constrained today.

[2017-01-30 13:37] stefdoerr commented on #240
Ok check now.
[code]

[2017-01-30 13:54] mj-harvey commented on #240
Pull htmdlib and rebuild

[2017-01-30 14:16] #240 closed

[2017-01-30 14:16] #212 closed

[2017-01-30 14:39] mj-harvey commented on #236
Fixed.

[2017-01-31 10:33] j3mdamas commented on #236
Let me fix it, Matt. It's not as simple to pass the tests.

[2017-01-31 16:34] j3mdamas commented on #236
So, changing `amber.py` to point to the new `oldff` directory is not the way to go, in my opinion. If that was the way to go, I would keep amber15.

The reason for the changing to old, is a restructuring of the force-fields.

For example, the "old" `leaprc.ff14SB`, which is now in `oldff`, uses:

The new logic, is to have these different parts in difference files, hence, we should replace `leaprc.

[2017-01-31 16:35] j3mdamas commented on #236
The tests won't reflect DNA or RNA, since we don't test those anyway.

[2017-01-31 16:41] mj-harvey commented on #236
Are you saying that Amber 15's leaprc.ff14SB and 16's oldff/leaprc.ff14SB define *different* parameter sets?

[2017-01-31 16:44] j3mdamas commented on #236
No, those are the same. But I don't think that the point of changing to
Amber16 is to use a directory called `oldff`, and perpetuating a logic that
is getting changed. Since we are changing it, let's adapt to the new logic.
No?

On Tue, Jan 31, 2017 at 5:41 PM, M J Harvey <notifications@github.com>
wrote:

--

[2017-01-31 16:46] stefdoerr commented on #236
I think Amber16 by itself put the files in oldff

On Tue, Jan 31, 2017 at 5:44 PM, João M. Damas <notifications@github.com>
wrote:

[2017-01-31 16:46] mj-harvey commented on #236
The sole rationale for the drive to Ambermini 16 is so that we don't fall behind in our ability to support new ffs in the future.
To the extent that  we are happy with our default choice of ff14SB, I don't see any need to make any change to our code beyond loading the leaprc from its new location.
If a user wants to make a non-default choice, they can use the old or new scheme as they wish.

[2017-01-31 16:48] j3mdamas commented on #236
OK, I will do that, but just stating that I strongly disagree.

On Tue, Jan 31, 2017 at 5:46 PM, M J Harvey <notifications@github.com>
wrote:

--

[2017-01-31 16:50] mj-harvey commented on #236
Then can you please explain your objection for clearly?

[2017-01-31 16:53] j3mdamas commented on #236
I think that this decision will have to be made sooner or later, as I think
that the oldff will disappear. This is not a change from the `ambermini`
guys, but rather a change from the Amber guys.

Anyway, I will lock-in the ambermini version to 16.16.0, as we did before
for ambermini15. This should prevent any unwanted results.

On Tue, Jan 31, 2017 at 5:50 PM, M J Harvey <notifications@github.com

[2017-01-31 16:57] mj-harvey commented on #236
I've just diffed the leaprc.ff14SB in  ambermini 15 and 16 and they are functionally identical, so it is just a organisational change.

I think it's reasonable to review how we make these includes if/when we revise the defaults. Of course if you are writing build scripts that refer to newer ff files do strive to use whatever scheme has currency today.

[2017-01-31 17:42] j3mdamas commented on #236
There are differences in the `.prmtop` produced, I need to check what they mean and if they are relevant

[2017-01-31 18:12] j3mdamas commented on #236
There is a change in two `DIHEDRALS_WITHOUT_HYDROGEN` parameters (horrible to track the actual change, for those familiar with comparing force-field files). These two appear in the new `.prmtop`

My guess is difference in the way `tleap` interprets something as an hydrogen.

There are also lots of differences in the `RADII` parameters (Generalized Born intrinsic dielectric radii, according to the

[2017-01-31 18:12] j3mdamas commented on #236
Just so it's clear, this is using `oldff/leaprc.ff14SB`

[2017-01-31 18:50] mj-harvey commented on #236
Hm. The Radii don't matter for us, but the dihedral change is surprising. Could you do me a favour and email me the before and afters?

Matt

[2017-01-31 18:52] j3mdamas commented on #236
I am pinpointing the problem with the help of `leap.log`. Depending on that, I will report here. If necessary, I will bring it up to the `ambermini` guys.

[2017-01-31 18:56] mj-harvey commented on #236
ok, if you are happy to keep at it. Best report any issue directly on the amber mailing list though.

[2017-01-31 18:57] j3mdamas commented on #236
I'm fine with it

On Tue, Jan 31, 2017 at 7:56 PM, M J Harvey <notifications@github.com>
wrote:

--

[2017-01-31 20:03] j3mdamas commented on #236
OK, I am going to send an e-mail to the Amber mailing list about this issue. I have tested it using AmberTools instead of `ambermini`, and I am going to go with those results.

@mj-harvey, do you still want access to the results?

[2017-01-31 20:37] j3mdamas commented on #236
From [here](http://ambermd.org/changelog.html), so my point is also what is recommended:

I'll update with a link to the mail that I posted to the Amber mailing list, as soon as it becomes available.

[2017-01-31 21:43] mj-harvey commented on #236
Let's decouple these two issues. Keep this issue for the difference between 15 and 16 with the leaprc.ff14SB, and open a second issue where we can discuss what we want the default Amber params to be.

[2017-01-31 21:47] mj-harvey opened #242 "Best defaults for Amber build"
Forked from https://github.com/Acellera/htmd/issues/236

@j3mdamas @stefdoerr
Current best practice for Amber ffs: discuss here for the record please.

[2017-02-01 11:06] hawk31 opened #243 "Python 3.6 compatibility"
Stable Anaconda (4.3) version uses Python 3.6 by default. Now `conda install htmd` does not work due to some dependency issue.

[code]

[2017-02-01 12:41] j3mdamas commented on #243
Downgrade anaconda for now?

On Feb 1, 2017 12:06, "José Jiménez" <notifications@github.com> wrote:

[2017-02-01 12:43] hawk31 commented on #243
Sure, just letting you know this issue exists.

[2017-02-01 12:45] j3mdamas commented on #243
Thanks for reporting :)

On Feb 1, 2017 13:43, "José Jiménez" <notifications@github.com> wrote:

Sure, just letting you know this issue exists.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/Acellera/htmd/issues/243#issuecomment-276648377>, or mute
the thread
<https://github.com/notifications/unsubscribe-auth/AKTzQlvyodRSuPjsIB

[2017-02-01 13:58] j3mdamas commented on #242
Here I think we are not discussing which is the "best" force-field, are we?

My opinion is that, whichever is the version of AmberTools we are using, we use the recommendation from the Amber team for that version.

For AmberTools16, from [here](http://ambermd.org/changelog.html), the recommendation is:

[2017-02-01 14:01] j3mdamas commented on #236
The link isn't the available yet, here is the reply I got:

recall correctly, in this case the differences you refer to are from the
addition of "placeholder" end dihedrals (i.e. Dihedrals with 0.0 force
constant) which were previously missing. I think the reason was to prevent
so-called "wild card" dihedrals from being improperly applied (others
please correct me if I'm wrong here). The bottom li

[2017-02-01 14:07] giadefa commented on #236
is the force constant zero as it says?

On 1 February 2017 at 15:01, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>

[2017-02-01 14:11] j3mdamas commented on #236
I checked index 44 on the list, and that one is zero.

[2017-02-01 14:14] giadefa commented on #236
good for me then

On 1 February 2017 at 15:11, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.aceller

[2017-02-01 14:30] j3mdamas commented on #236
forget about `FFMolecule`, it does not accept `.frcmod` yet.

OK, if we are happy with this, I will replace the files to test Amber for the ones produced with `ambermini` 16.16.0 and using `oldff/leaprc.ff14SB`. Should I push these changes?

[2017-02-01 15:21] mj-harvey commented on #236
Good for me.

[2017-02-01 15:24] mj-harvey commented on #243
Since we aren't providing py36 packages yet, I'm surprised that conda finds an HTMD to install.

[2017-02-01 15:58] KendyP opened #244 "Restart of adaptive does not finish remaining simulations in epoch"
I am inquiring about an issue with Adaptive. My simulations were stopped part way through epoch 1 due to an issue with the computer they were running on.  Roughly 10 out of the 40 simulations in the epoch had finished. I restarted adaptive and found that rather than continuing with the simulations that remained in the first epoch, a second epoch containing 40  simulations was created and began run

[2017-02-01 16:06] stefdoerr commented on #244
Depends what resource you use. If you use LocalQueue it will not be able to recover because you killed the queue. It might even get stuck forever (until you delete some files).
If you use a standalone queue like PBS/LSF etc as long as you didn't kill the queue it should continue working.

If you killed the queue it will not resend the missing simulations out. If there are not enough simulations co

[2017-02-01 16:06] j3mdamas commented on #244
Hi,

The algorithm of adaptive detects which is the last epoch, independent of how many simulations were produced (finished). The creation of a new epoch depends on the amount of simulations that are running (if it's under `nmin`) rather than the amount of simulations that the last epochs has.

[2017-02-01 16:32] rcrehuet commented on #227
Actually, I still have a problem with the disulphide bridges. When building the model errors such as:

[code]
Apparently this is because CYS residues should be names CYX (see [here](http://archive.ambermd.org/201407/0024.html) or [here](http://archive.ambermd.org/201204/0052.html)), and this is not automatically done by HTMD. Is there a way I can do that manually? Or is it better if you correct it

[2017-02-01 16:41] j3mdamas commented on #236
For reference, the question I asked: http://archive.ambermd.org/201701/0668.html

[2017-02-01 16:43] rcrehuet opened #245 "How to save a Molecule (i.e. how to avoid redoing all the setup steps)"
This may seem a very simple question, but is there a way to save the state of a Molecule object (including all the associated files). For example, once I have done the setup, after calling `solvate` or `amber.build` I get a Molecule object. How should it be saved so that I can load its full state in a new session? (I am afraid Pickle is not the right option here, and `Molecule.write` only write a

[2017-02-01 16:47] j3mdamas commented on #245
Hi,

What are you trying to achieve? `Molecule.write` saves you the coordinates. Everything else from `amber.build` is saved in the `outdir` of that function.

[2017-02-01 16:53] j3mdamas commented on #227
I see what you mean. The residue name conversion is only being performed for automatic detection. I'll fix that.

[2017-02-01 17:10] #227 closed

[2017-02-01 17:17] rcrehuet commented on #245
OK, I see, so all the needed files are in the `outdir` directory and the user need not care about their names or anything else. So that when I equilibrate I just need to give that directory:
[code]
And then, to run a production run I simple do:
[code]
Of course I can fine tune and configure all these md objects.

[2017-02-01 17:21] j3mdamas commented on #245
Exactly. The `write` method will take the information from the path you provide and do the rest.

[2017-02-01 17:21] #245 closed

[2017-02-01 17:24] KendyP commented on #244
Thank you for the responses. There was a power issue with the computer, so the queue was killed. Adaptive does not appear to be stuck or anything, and the second epochs simulations are running smoothly. It is helpful to know how the algorithm works when adaptive is restarted. Thanks again!

[2017-02-01 17:25] #244 closed

[2017-02-01 18:01] #236 closed

[2017-02-01 18:09] j3mdamas commented on #243
Yeah, it is surprising. I am going to test it.

[2017-02-01 18:10] j3mdamas commented on #243
@hawk31 is having this in a fresh installation, so it's really urgent

[2017-02-01 18:15] mj-harvey commented on #243
I'm going to add  py36 packages to travis

[2017-02-01 18:22] mj-harvey commented on #243
In the mean time, @hawk31 you can create a ython 3.5 environment before installing.

[2017-02-01 18:42] j3mdamas commented on #243
@hawk31 this was using Anaconda installer and not the Miniconda one, correct?

[2017-02-01 18:42] j3mdamas commented on #243
I just tested the Miniconda, and it works fine, so I'll downgrade the urgency of this matter.

[2017-02-01 18:52] hawk31 commented on #243
Yeah, it was Anaconda 4.3.

I have no rush to update whatsoever, so don't worry.

El 1 feb. 2017 19:42, "João M. Damas" <notifications@github.com> escribió:

I just tested the Miniconda, and it works fine, so I'll downgrade the
urgency of this matter.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Acellera/htmd/issues/243#i

[2017-02-01 18:53] j3mdamas commented on #243
Confirmed. There is no dependency issue, it's just that python3.6 and htmd were in conflict.

Good to note though, since maybe Miniconda may move on to py36 too soon, so we'll be ahead.

Thanks for reporting.

[2017-02-01 18:55] mj-harvey commented on #243
We'll keep this openfor now, until I'll sorted the dependencies

[2017-02-01 19:33] stefdoerr commented on #244
Hm @j3mdamas I am debating if this is something that should be fixed. The adaptive could theoretically be restarted mid-epoch. Like if the queue crashes (i.e. nothing is running) but not all sims have returned it could resend missing sims. But this might open us up to other issues like failing simulations. We don't want to get stuck resending failing simulations. Needs some thinking.

[2017-02-01 19:37] stefdoerr commented on #244
Hm nah forget it. It's probably not a good idea. You were right, I mean as it works now it works correct. It filled up the queue with nmax simulations. Doesn't really matter if one epoch was cut a bit short, we should not count on epochs ever being fully completed.

[2017-02-01 19:39] stefdoerr commented on #244
Also @KendyP in the same vein, if you ever decide to plot the progress of the adaptive like RMSD per epoch, don't plot it per epoch but instead by aggregate simulation time, then the x axis will be correct independently if one epoch was shorter than another.

[2017-02-01 19:41] j3mdamas commented on #244
yeah, I agree with you, now that I understand it a bit better. It's a little bit like when we discussed the `inprogress` method: adaptive doesn't care if the simulations failed or not, it just cares about what is running.

[2017-02-01 19:42] stefdoerr commented on #245
Indeed @j3mdamas is right. Also nearly all information in the molecule can be written in a PDB file. Excluding trajectory frames in which case you could write a PDB and then an XTC and that should contain all info.
We try not to store information in the Molecule that is not contained in a PDB file, with some minor edge cases which you probably should not care about.

[2017-02-01 19:43] KendyP commented on #244
I was planning to make an epoch vs. RMSD plot once I had more epochs completed, so that is a good point. Thank you!

[2017-02-01 21:23] j3mdamas opened #246 "plotFluxPathways not plotting"
pyemma was updated to 2.3, maybe our call it outdated?

I noticed that the problem was in pyemma 2.2. Reported here https://github.com/markovmodel/PyEMMA/issues/1032. I was using PyEMMA tutorial to test the `plot_flux` command we call with `plotFluxPathways`. With v2.2 it didn't work, but cloning the repo and using the latest, it works (the tutorial with plot_flux).

Going back to our `plotFluxPat

[2017-02-02 09:42] rcrehuet commented on #245
I disagree. One clearly needs also information about the topology and the force field parameters. That was what I was asking. But I see that this is automatically seached for.
What if I modify the file names with (as done [here](https://www.htmd.org/docs/latest/tutorials/mu-opioid-receptor-gpcr-equilibration.html))?
[code]
If I want to extend that run, I guess I need to specify this file names aga

[2017-02-02 09:47] stefdoerr commented on #245
Ah yes but that information is never stored in a molecule object. It's stored in files in the build folder.

`md` being the production or equilibration run? What do you mean by extending the run?

[2017-02-02 09:49] stefdoerr commented on #245
The tutorial is a bit old. Production protocol v4 should detect those automatically and rename them to input.coor/xsc

[2017-02-02 10:22] giadefa opened #247 "TODO enhancements"
1. Implement the kinetic distance in TICA at 95% variance. So that we don't have to choose one parameter and the result is also better
1. wrap our own kmean. The recommended number of cluster should be sqrt of number of frames (also in adaptive?)
1. use kcenters as default in adaptive

[2017-02-02 10:28] stefdoerr commented on #247
1. is already done. If you don't pass a dimension to tica.project() it does that.

[2017-02-02 10:29] stefdoerr commented on #247
But from my tests it worked quite badly. It gave hundreds of dimensions for my systems which made a very bad model.

[2017-02-02 10:39] j3mdamas commented on #247
Just printed now the corresponding paper. The ITS plots with kinetic maps look like tICA with all dimensions, but a bit improved?
For the model systems it looks very good, but for the molecular systems I need to read more.
@stefdoerr bad how?

[2017-02-02 10:39] j3mdamas commented on #247
@giadefa which paper is the one of the square root of the number of frames? is it this one?

[2017-02-02 10:42] stefdoerr commented on #247
It's an old heuristic

https://www.quora.com/How-can-we-choose-a-good-K-for-K-means-clustering

ctrl+f square root

or google kmeans square root

On Thu, Feb 2, 2017 at 11:39 AM, João M. Damas <notifications@github.com>
wrote:

[2017-02-02 10:55] j3mdamas commented on #247
interesting. reminds me of the rules to choose bin-size when making histograms, where there's also the square-root rule: https://en.wikipedia.org/wiki/Histogram#Number_of_bins_and_width.

[2017-02-02 11:02] lmanubens opened #248 "Can solvate be used with molecules other than water?"
Hi,

From the documentation of the solvate module I wonder whether a protein can be solvated with molecules different than water.

Should the following arguments allow to tweak the module for doing it?
spdb (str) – The path to the water pdb file
spsf (str) – The path to the water psf file
stop (str) – The path to the water topology file

https://www.htmd.org/docs/latest/htmd.builder.solvate.html

[2017-02-02 11:44] stefdoerr commented on #248
Theoretically should be possible. I will need to take a look at it later. Thanks for the files

[2017-02-02 14:53] tonigi commented on #243
This should allow the use of htmd in any anaconda. It makes a separate env and do all its best to satisfy dependencies.

    conda create --name htmd htmd
    source activate htmd

[2017-02-02 15:22] j3mdamas commented on #243
@mj-harvey I'm going to make a release even though the py3.6 build is failing, because the builds and conda uploads are independent within builds.

[2017-02-02 15:50] stefdoerr commented on #246
At 2.2.7 it works fine for me.

[2017-02-02 15:51] j3mdamas commented on #246
could you think of any reason why it does not work for me? do I need a fresh conda installation, maybe?

[2017-02-02 15:54] stefdoerr commented on #246
Works fine in 2.3 as well.
I will need a test case.

[2017-02-02 15:56] j3mdamas commented on #246
I am going to try a fresh installation, and then provide an example if it
does not solve it

On Thu, Feb 2, 2017 at 4:54 PM, Stefan Doerr <notifications@github.com>
wrote:

--

[2017-02-02 16:10] stefdoerr commented on #248
Okay there was a small bug which I fixed.

But are you sure you are doing this correct? You want to solvate the protein in 4000 molecules? The same ones you want to bind?

Also after the fix the code is a bit slow because it's trying to replicate individual molecules. Normally we replicate a whole water box, not individual water molecules. There might be some optimization possible there though.

[2017-02-02 16:18] lmanubens commented on #248
No, sorry, I just played a bit with the size of the box in order to see if it was the problem.
I will also follow your advice and replicate solvate boxes in case I wanted big systems.

Thanks a lot!

[2017-02-02 16:22] #246 closed

[2017-02-02 16:24] stefdoerr commented on #248
Well the bug is fixed on github but not on a htmd release yet. But the bug only pops up when you try to create more than 1000 copies of your solvent box. So under normal circumstances it should not crash, and with the new htmd version it's fixed.
Thanks for finding the bug though :)

[2017-02-02 16:24] #248 closed

[2017-02-02 16:26] j3mdamas commented on #248
@lmanubens I just did a release before @stefdoerr fixed this. there will be a new release with this fix next week :)

[2017-02-02 16:27] lmanubens commented on #248
Okok, thanks both!

[2017-02-03 17:24] stefdoerr opened #249 "AMBER build issues"
I am building a system which seems to have a GLY terminal residue. However tleap seems to be a bit schizophrenic. It seems to know about the residue, add the H atom and then crash because the atom it added itself doesn't have a type? I included here all lines of the leap.log which are related to NGLY.

@tonigi @j3mdamas any ideas?

[4rws.zip](https://github.com/Acellera/htmd/files/751131/4rws.zip)

[2017-02-03 17:26] stefdoerr commented on #249
Seems to happen in many systems. Could also be related to the AMBER 16 switch?

[2017-02-03 17:26] tonigi commented on #249
GLY or GLH?

T

On 03/02/17 18:24, Stefan Doerr wrote:

[2017-02-03 17:28] stefdoerr commented on #249
It says GLY

[2017-02-03 17:29] stefdoerr commented on #249
Ah ok sorry then not protonated. Terminal GLY? Is that what NGLY is?

[2017-02-03 17:30] stefdoerr commented on #249
Hmmm might be related to our terminal capping algorithm

[2017-02-03 17:32] tonigi commented on #249
Not sure GLU/GLH is involved. NGLY must be glycine at n-terminus. Amber
handles termini by internal renaming afaik.

On 03/02/17 18:29, Stefan Doerr wrote:

[2017-02-03 17:33] stefdoerr commented on #249
Yes I'm sorry I was tired and confused :P It's a terminal GLY.

[2017-02-03 17:38] stefdoerr commented on #249
Getting the feeling it's related to AMBER16 and our capping. Can you take a look @j3mdamas ?

[2017-02-03 17:38] tonigi commented on #249
Something is odd at residue ALA 209 which is also ACE 209, and NME 211
which is also GLY 211 (where possibly the problem occurs).

T

[2017-02-03 17:50] tonigi commented on #249
Root cause seems this: when there is no ACE, residues become their "Nxxx" counterparts. In normal residues, there is one nitrogen hydrogen, called H; in Nxxx ones, there are three, called H1,H2,H3. So the problem will probably surface with all non-N-capped residues.

Workaround: delete the H, or rename it to H1.
Solution: figure out clever addPdbResMap statements for Nxxx residues.

T

[2017-02-03 17:57] tonigi commented on #249
...and in fact this could be sufficient

    addPdbAtomMap { { "H" "H1" } }

[2017-02-03 18:19] j3mdamas commented on #249
With capping, there shouldn't be any `NXXX` or `CXXX` residues. Did you check if it's capping?

[2017-02-03 18:48] stefdoerr commented on #249
As Toni said it's probably uncapped residues. Weird though since it should
be capped automatically. I will check what's going on there.
Otherwise I will add Toni's rule in :) Thanks a lot :)

On Fri, Feb 3, 2017 at 7:19 PM, João M. Damas <notifications@github.com>
wrote:

[2017-02-03 18:56] tonigi commented on #249
The rule may be necessary anyway if we want to support non-capped
residues in amber.

T

On 03/02/17 19:48, Stefan Doerr wrote:

[2017-02-03 18:57] j3mdamas commented on #249
I'll look into it also

On Feb 3, 2017 19:56, "Toni G" <notifications@github.com> wrote:

[2017-02-06 10:22] stefdoerr commented on #249
I found the bug. It happens if two segments have the same name (i.e. P0) with a different segment (i.e. P1) in between. Then our capping applies the ACE cap to the first P0 and the NME to the second P0 and both remain uncapped on their other terminals.

Now to find out why we have two P0 segments

[2017-02-06 10:24] stefdoerr commented on #249
This makes for a related issue. We should handle such cases in capping where segments with same name are separated by other segment.

[2017-02-06 10:26] tonigi commented on #249
It kind of departs from the modeling assumption that a segment is the
unique identifier of an actual molecule...

On 06/02/17 11:24, Stefan Doerr wrote:

[2017-02-06 10:40] stefdoerr commented on #249
Ok found a failure in the capping. It assumed that the min and max resids inside a segment correspond to the terminals which isn't true since the resid numbering can be totally random like in those cases where there are some higher resids in the middle of the segment.

I actually don't see a reason not to renumber all resids directly in AMBER in every segment. After it builds it does it itself any

[2017-02-06 10:43] giadefa commented on #249
residue numbers are meaningful to people. TRP283 means something for a
specific protein.

On 6 February 2017 at 11:40, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2

[2017-02-06 10:45] stefdoerr commented on #249
As I said, tleap renumbers all residues, so whoever uses AMBER will have to give up on meaningful residues.

[2017-02-06 10:58] j3mdamas commented on #249
I kept the previously used logic but yes, I see how it fails.
Anyway, I agree with Toni: why are there different segments with the same
name? We should catch such a mistake if it's user defined segments, but
autosegment should not produce such a mistake. No?

On Feb 6, 2017 11:45 AM, "Stefan Doerr" <notifications@github.com> wrote:

[2017-02-06 13:05] stefdoerr commented on #249
No clue. tleap seems to be making a mess for 5cxv
Before building the terminal
![before](https://cloud.githubusercontent.com/assets/7935362/22648048/faedd7f0-ec74-11e6-9f90-31a01eda8f3c.png)
After building the terminal
![after](https://cloud.githubusercontent.com/assets/7935362/22648053/01014a14-ec75-11e6-8f0f-49050b0a5b8f.png)

Seems to be adding another residue on top of the terminal with a much

[2017-02-06 13:13] j3mdamas commented on #249
but how are 360 and 362 connected then?

On Mon, Feb 6, 2017 at 2:05 PM, Stefan Doerr <notifications@github.com>
wrote:

--

[2017-02-06 13:16] stefdoerr commented on #249
![image](https://cloud.githubusercontent.com/assets/7935362/22648389/c5fcffec-ec76-11e6-8a49-9ae4ea90c441.png)
They don't seem to healthy either

[2017-02-06 13:19] j3mdamas commented on #249
Can you give me the PDB IDs of the problematic stuff?

5cxv and 4rws?

[2017-02-06 13:43] stefdoerr commented on #249
The two you named above managed to build after my last change in capping. I don't know how correct though which is another question.

The rest of the systems which won't build for AMBER but built fine in CHARMM are the following:
[code]

[2017-02-06 16:18] stefdoerr commented on #249
I started looking into them and will update this post on the various causes:
[code]

[2017-02-07 09:57] stefdoerr commented on #249
Ok this concludes all failures. I'm done with the AMBER build. Only need to take a look at https://github.com/Acellera/htmdlib/issues/176 to make sure it's indeed multiple sulfurs getting bonded

[2017-02-07 09:57] #249 closed

[2017-02-07 10:50] katkovs commented on #198
Hello HTMD team,

Writing of impropers seems to still be an issue. I am attaching the resulting frcmod, mol2, and prmtop files using antechamber or htmd on the same molecule as before.

[AFC2.zip](https://github.com/Acellera/htmd/files/757318/AFC2.zip)

There seem to be two issues:
1. Not all imporpers are written out in the prmtop file (compare antechamber.prmtop where there are 9 impropers, vs.

[2017-02-07 11:05] j3mdamas commented on #198
@mj-harvey can you check this?

[2017-02-07 15:19] mj-harvey commented on #243
@j3mdamas py3.6 dependencies are all present now, please put out a release next time the board is green.

[2017-02-07 15:40] mj-harvey commented on #198
@katkovs can you double-check that you are using the antechamber, tleap etc that are part of the ambermini package installed as an HTMD dependency.

[2017-02-07 15:52] j3mdamas commented on #243
I need to check if PyEMMA patch is already out. That doesn't pass in our
Travis build yet.

On Feb 7, 2017 4:19 PM, "M J Harvey" <notifications@github.com> wrote:

[2017-02-07 15:53] katkovs commented on #198
Yes, all ambertools-related programs are from the ambermini package installed with conda, version  15.0.4 as far as I see with "conda list". There are no other AmberTools installed on the machine where I ran both htmd and pure antechamber calculations.

[2017-02-07 16:21] mj-harvey commented on #198
@katkovs I can see there are some important errors in frcmod HTMD has written out, I'll investigate and update here later.

[2017-02-07 16:21] mj-harvey commented on #243
2.3.1 just appeared.

[2017-02-07 16:24] j3mdamas commented on #243
Cool, I'll make the release later today

On Feb 7, 2017 5:22 PM, "M J Harvey" <notifications@github.com> wrote:

[2017-02-08 05:23] funnybomb opened #250 "how to restart adaptive md simulation?"
hi, I want to setup a adaptive simulation, in case there is a problem, how to restart adaptive simulation?
besides, I have some questions about adaptive simulation parameters, I want to investigate a octamer protein comformational change with 180k atoms in water box, I can do 30ns/day with my gtx970, what is the proper length and nepochs of the simulation?
below is my current setup, thanks in adva

[2017-02-08 09:47] stefdoerr commented on #250
[code]
FYI these are not needed with protocol v4. It automatically sets those.

Adaptive:
* the adaptive should be able to restart without any problems if it crashes. If it does give you problems report them here.
* 30 epochs is too little. I would just set it to some huge number and stop whenever I feel like it (i.e. when I see interesting results).
* The simulation length depends on the system r

[2017-02-08 11:04] rcrehuet opened #251 "Unstable production run"
My simulated ended with the following error in the `log.txt`

[code]

As it has run for several steps, I'm not sure if a longer equilibration would solve the issue. Or how could I check what went wrong? I'm using the new prmBSC2 force field, maybe some parameters were not loaded correctly? I can give more detail on the simulation if needed.

[2017-02-08 11:07] giadefa commented on #251
can you reproduce it if you run it again?

On 8 February 2017 at 12:04, Ramon Crehuet <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>

[2017-02-08 11:10] stefdoerr commented on #251
Also take a look at the xtc. Sometimes systems explode or something else goes wrong that you can visually see.

[2017-02-08 12:35] funnybomb commented on #250
Thanks for the reply.
But I have more questions:
1. as said by @stefdoerr  "these are not needed with protocol v4. It automatically sets those."
but when I run normal simulation for long time, previously I would like to use script to assign vel file like this to split simulation into shorter parts.
[code]
but if protocol V4 automatically detect input parameters, binvelocities are  not used since I

[2017-02-08 12:51] stefdoerr commented on #250
You cannot use velocities for adaptive unfortunately. Since we don't save velocities for each simulation frame we have designed the adaptive to not use velocities when spawning new simulations.

2. Extending in which sense? Just continuing? You simply start the adaptive again on the same folder. It should keep on simulating. There is no problem with stopping and restarting the adaptive (although i

[2017-02-08 22:15] mj-harvey commented on #198
@katkovs problem fixed in HEAD. Two problems:
1) Frcmods were being written with the 1-4 ee scaling term inverted
2) fitted dihedrals were being fit with that term == 1.0, rather than Amber's 1/1.2. Not all MM codes can accept multiple values of that term, even when it's speficied per dihedral in the prmtop (Namd 2.10 and earlier, ACEMD 3212 and earlier)

[2017-02-08 22:33] mj-harvey commented on #198
Hi,

Pretty sure that the frcmod is being generated correctly now.

Re the bond and angle terms sometimes being different, we take whatever Amber's parmchk2 emits.
That output seems to be geometry sensitive.

[2017-02-09 02:24] funnybomb commented on #250
@stefdoerr  thanks for the reply,
I stoped the after 2 epeochs were finished and 3rd was going on, I continue the simulation as you said and use the code below:
[code]
[code]
this error I mentioned previously because I have eight homo chains in one pdb file. But how could the simulation finished in the two epochs and got error when I restart the third one?

[2017-02-09 10:28] stefdoerr commented on #247
@giadefa For point 3 do we change the default from Kmeans to Kcenters and issue a warning (or no warning even)? Otherwise, unless we decide to do adaptive versions like the protocols I am running out of names for every change in adaptive.

Point 2 is it really necessary? What for exactly?

[2017-02-09 10:32] stefdoerr commented on #250
The first epoch doesn't do any analysis, it just sends out simulations. About epoch 2 I have no idea how it could run. I doubt it actually ran. I would need to see the files.

I think I should probably make MetricDihedral work with multiple chains of same resids since this comes up so often.

[2017-02-09 10:32] giadefa commented on #247
Just change the default.

Point 2 it is not required but we might also want to compare the current heuristic for number of clusters with the sqrt one and eventually change that as well.

[2017-02-09 10:37] giadefa commented on #250
it is possible that there was not enough data so it just did again like in
epoch 1.

On 9 February 2017 at 11:32, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%

[2017-02-09 10:57] j3mdamas commented on #243
https://travis-ci.org/Acellera/htmd/jobs/199782363

acecloud-client needs a fix.

I don't know why can the amber and charmm tests pass in py35 and fail in py36... any clues @stefdoerr? maybe PYTHONHASSEED does not work in py36?

[2017-02-09 11:02] j3mdamas commented on #243
In amber, the only diff is in `tleap.in`. I will investigate that.

[2017-02-09 11:06] tonigi commented on #243
Grr

http://stackoverflow.com/questions/39980323/dictionaries-are-ordered-in-cpython-3-6

seems they changed again the dictionary order.

T

On 09/02/17 12:02, João M. Damas wrote:

[2017-02-09 11:11] j3mdamas commented on #243
that's bad, because it makes py35 and py36 outputs based on dicts incompatible... No?

[2017-02-09 11:12] mj-harvey commented on #243
Add an explicit sort. It'll be be a no-op on py36 but will cause py35 to match the new behaviour.

[2017-02-09 11:13] j3mdamas commented on #243
Yeah, sort is what I was thinking, but we need to go over the use of dicts in the code...

[2017-02-09 11:14] funnybomb commented on #250
the result folder by ```du -d 1 -h```
[code]
I convert xtc to dcd and use wordom to show the contain of the ```data``` folder, e1s1 e1s2 have same 100 frames
[code]

[code]

[2017-02-09 11:15] tonigi commented on #243
and regtests, including internals of code we don't control

On 09/02/17 12:13, João M. Damas wrote:

[2017-02-09 11:15] stefdoerr commented on #243
The problem is not our code but external code

On Thu, Feb 9, 2017 at 12:15 PM, Toni G <notifications@github.com> wrote:

[2017-02-09 11:16] j3mdamas commented on #243
I am sure that the problems with amber and charmm are due to this, because we use dictionaries to write caps and patches, I think, and they will cause differences, definitely.

[2017-02-09 11:17] stefdoerr commented on #250
These are both simulations from epoch 1 (e**1**sX). What do you mean?

[2017-02-09 11:17] mj-harvey commented on #243
what external python code are you referring to @stefdoerr ?

[2017-02-09 11:18] stefdoerr commented on #243
pdb2pqr/propka which is run before building charmm/amber

On Thu, Feb 9, 2017 at 12:17 PM, M J Harvey <notifications@github.com>
wrote:

[2017-02-09 11:22] mj-harvey commented on #243
So what's the difference in the input going into tleap?

[2017-02-09 11:23] tonigi commented on #243
pdb2pqr may be the offender (=> different proteinprepare outputs). It
became non deterministic with py 3 randomization, which then i fixed.
this change may have exposed more differences. will look next week.

T

On 09/02/17 12:18, Stefan Doerr wrote:

[2017-02-09 11:24] tonigi commented on #243
But i don't see the relation to cloud

[2017-02-09 11:25] mj-harvey commented on #243
@tonigi two separate problems. The acecloud issue is fixed.

[2017-02-09 11:27] mj-harvey commented on #243
According to the build tests, for the Amber test only the tleap.in differs. The output prmtop seems unchanged.
 To fix that just canonicalise the order of whater your are serialising in that file.

For Charmm, the psf is different too, probably needs some more investigation

[2017-02-09 11:29] tonigi commented on #243
If the number of atoms does not change, then prepare is likely unaffected

T

On 09/02/17 12:27, M J Harvey wrote:

[2017-02-09 11:32] stefdoerr commented on #243
I will need to check tleap.in in 3.6. Will do later and see the diff

On Thu, Feb 9, 2017 at 12:29 PM, Toni G <notifications@github.com> wrote:

[2017-02-09 11:37] j3mdamas commented on #243
OK; in amber, the problem is the order on which the disulfide bonds are written. But the disulfide variable is a list of disulfideBridge objects and not a dict. And the way elements are appended to that list depends on a Pandas dataframe and not a dict, from what I see. It can returned a sorted list instead.

(still curious of the outputs not reflecting that change in order...)

[2017-02-09 11:49] j3mdamas commented on #243
Ok, the sort of the list of DisulfideBridge objects sorts amber problem in py36.

Now going to look into charmm.py

[2017-02-09 13:32] mj-harvey commented on #251
A crash in an already long-running simulation almost certainly means a system-level problem. Procedure to follow is:
* Update the Nvidia driver to the latest version recommended on the NV website
* Power cycle the machine

[2017-02-09 13:57] funnybomb commented on #250
ok
I got it, I miss understanding the documents~ epoch 2 was never started

[2017-02-09 14:01] j3mdamas commented on #243
@stefdoerr advised me against using the `__gt__` and I used a lambda function on the `key=` argument of `sorted()` instead.

The only remaining problem is the order of the N-ter hydrogens are placed between py35 and py36. @stefdoerr suggested that it could be `pdb2pqr`:

[code]

@tonigi do you think this is something that can be fixed?

[2017-02-09 14:01] funnybomb commented on #250
since at present MetricDihedral can't be used, what projection method should I use?

[2017-02-09 14:03] tonigi commented on #243
maybe. i can have a look next week

On 09/02/17 15:01, João M. Damas wrote:

[2017-02-09 14:04] j3mdamas commented on #243
Thanks!

[2017-02-09 14:07] rcrehuet commented on #251
Yes, it is reproducible, but the crash happens at a different time step.
The xtc file looks ok. Probably the last frame was not updated.
I'll try to update nvidia drivers and CUDA version, but I think I have them pretty up to date (for the ubuntu distribution)

[2017-02-09 14:11] stefdoerr commented on #250
The metric depends on what you want to study. Are you looking at changes in individual protein conformations? For disassociations of parts of the octamer?

In general it's quite hard to work with more than two molecules both from an adaptive and MSM perspective because the number of configurations increases exponentially with the number of molecules.

You can use MetricDihedral as long as all chai

[2017-02-09 14:19] mj-harvey commented on #251
Is the problem restricted to a specific GPU?
Are you running in parallel?

[2017-02-09 16:15] giadefa opened #252 "crystal packing"
Was this ever implemented?

[2017-02-09 16:20] stefdoerr commented on #252
No, would you like me to do it?

[2017-02-09 16:21] j3mdamas commented on #252
Scheduled for 1.8.0 unless you want earlier Acellera/htmdlib#136

Let's use that issue?

[2017-02-09 16:21] #252 closed

[2017-02-09 16:24] giadefa commented on #252
well we have the code and it's a nice utility if takes little time

On 9 February 2017 at 17:20, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018

[2017-02-09 18:40] katkovs commented on #198
Hello,

thanks for the fix and information.

Regarding the differences in the bonds and angles, yes, you are right, it was a parmchk thing. I used parmchk to create antechamber.frcmod, and not parmchk2 as HTMD does. So, there is no problem here.

Thanks for fixing the issues with the fudge factors. As I am not in depth familiar with Amber formatting, I didn't even notice they were written wrongly.

[2017-02-10 08:09] rcrehuet commented on #251
I'm running the free version of ACEMD bundled in HTMD. I'm just running some tests in an ubuntu PC with a single CPU (6 cores) and a single GPU (GeForce GTX 680). The current driver is proprietary nvidia-367.

[2017-02-10 08:36] giadefa commented on #251
the 680 is usually a stable one.

What is your system? Did you generate it with  CharmmGui?

g

On 10 February 2017 at 09:09, Ramon Crehuet <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2

[2017-02-10 09:19] rcrehuet commented on #251
I did all the setup with HTMD :-)
I can share it with you if you want to run some tests.

[2017-02-10 09:22] j3mdamas commented on #251
Can you Share with us the commands you've ran and, if possible, the system?
Thanks.

On Feb 10, 2017 10:19, "Ramon Crehuet" <notifications@github.com> wrote:

[2017-02-10 10:55] rcrehuet commented on #251
All the files to reproduce the simulation are here.
https://github.com/rcrehuet/PCNA_HTMD
The production run is the `production.py`. The setup and the equilibrations were done with the notebooks.

[2017-02-10 11:54] mj-harvey commented on #251
Please try running the DHFR example for 24hrs. That is usually sufficient to show up any GPU hardware problems.

Matt

[2017-02-10 12:00] funnybomb commented on #250
@stefdoerr there are 20k atoms without water, In my understanding, the code your provided will affect all the simulation result, since I want to do some residue level analysis, I need to modify lots of my previous script, I will test it.
I also plan to test  ```md.projection = MetricCoordinate(ref=structure.pdb,atomsel ='protein and name CA')``` to do the adaptive

[2017-02-10 12:32] stefdoerr commented on #250
I would say better just wait for my change.
`MetricCoordinate` I guess is also ok in the sense that it scales linearly with atoms. I've never tried it with adaptive though.
I will write here once I'm done with MetricDihedral

[2017-02-10 12:49] mj-harvey commented on #198
Ok, I hadn't properly checked the tleap output, I see the issue now. HEAD now writes frcmods that tleap can eat.

[2017-02-10 13:07] katkovs commented on #198
Ok, great! So now only the issue with the missing impropers remains.

[2017-02-10 13:10] j3mdamas commented on #198
We've had this issue with the impropers in the past, but I think it was
with charmm. But we don't do any impropers in parameterize, so it's either
not being generated by the typer, or it's being lost in the way.

On Feb 10, 2017 2:07 PM, "katkovs" <notifications@github.com> wrote:

[2017-02-10 13:12] rcrehuet commented on #251
Sure. But can you tell me more precisely which file (script/notebooks) should I run?

[2017-02-10 13:16] giadefa commented on #251
maybe we should add a testDHFR command in htmd

On 10 February 2017 at 14:12, Ramon Crehuet <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aace

[2017-02-10 16:11] stefdoerr commented on #250
Ok I fixed MetricDihedral. It's on git right now. @j3mdamas will we make a new dev release today?

[2017-02-10 17:51] funnybomb commented on #250
1.5.15?

[2017-02-10 17:54] giadefa commented on #250
no, it would be 1.5.16

On 10 February 2017 at 18:51, feicaiyi <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acell

[2017-02-10 18:21] stefdoerr commented on #250
I'll leave it for Monday to not introduce any bugs over the weekend. If you want to try it just clone our repo and add it to your `PYTHONPATH`

[2017-02-10 21:17] mj-harvey commented on #198
I understand the cause of the problem now. It will take a little while to fix, unfortunately.

[2017-02-11 03:35] funnybomb commented on #250
```https://github.com/Acellera/htmd.git``` under folder test16
```export PYTHONPATH="/Users/funnybomb/test16/htmd:PYTHONPATH" ```
[code]
and import htmd I got
[code]

[2017-02-11 07:39] giadefa commented on #250
add the $
export PYTHONPATH="/Users/funnybomb/test16/htmd:$PYTHONPATH"

On 11 February 2017 at 04:35, feicaiyi <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A144801

[2017-02-11 09:48] funnybomb commented on #250
tried, doesn't work,
export PYTHONPATH="/Users/funnybomb/test16/htmd:$PYTHONPATH"

[2017-02-13 08:42] stefdoerr commented on #250
@funnybomb yes sorry, you need to link the `.so` files from your conda folder to your git folder.
So before adding git to your PYTHONPATH do
[code]
Then go in that folder and find the htmd/lib/Linux folder and link the `.so` files to the equivalent folder in your git.

Otherwise just wait. I will make a release in a few hours

[2017-02-13 10:17] stefdoerr commented on #234
I guess we can close this issue.

[2017-02-13 10:17] #234 closed

[2017-02-13 10:20] stefdoerr commented on #215
@GlebNovikov
I added functionality for this in [MetricData.plotCounts](https://www.htmd.org/docs/latest/htmd.metricdata.html?highlight=metricdata#htmd.metricdata.MetricData.plotCounts) as well as [Model.plotFES](https://www.htmd.org/docs/latest/htmd.model.html#htmd.model.Model.plotFES)

[2017-02-13 10:20] #215 closed

[2017-02-13 10:21] stefdoerr commented on #202
@BIORAK anything else you want from here? Can we close?

[2017-02-13 10:26] stefdoerr commented on #242
Doesn't seem like there is that much to discuss.
For the moment we stick with ff14SB until we decide in the lab that the new one is better as we usually do for the defaults.

[2017-02-13 10:26] #242 closed

[2017-02-13 11:15] stefdoerr commented on #247
1 and 3 are done. 2 I will make a modification to allow for arbitrary numClusters functions to be passed and leave it for Adria to test it on NTL9

[2017-02-13 11:34] #247 closed

[2017-02-13 12:45] funnybomb commented on #250
thanks, I will just wait for the new version

[2017-02-13 15:14] j3mdamas commented on #251
I am testing your files, @rcrehuet.

By the way, on a different note, your system is going to tumble in space and probably interact with itself. In non-spheric proteins, we can normally use very soft restraints to avoid tumbling. But I'm not sure that's a good idea with DNA. I'll leave those considerations to you.

[2017-02-13 15:34] j3mdamas commented on #251
@giadefa I can create such command

[2017-02-13 15:35] j3mdamas opened #253 "create testDHFR command in HTMD"
Forked from #251

[2017-02-13 15:37] j3mdamas commented on #237
@mj-harvey, I did some changes in your prototype script, in particular I removed the pyEMMA < 2.3 dependency. is this fine? c9e90b10bfb01eff7a583ab7824086570fd2ef7c

[2017-02-13 15:43] #158 closed

[2017-02-13 16:41] j3mdamas commented on #251
@rcrehuet, I am running your system, and so far no problems. I already went past the 620000 step where you've got the fail (865000).

From my quick inspection, doesn't seem like a build problem or anything like that, so besides creating the `testDHFR` command @giadefa suggested, this is either a GPU problem, or something that could be taken to https://github.com/Acellera/acemd_issues/issues. Any t

[2017-02-13 17:12] giadefa commented on #251
Let's see if you can reproduce it first

On 13 February 2017 at 17:41, João M. Damas <notifications@github.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>

[2017-02-13 17:16] waskom opened #254 "Adding Cholesterols to a protein"
Hello,

I have been trying to add cholesterol molecules to sites on a protein that have been shown to bind to cholesterol on crystal structures. I keep getting issues with HTMD during the building process, which keeps crashing when trying to call the cholesterol molecules. I have tried to have the molecules in the same pdb as the protein and i have tried to call it in like a ligand but nothing see

[2017-02-13 17:20] eric-jm-lang opened #255 "Running adaptive sampling using AMBER on a cluster using SLURM or PBS"
Hello,
I am very interested in using htmd to run some adaptive sampling simulations.
However, the examples I have seen on adaptive sampling seem to deal only with ACEMD on a local GPU cluster.
I would like to know if it is possible to run adaptive sampling using Amber on GPUs (i.e. pmemd.cuda) on a cluster that either relies on PBS or SLURM to manage the queue. If yes could you please let me know

[2017-02-13 17:38] giadefa commented on #255
it should work in the sense that some work was done there, but it is
largely untested by us at least.

On 13 February 2017 at 18:20, eric-jm-lang <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A213

[2017-02-13 17:42] j3mdamas commented on #254
Hello Mike,

Can you please show us what kind of output you are getting? And also the commands you're running.

[2017-02-13 17:51] waskom commented on #254
<img width="1100" alt="screen shot 2017-02-13 at 12 50 27 pm" src="https://cloud.githubusercontent.com/assets/20097577/22895610/20d2e3e0-f1eb-11e6-9528-cbab0729d07d.png">

[2017-02-13 17:53] waskom commented on #254
This is where I added the cholesterols to the pdb file with the protein. I have had numerous different errors when doing this. I have added the " and rename CHR". If it is "not resname CHR" it will finish. If the cholesterols are not there, it will finish.

[2017-02-13 17:55] j3mdamas commented on #254
See the info: `Removed XXXX atoms. 0 atoms remaining in the molecule`

You should be using `ors` instead of `ands` in the VMD selection. See more here: https://www.htmd.org/docs/latest/atom-selection.html

[2017-02-13 17:56] waskom commented on #254
Ok. I will try this. Thank you.

[2017-02-13 17:59] j3mdamas commented on #255
Hi Eric,

About Amber (pmemd.cuda): like Gianni said, work was done on that, but it's untested by us and we cannot support it.

About the queue/resources: we have been refactoring it recently, so if you see any problems in the documentation, let us know. in short, you can use SLURM, but not PBS yet, has it is untested.

[code]

or for adaptive:
[code]

[2017-02-13 21:19] stefdoerr commented on #255
Hey Eric. The queues will work fine (i.e. SLURM/PBS).
The only practical issue is that you will need to write a `run.sh` script inside your simulation folders which takes an `input.coor` or some other coordinate format that AMBER supports and will run the simulation using that. It should be trivial if you have some knowledge of AMBER and we can help you if you can show us how a simulation is typic

[2017-02-13 22:55] mj-harvey commented on #237
sure, feel free to play with it

[2017-02-14 03:31] waskom commented on #254
Im still having problems. Specifically, I can get it to run through the commands but the cholesterol is missing in the final structure for equilibration.

If I am following the build script for a protein in a membrane, could i get some advice on how to set up the commands?
1. I will need to essentially place the cholesterol between the protein and the lipid.
     Will I need to put this command be

[2017-02-14 08:03] rcrehuet commented on #251
Thanks for all tour messages.
@j3mdamas I am aware that the box a bit too small for the DNA, but I don't really care if the ends of the DNA interact with themselves. After all, I am interested in the DNA-protein interaction, which is far away from the box boundary.
Of course, I could use soft constraints on the DNA, but not on the protein, as I want to see if it slides along the DNA. Is there a tu

[2017-02-14 08:04] rcrehuet commented on #251
I also wanted to say that I've run long MD with gromacs using this GPU for many days, without problems. Could it be that ACEMD is more sensitive to GPU failures or misfunctions?

[2017-02-14 09:03] katkovs commented on #198
OK, thanks. Just one question: Were the impropers not taken properly into account also in the fitting procedure, or are they simply not written out in the end? I'm asking cause if it's the latter, then I can just simply add them manually in my topology, as a workaround until the bug is fixed.

[2017-02-14 10:01] stefdoerr commented on #254
Without seeing the script or at least an output file we cannot help you much.

1. Yes I would first add the cholesterol and then embed it into the membrane
2. I don't understand what you mean with phrasing. You can assign the ligand and the cholesterol to different segments
3. You will need to read up on the CHARMM forcefield files on what the resname for cholesterol is. I assume you want to look

[2017-02-14 10:03] stefdoerr commented on #254
Edit: yes the resname for cholesterol is CHL1 but you will need to add the abovementioned stream file to your charmm.build command like this:
`charmm.build(..., stream=['lipid/toppar_all36_lipid_cholesterol.str',], ...)`
Then it will know to search for CHL1 in there

[2017-02-14 10:26] eric-jm-lang commented on #255
Hello everyone,

Thanks a lot for your very quick replies. So I understand this is untested by you and that you cannot support it but I would nonetheless be very interested in testing/using it.

I have a good knowledge of AMBER but I am an absolute beginner with the htmd package.
Here is an example of input file and slurm script I am using to run the MD simulations I am interested in running adapt

[2017-02-14 11:07] stefdoerr commented on #255
Nice :)

So a simulation folder for me looks like this:
[code]

The `job.sh` slurm bash file is written automatically by HTMD but instead of calling your last two commands it just calls `run.sh`. They look like this and are automatically generated by the SlurmQueue class.
[code]

In our case since we run ACEMD our `run.sh` file looks like this:
[code]

In your case it would probably look like this

[2017-02-14 11:12] stefdoerr commented on #255
Oh sorry, no `nc` are trajectory files right? What are the coordinate file extensions for AMBER?

[2017-02-14 11:20] j3mdamas commented on #251
For constraints, see `useconstraints` and `constraints` of https://www.htmd.org/docs/latest/htmd.protocols.production_v5.html. Example: `constraints={'protein and name CA': 1, 'protein and noh and not name CA': 0.1}`.

Until now, running your system on a GTX Titan is on step 11755000. I will stop the simulation now, as I think it's been sufficient.

I really don't know. Maybe @mj-harvey can say so

[2017-02-14 11:29] j3mdamas commented on #255
@stefdoerr, isn't adaptive going to fail without using the `SlurmQueue()` in `AdaptiveMD.app`? Even though `job.sh` is copied, `AdaptiveMD` would not know how to submit, no? And if it does, it will overwrite the previous `job.sh`.

[2017-02-14 11:36] eric-jm-lang commented on #255
Hi Stefan,

Thanks a lot!
Yes indeed .nc are trajectory files .rst7 are the coordinate files. so in
this example prot1_md1.rst7 is the file with the coordinates to restart the
simulations for a second md run for example. However the rst7 file only
contains the coordinates from the last step of the trajectory. Is that
sufficient? I thought the trajectory files where read and a frame extracted
from

[2017-02-14 11:48] stefdoerr commented on #255
@j3mdamas I don't get the problem. He will pass the `SlurmQueue` object to  `ad.app`.

@eric-jm-lang Ok so scratch what I wrote earlier. It should be `input.rst7`. The problem is I don't know if we can write `rst7` files. I know we can write `rst` files. Was there a version change?
So, the adaptive will read your trajectory `nc` files, select from them a frame and write that frame as an `rst` file

[2017-02-14 12:09] eric-jm-lang commented on #255
Ok, thanks.
No rst and rst7 should be the same.
Ok so indeed the adaptive will read the trajectory file and select a frame
and write it to a rst file. got it.
I will try to do this and see how it goes.
Thanks a lot
Eric

On 14 February 2017 at 11:48, Stefan Doerr <notifications@github.com> wrote:

--

Eric Lang

BrisSynBio Postdoctoral Research Associate Modelling
Centre for Computational Chemistr

[2017-02-14 12:21] stefdoerr commented on #255
Show me the `run.sh` file once you have it. Remember to also set adaptive to write the correct fileformat as I showed you before. The rest should then work

[2017-02-14 12:24] j3mdamas commented on #255
@stefdoerr then I think the `job.sh` will be overwritten by `_createJobScript`, no?

[2017-02-14 13:44] rcrehuet commented on #251
Thanks. I'd like to run the DHFR test. I don't need a single command. Just tell me where the files are and if there is a script or notebook that does the setup.

[2017-02-14 14:03] j3mdamas commented on #251
Everything you need to run is distributed in the acemd-examples package. From your miniconda root, should be: `<miniconda-root>/pkgs/acemd-examples-2016.5.12-1/acemd-examples/dhfr`

You don't need to run it inside HTMD. You can do:
[code]

[2017-02-14 14:11] #251 closed

[2017-02-14 14:51] mj-harvey commented on #198
@katkovs, I cant comment with certainty just yet. Will have an update in a few days.

[2017-02-14 15:30] giadefa commented on #211
@GerardBCN  is this done?

[2017-02-14 15:37] giadefa commented on #177
Consider API, User Guide and tutorials

[2017-02-14 15:39] giadefa commented on #173
duplicated. Closing

[2017-02-14 15:39] #173 closed

[2017-02-14 15:39] giadefa commented on #107
no

[2017-02-14 15:39] #107 closed

[2017-02-14 15:40] #27 closed

[2017-02-14 15:40] giadefa commented on #177
Do this
https://github.com/Acellera/htmd/issues/27

[2017-02-14 15:45] giadefa commented on #177
Tutorial on parameterization

[2017-02-14 15:47] #139 closed

[2017-02-14 17:08] stefdoerr commented on #255
Yes so? As I said he should only write a `run.sh` script.

[2017-02-14 17:20] j3mdamas commented on #255
I see, I misinterpreted then.

Well, @eric-jm-lang, check https://www.htmd.org/docs/latest/htmd.queues.slurmqueue.html#module-htmd.queues.slurmqueue to see if the sbatch options you want are available when setting up your `AdaptiveMD.app`. For example, we don't use the account or the ntasks per node.

[2017-02-14 17:22] waskom commented on #254
<img width="1109" alt="screen shot 2017-02-14 at 12 21 47 pm" src="https://cloud.githubusercontent.com/assets/20097577/22940551/4416095c-f2b0-11e6-82f4-cccf9846c84e.png">

[2017-02-14 17:26] waskom commented on #254
I have been trying to call the python commands like this. Calling the protein 1st, the ligand second, and the cholesterol molecule 3rd. The script runs but the compiled pdb file doesn't contain the ligand or the cholesterol.

When I comment out the protein, and the lipid ( to put it in a box of water), i get "NameError: name 'mol' is not defined" as an error. But this error doesn't occur in the sc

[2017-02-14 17:44] j3mdamas commented on #254
1) the `filter` you are using is rather convoluted. I assume that you just want to filter the protein, so why not simply `prot.filter('protein and noh')` (and the `noh` is only useful if you want to get rid of existing hydrogens).
2) you are using `mol.append(lig)`, while there is no `mol` instance defined (that we can see). Did you mean `prot.append(lig)`?
3) what's going on with `newprot`? that

[2017-02-14 18:59] waskom commented on #254
I updated the script with the changes that you recommended and it seems to have worked as expected. Thank you very much for your help.

[2017-02-14 19:00] j3mdamas commented on #254
np

[2017-02-14 19:00] #254 closed

[2017-02-14 20:12] j3mdamas commented on #198
@mj-harvey, for reference of the discussion we had today, here is the issue with the improper problems on CHARMM: #74

[2017-02-15 08:07] BIORAK commented on #202
Hi,
      So I was able to run the simulation but in the folders after first epoch the input pdb file is empty without coordinates https://github.com/BIORAK/GROMACSAdaptiveMD/blob/master/e2s2_e1s2p0f105.tar.gz

This is causing the input from first epoch not to be used for simulations in second epoch. I have provided a zipped example folder after first epoch.

[2017-02-15 09:22] stefdoerr commented on #202
Adaptive in HTMD does not touch any PDB files. It simply copies them from the original folders. Check if the generator `closed1` actually has a PDB with data in it. It would surprise me a lot.

[2017-02-15 09:26] stefdoerr commented on #202
Ah I probably understand what you did. Did you set `adaptive.coorfile = 'input.pdb'`?
That will not work. It needs to be a coordinate file format. PDB also contains atom information which we don't read.
As I said in this response https://github.com/Acellera/htmd/issues/173#issuecomment-261239035 it should be `input.gro`

[2017-02-15 16:23] stefdoerr commented on #252
Done added. It's not fully functional. For example I don't think the hexagonal thing was ever tested correctly.

Try it out though:

[code]

I will fix it tomorrow to work with Molecules and maybe get by itself the crystal info from the RCSB server without requiring you to download it.

[2017-02-16 13:07] BIORAK commented on #202
Hi,

  I am getting the following error after first epoch run is finished.

2017-02-15 20:35:27,164 - htmd.adaptive.adaptive - INFO - Retrieving simulations.
2017-02-15 20:35:27,164 - htmd.adaptive.adaptive - INFO - 0 simulations in progress
2017-02-15 20:35:27,164 - htmd.adaptive.adaptivegoal - INFO - Postprocessing new data
Creating simlist: 100% (4/4) [##########################################

[2017-02-16 13:57] #223 closed

[2017-02-16 14:45] stefdoerr commented on #202
Could you please do a `conda update htmd`? This error is from an old version

[2017-02-16 15:09] GerardBCN commented on #211
There's no news since last Matt's updates

[2017-02-16 15:12] giadefa commented on #211
Matt claimed that it was in contact with you about this. So you claim that
nothing happened here?

g

On 16 February 2017 at 16:10, GerardBCN <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167

[2017-02-16 15:12] GerardBCN commented on #211
Not that I know

[2017-02-16 15:20] j3mdamas commented on #211
I think that the remaining issue here is that, with different starting parameters (CGENFF or GAFF), the final functional can converge differently to the QM.

As long as that is dependent solely on the differences between the parameters that we guess (for example, vdw), and not on deficiencies of the fitting procedure, I think we close this.

[2017-02-16 18:37] jeiros opened #256 "Conda update htmd not getting latest version"
Hi,
I've installed htmd under a Python 3.4 environment in a CentOS 7 64 bit machine. `conda install htmd` works fine and so does `import htmd` in python. Nevertheless, after the import I get the following prompt:
[code]
But updating doesn't seem to work:
[code]
(I've also tried `conda update -c acellera htmd` with the same result.)

Any idea on what's the channel to use to get the latest version o

[2017-02-16 18:59] stefdoerr commented on #256
To me conda is a mystery to me some times. The solution to that mystery most of the time is doing a fresh miniconda install.

If the channel is right maybe you still need to remove the omnia channels?
`conda config --remove channels omnia`

Or wait, maybe someone has a better suggestion

[2017-02-16 19:02] j3mdamas commented on #256
We no longer package for py34 (last time was for 1.0.26, don't know why yours is not updating to that version).

If you want recent versions of HTMD, please create a py35 environment (or update your environment to py35)

[2017-02-16 19:02] #256 closed

[2017-02-16 19:03] j3mdamas commented on #256
@stefdoerr maybe we could put a pyXX next to the version? I didn't check the check_versions function

[2017-02-16 19:05] stefdoerr commented on #256
Hm but then 3.4 users would not know about new versions?
We could possibly report for which python version the version is available so that some people might notice the discrepancy?

[2017-02-16 19:06] j3mdamas commented on #256
your second question is exactly my point. not a priority though.

[2017-02-16 19:09] stefdoerr commented on #256
I can look into it tomorrow

[2017-02-16 19:38] jeiros commented on #256
Thanks, used a new env with python 3.5 and now I have the latest version. I'm running into issues with docking, which weren't showing up in the old version. Will open an issue about it.

[2017-02-16 19:46] jeiros opened #257 "Issue with babel executable in dock function"
The [dock](https://github.com/Acellera/htmd/blob/master/htmd/dock.py) function is failing when using the babel command to convert molecules from pdb to pdbqt format. I'm just running similar commands of the tutorial to my system like:
[code]
I copied over the dock function to modify it and found out that the [call to the babel command](https://github.com/Acellera/htmd/blob/master/htmd/dock.py#L103

[2017-02-16 20:05] j3mdamas commented on #257
Can you `conda list babel`?

[2017-02-16 21:51] mj-harvey commented on #257
The openbabel package requires a processor with avx. You'll have to compile/install an openbabel of your own.

[2017-02-17 09:52] jeiros commented on #257
Hi @j3mdamas, this is the output:
[code]
@mj-harvey The `dock` function worked for me on the same machine (with no independent installation of openbabel) on a previous version of htmd (Python 3.4, htmd version  1.0.24), see my [previous issue](https://github.com/Acellera/htmd/issues/256).

[2017-02-17 10:21] j3mdamas commented on #257
@jeiros wait a bit while I discuss with Matt.

Thanks for raising this issue.

[2017-02-17 11:40] funnybomb commented on #250
[code]
hmmm~ the problem happened on 1.5.14 when 1.5.15 was released, I waited for another week to get it upgraded

[2017-02-17 12:28] stefdoerr commented on #250
Joao is making a release today @j3mdamas

[2017-02-17 12:57] j3mdamas commented on #250
@funnybomb I am just doing a final build check before releasing a new version. Probably will be up within 1 to 2 hours.

[2017-02-17 13:40] BIORAK commented on #202
Hi,
   I updated HTMD to version 1.5.15 but still get the following error

Creating simlist: 100% (4/4) [###################################################################################################################################################################################################] eta 00:01 -
Filtering trajectories: 100% (4/4) [##################################################

[2017-02-17 13:44] stefdoerr commented on #202
As you see there is an issue with filtering:
[code]

So your filtering selection `not water` seems to produce different number of atoms. Could it be that your systems have different numbers of ions?
Try changing the `ad.filtersel` to something better fitter to your system

[2017-02-17 13:47] stefdoerr commented on #202
You will also need to delete the `filtered` folder to refilter the trajectories

[2017-02-17 16:00] stefdoerr commented on #250
@funnybomb new version is out. give it a try

[2017-02-17 16:24] j3mdamas commented on #257
So, our current babel is just a copy from the openbabel from the omnia channel (for convinience of the user, so he doesn't need to specify the omnia channel). My guess is that the omnia openbabel does not work on your computer for a reason.

You can install the omnia openbabel package (`conda install openbabel -c omnia`), which will replace our own. If it works with their (which shouldn't), let us

[2017-02-18 01:11] funnybomb commented on #250
got it, Thanks so much!

[2017-02-18 16:24] j3mdamas commented on #250
can we close this issue?

[2017-02-20 13:51] stefdoerr commented on #250
@funnybomb ?

[2017-02-21 11:25] stefdoerr commented on #230
@gph82 Here is an example from Adria of how the lagtime affects the timescales. Tested with 2, 3 and 5ns lagtimes.
http://nbviewer.jupyter.org/gist/stefdoerr/aa937f2f8e513d78d3482db841fa76ba

[2017-02-21 11:27] stefdoerr commented on #230
Admittedly the simulations are 14ns so he could have chosen a larger lagtime at the beginning. Still, as we can see, finding the best lagtime is a bit of a trial and error procedure.

[2017-02-21 12:54] gph82 commented on #230
Hi, it's a bit confusing with all the warnings and the output, but I guess you want me to compare the its plots for TICA done at 20, 30, 50., right?

What I don't get is...why do tica at 20, 30, 50 if you're computing MSMs between 0 and 15? Are this the same units?

[2017-02-21 12:56] stefdoerr commented on #230
No, sorry for the units. We have improved this in new versions.
The timescale plots are in ns units and the TICA arguments are in simulation steps. So 30 tica lag  = 3ns lag

[2017-02-21 12:57] stefdoerr commented on #230
So I would probably build the model at lag 4ns = 40 frames

[2017-02-21 12:58] gph82 commented on #230
ok so we have tica at 2, 3, 5 ns and its between 1 and 15 ns?

[2017-02-21 12:58] stefdoerr commented on #230
yes

[2017-02-21 13:00] gph82 commented on #230
can you produce a tica-its plot? I suspect there's a process missing between 30 and 40. I'd say 40 and 50 are similar. Plus, very big point...who says 3 projections are enough? How does the TICA-spectrum look?

[2017-02-21 13:03] stefdoerr commented on #230
TICA-spectrum as in the kinetic variance? I will check that. How do you do TICA its in pyemma?

[2017-02-21 13:04] gph82 commented on #230
Every tica object has an .timescales atttribute. Stack them and plot them

[2017-02-21 13:06] stefdoerr commented on #230
Ok, I'll report back when I have those :)

[2017-02-21 13:31] stefdoerr commented on #230
I only did the first one but is this what you meant? I plotted the cumvar.

However for timescales they are only computed at the given lagtime. I would need to compute TICA for multiple lag-times to make a TICA its plot right? Any method for that? I could not find a `timescales_tica` function in PyEMMA. I can do it manually I guess. But TICA is quite slow so it would take lots of time in any case.

[2017-02-21 13:32] stefdoerr commented on #230
By the way this is what I pretty much always see with the cumvar. That I need hundreds to thousands of dimensions to reach 95% variance.

[2017-02-21 13:37] gph82 commented on #230
Well you had already 3 tica objects so you could do it. Plus, can you rescale the plots in cells 12, 20 to be xlim([0,50])

[2017-02-21 13:39] stefdoerr commented on #230
Nah I had restarted the kernel. Ok will do

[2017-02-21 13:53] stefdoerr commented on #230
http://nbviewer.jupyter.org/gist/stefdoerr/1b1ec03057dcb4eabfad97cdd85c5a2e

[2017-02-21 14:20] gph82 commented on #230
there are some issues with the kinetic variance criterion always being useful, particularly in high-dimensional spaces. This discussion essentially boils down to: Is there a timescale gap? And there isn't...we can fiddle around all day, but this is a hard problem...could I get an .npy with the orginal features and make my point?

[2017-02-21 15:32] stefdoerr commented on #230
Why no timescale gap? I see a very big gap between the first eigenvalue and the second.

http://pub.htmd.org/FAAH_features.zip
Here you go. It's 500MB zipped

[2017-02-21 15:33] stefdoerr commented on #230
Sorry that the gap was not totally visible. Should have fixed the xlim to [-1, 50] instead of [0, 50]. But you can see it in the plots if you look close.

[2017-02-21 16:21] gph82 commented on #230
thanks for the file. I'll take a look and see if I can make my point and perhaps help. It's been day #2 of the workshop and I'm out-pythoned

[2017-02-21 16:23] stefdoerr commented on #230
Hahah sure, take your time. Good luck with the workshop.

[2017-02-21 17:09] j3mdamas commented on #230
Guillermo was on fire today with his new projX module :p

On Feb 21, 2017 17:23, "Stefan Doerr" <notifications@github.com> wrote:

[2017-02-22 13:36] #257 closed

[2017-02-23 08:35] piia600 opened #258 "Adaptive sampling crashes while creating simlist"
Hi,

I am running a short adaptive sampling scheme, but it seems to be unable to process the first epoch.

Here is the input script:

[code]

And here is the error:

[code]

Cheers,
Piia

[2017-02-23 08:42] stefdoerr commented on #258
Hey, looks like misaligned columns in your topology file (pdb?). Could I take a look at it?

On February 23, 2017 9:35:58 AM GMT+01:00, piia600 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-23 08:45] piia600 commented on #258
Here is the pdb

[structure.pdb.zip](https://github.com/Acellera/htmd/files/795929/structure.pdb.zip)

[2017-02-23 09:34] stefdoerr commented on #258
I see. Which program produced that pdb? It contains hexadecimal residue numbers which are not officially supported in the PDB format:

[code]
Could the program possibly produce non-hexadecimal resids?
Alternatively I could see if I can make some modifications to accept reading hexadecimal numbers but it might take a bit.

[2017-02-23 09:41] j3mdamas commented on #258
Unless the program producing out of format pdb files is big and relevant, I
think we should keep the official format

On Feb 23, 2017 10:34 AM, "Stefan Doerr" <notifications@github.com> wrote:

[2017-02-23 09:47] piia600 commented on #258
To be honest now I am totally confused about where the hexadecimals came from. The original pdb from the build with tleap does not contain them. I will try again with the proper pdb file...

[2017-02-26 15:03] stefdoerr commented on #258
https://github.com/Acellera/htmd/commit/3ca70ea452c4c95b29ce17d2319a2996e0de26bc

Added "support" for hexadecimals and any other kind of weirdness in resid and index fields by renumbering them

[2017-02-26 15:03] #258 closed

[2017-02-26 15:13] #250 closed

[2017-02-26 17:22] giadefa commented on #258
what happens when you save the PDB again?

On 26 February 2017 at 16:03, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>

[2017-02-26 17:35] stefdoerr commented on #258
The values get truncated and it should throw a warning. We don't write
hexadecimals

On Sun, Feb 26, 2017 at 6:22 PM, Gianni De Fabritiis <
notifications@github.com> wrote:

[2017-02-26 17:37] giadefa commented on #258
but then i cannot do anything with it, how do we deal with large structures?

[2017-02-26 17:54] stefdoerr commented on #258
Actually sorry, serials will get stars after the overflow like tleap does. Serials are ignored by most programs anyways
[code]

Resids will get truncated with a warning. The only way to make this work is to split your molecules in segments/chains so that you can restart numbering the resids (manually of course).

Alternatives: write to PSF which allows one more digit.

[2017-02-26 17:59] stefdoerr commented on #258
Alternative-alternative is for us to write hexes or better alphanumerics but then we break the format and it's up to luck what software supports this stuff

[2017-02-27 13:10] j3mdamas commented on #258
but wasn't the asterisks the method we were using before?
I still think we shouldn't print these weird solutions like hexadecimals

[2017-02-27 13:31] stefdoerr commented on #258
What do you mean? I only changed the reader, not the writer. Gianni just asked what happens if you do read that many atoms.

[2017-02-27 18:09] j3mdamas commented on #243
I'll bump this into the next stable version, I guess

[2017-02-27 18:12] j3mdamas commented on #74
I'll close this issue, as I think it's related with the more recent issue #198. @spyda90, if you think it's not related or have any further problems, please open another issue.

[2017-02-27 18:12] #74 closed

[2017-02-27 18:24] #253 closed

[2017-02-27 18:27] j3mdamas commented on #195
Since it depends on PyEMMA, there's nothing we can do but bump this into 1.8.0.

[2017-02-28 11:32] j3mdamas commented on #211
@mj-harvey, can you confirm that the fitting procedure is now OK?

[2017-02-28 11:48] j3mdamas opened #259 "Create "CHARMM mini""
Can we create a kind of charmm mini repo?

Reasons:
* I don't know from which package our current files are from. feb16? july16?
* our structure is a bit different, and we could have a small script that creates the structure from the original downloaded files
* we uniformize with the behaviour of amber, and could use the `charmmfiles` directory for non-standard FF additions, like we are doing righ

[2017-02-28 11:48] j3mdamas commented on #198
This has to be bumped into 1.8.0.

[2017-02-28 21:52] KendyP opened #260 "input file error"
Hello,
I'm attempting to equilibrate a solvated and ionized RNA and protein system. I built my system and generated an equilibration directory with htmd in an ipython notebook. When I attempted to run equilibration, I received an error indicating invalid syntax in the first line. The first line does not deviate from previous successfully run input files generated in the same manner.
A link to a dr

[2017-02-28 22:00] j3mdamas commented on #260
Hi @KendyP,

There's no notebook on the dropbox. The error does seems weird, but I'd like to see the entire output.

Running the input.txt manually with acemd gives me no problems, so I'll need more info to see if this is a HTMD bug or maybe a script typo.

João

[2017-02-28 22:04] KendyP commented on #260
My apologies. I have updated the dropbox folder now. Let me know if there are other issues or you need any other files. I appreciate your promptness in helping to resolve the issue.

[2017-02-28 22:17] j3mdamas commented on #260
The notebook runs fine, as I would expect.

When do you get the error? How are you running the simulation? Are you running the `run.sh` script manually?

Can you give me more information? I continue to be able to run your system.

[2017-03-01 02:18] KendyP commented on #260
This issue can be closed. It appears as though there was an issue with the queue I was submitting the job to. I have never had the issue before and thought it may have been with something in HTMD. I appreciate you looking into this. I apologize for wasting time.

[2017-03-01 02:18] #260 closed

[2017-03-01 12:00] #177 closed

[2017-03-01 13:03] piia600 commented on #255
I guess the PBS queue is not working in version 1.5.17?

[code]

My script:
[code]

[2017-03-01 13:11] j3mdamas commented on #255
We haven't exposed it yet, due to being heavily untested.

You can import it using:

[code]

I'll add it now, and see if someone is willing to test it for us.

[2017-03-02 08:21] funnybomb commented on #250
yes, sure, thanks, problem solved~

[2017-03-02 14:57] stefdoerr commented on #255
The queues always write their own job.sh files but we could just take your options and add them to the class. The rest of the logic which I see in the script can probably be moved to the run.sh file which is called by our job.sh file and is not modified by HTMD

[2017-03-02 15:00] stefdoerr commented on #255
The only two options which you have and are not supported by our PBSqueue are scratch_local and cl_doom. I will add these now. The rest of the script (everything under #PBS commands) you can move to a `run.sh` script.

[2017-03-02 15:03] j3mdamas commented on #255
[code]

Plus the options Stefan is adding.

[2017-03-02 15:33] piia600 commented on #255
Do you have any idea when the next release is happening?

[2017-03-02 16:15] j3mdamas commented on #255
With the `cluster` and `scratch_local` variables? probably just in one week.

[2017-03-03 15:49] GerardBCN opened #261 "Can't run parameterize: ImportError: bad magic number in 'acecloud': b'\x17\r\r\n'"
The error I get:
[code]

[2017-03-03 16:34] j3mdamas commented on #261
Works on miniconda3. I'm going to install through anaconda3, to see if I can reproduce.

[2017-03-03 16:58] j3mdamas commented on #261
Just did a fresh anaconda3 install and I have no problems.

You know what they say... Just do a fresh conda installation and it should solve the problem

[2017-03-06 19:39] stefdoerr commented on #202
@BIORAK can we close this?

[2017-03-06 19:55] stefdoerr commented on #229
Self-reminder:
[code]
Try to replace with simple <img> like [here](http://bxslider.com/) and see if it works better

[2017-03-07 10:22] piia600 opened #262 "model.plotTimescales() causes an error"
Hi,

I think something broke in the newest version of HTMD. I am following the same ligand binding studying tutorial as before, but now it does not show any timescales. Everything runs without any errors until model.plotTimescales() and what has changed from before is that I have more simulations (I guess this should lead to "cleaner" timescales).

Cheers,
Piia

[code]

[2017-03-07 10:24] j3mdamas commented on #262
I've stumbled upon this error before. It's fixed on an updated version of PyEMMA. Update HTMD and it will be fixed:

[code]

[2017-03-07 10:24] #262 closed

[2017-03-07 10:25] j3mdamas commented on #262
For reference: https://github.com/markovmodel/PyEMMA/issues/1050

[2017-03-07 10:45] piia600 commented on #262
Do I need to force the update of pyemma somehow, it is not automatically updated with that command?

[code]

and

`UserWarning: You are not using the latest release of PyEMMA. Latest is 2.3.2, you have 2.3.1.`

[2017-03-07 10:50] j3mdamas commented on #262
You are right, I thought our latest release already had the fixed version. I will release 1.7.1 this Thursday, it will be there by then.
Sorry for the inconvenience

[2017-03-07 12:53] stefdoerr opened #263 "Guessing correct elements"
proteinPrepare for example guesses wrong elements. Some file formats don't have elements.

Elements are important because their radii are used to guess bonds. So setting them to nothing creates problems in many parts of HTMD such as atomselect, build etc.

We need to find a better way of guessing the elements. I have a `_guessElements` in `Molecule` but for the moment it only guesses Babel element

[2017-03-07 13:27] stefdoerr commented on #263
Actually I have an element guesser for PDB elements. Look at this for example:

[code]

proteinPrepare sets all these oxygens and carbons to nitrogens. My element guesser fixes it. Maybe we should call it by default?

[2017-03-07 13:33] tonigi opened #264 "htmd-data dependencies"
I get this problem (also on  travis). Possibly it will be solved making htmd-data noarch.

[code]

[2017-03-07 14:23] tonigi commented on #264
Attempt at the noarch package 373c3b8da2853eae188f624c5b2ceb185ebfca26

[2017-03-07 14:25] stefdoerr commented on #264
you have python 3.6 I guess no? We don't have a release for that due to the propka issue with dicts

[2017-03-07 14:50] GerardBCN opened #265 "Parameterize charge detected: 25 for a 0-charged compound"
Parameterize is automatically detecting 25 as the charge of the attached compound, compared to the 0 actual charge (partial charge column of the mol2 doesn't add up to 25).

Thank you!

[cmpd0.mol2.zip](https://github.com/Acellera/htmd/files/824746/cmpd0.mol2.zip)

[2017-03-07 14:53] j3mdamas commented on #264
Yes @stefdoerr is right. We can only release py3.6 after propka issue is solved.

[2017-03-07 15:00] j3mdamas commented on #263
I guess that the reason why `pdb2pqr` outputs trash element-wise is due to the [PQR format](http://www.poissonboltzmann.org/docs/file-format-info/#pqr) not having an element field.

I think we shouldn't be calling it by default (we want it to keep the original stuff by default, I think), but rather to the output of `pdb2pqr` specifically.

[2017-03-07 15:04] stefdoerr commented on #263
No, the function only guesses elements which don't exist already unless I specify otherwise. So we could still use it on PDBs in case they are missing elements

[2017-03-07 15:07] j3mdamas commented on #263
Sounds good. But for `proteinPrepare` output it should be doing over everything by default, right?

[2017-03-07 15:21] stefdoerr commented on #263
Yeah. For that one I would re-guess them all

On Tue, Mar 7, 2017 at 4:07 PM, João M. Damas <notifications@github.com>
wrote:

[2017-03-07 16:50] GerardBCN commented on #261
I solved it by installing anaconda3 from continuum repo, conda install python=3.5 -y and then conda install htmd -c acellera

[2017-03-07 16:50] #261 closed

[2017-03-07 20:08] j3mdamas commented on #255
Just a note, a warning exists on the documentation of `PBSQueue`: https://www.htmd.org/docs/latest/htmd.queues.pbsqueue.html

[2017-03-07 23:26] mj-harvey commented on #265
The mol2 file is incorrectly formatted. The 9th column in th <TRIPOS>ATOM section should be the charge, not the 10th. It's giving charge 25 because the value in that column is 1. and there are 25 atoms.
What wrote it?

[2017-03-07 23:44] mj-harvey commented on #198
Should be fixed now in HEAD, @j3mdamas could you confirm please?

[2017-03-08 10:27] GerardBCN commented on #265
I believe the old htmd_babel from a molecule created with marvinsketch. I
guess I should use babel, but for some reason it's has been giving me lots
of "Illegal instruction" and "segmentation fault" errors...

2017-03-08 0:26 GMT+01:00 M J Harvey <notifications@github.com>:

[2017-03-08 10:30] giadefa commented on #265
well, there should really be a tool inside htmd to do that, no?

On 8 March 2017 at 11:27, GerardBCN <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2C

[2017-03-08 10:32] stefdoerr commented on #265
I think babel does fancier stuff than just writing a mol2 like we do. like
charge assignment element guessing etc, no?

On Wed, Mar 8, 2017 at 11:30 AM, Gianni De Fabritiis <
notifications@github.com> wrote:

[2017-03-08 10:44] j3mdamas commented on #265
Gerard simply as a poorly formatted MOL2 file.

The oficial format is:

[code]

Either there is an extra column with 1's before the charge, or the charge and status_bit are swapped.

I think we cannot do more than read and write the official formats.

A small note on the MOL2 format writer: it outputs a "correct format", but neither the atom types nor the bond types are SYBYL (actually bond types

[2017-03-08 10:44] #265 closed

[2017-03-08 10:45] j3mdamas commented on #198
It's on my pipeline.

[2017-03-08 10:58] giadefa commented on #265
My point is that if people need to use babel they will have the same
problem as Gerard. So shall we provide something for preparing the initial
mol2 file?

On 8 March 2017 at 11:44, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo

[2017-03-08 11:09] j3mdamas commented on #265
I don't see the point of using babel here, since, from what I understood, Gerard was using babel to convert from mol2 into mol2 (maybe expecting some format correction?). What we can expect is for the user to provide a valid mol2 file. No?

If you mean something to prepare the protonation states of ligands, I agree with you, but it's not trivial or easy to implement.

[2017-03-08 14:02] stefdoerr commented on #263
Done for proteinPrepare https://github.com/Acellera/htmd/commit/f6f98645985d8ef14b9a246ccc49a14eb5b1010b

I will add it now to the pdb reader as well.

[2017-03-08 14:41] tonigi commented on #243
Should be solved as soon as the dependencies pull htmd-pdb2pqr 2.1.2+htmd3

[2017-03-08 16:05] stefdoerr opened #267 "Rotate mirrors molecule"
After rotating and aligning, the molecule is mirrored (which should not be possible). My suspicion is on `uniformRandomRotation()`, since it seems to be happening randomly. I ruled out the aligning as being the source by aligning through VMD.

[code]

Edit: It's not related to `moveBy`. Pinned it down to `rotateBy`

[2017-03-08 16:17] stefdoerr commented on #267
@giadefa probably related to the QR decomposition used to create the rotation matrix https://github.com/Acellera/htmd/blob/master/htmd/molecule/util.py#L252

[2017-03-08 16:26] giadefa commented on #267
Who did this? I remember to do the Matlab one.

On 8 March 2017 at 17:17, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera

[2017-03-08 16:54] j3mdamas opened #268 "broken I/O of overflowing resids"
Writting also breaks resid (insertion overflows)

Test trajectories of acecmd ISBA.

[2017-03-08 17:04] j3mdamas commented on #267
This looks very serious and jumped on top of my priority list.

[2017-03-08 19:01] j3mdamas opened #269 "Molecule.get('coords') returns wrong shape on 1-atom Molecules"
Finding bugs on the path to fix rotations :D

[code]
Gives: `(3,)`

[code]
Gives: `(2, 3)`

I'm quite sure it's because of the `np.squeeze` on https://github.com/Acellera/htmd/blob/master/htmd/molecule/molecule.py#L369. What is it's purpose? Can't it be removed? Maybe I'm missing something.

[2017-03-08 19:02] j3mdamas commented on #269
More importantly, also returns wrongly on 1-atom selections of multiple-atom Molecules

[2017-03-08 19:27] j3mdamas commented on #267
I am using this as trial code:

[code]

With the write, I get zero problems:

[code]

Seems like a VMD problem? When the viewname is different, the problem seems to disappear. I'm gonna try with ngl now.

Anyway, this is a wake up call to document our uniformly random rotation matrix generation, which is not a trivial thing to do at dimensions greater than 2. Read here: https://en.wikipedia.org/wi

[2017-03-08 19:57] j3mdamas opened #270 "nglview does not work"
My nglview was not working, so I did a fresh conda installation. Still not working.

![screenshot from 2017-03-08 20-54-49](https://cloud.githubusercontent.com/assets/10810178/23721354/b81f7138-0441-11e7-90f7-e072709eb5ff.png)

This is a recurring problem, no? @stefdoerr, should I bring this to the nglview guys or do you think it's on our side?

[2017-03-08 20:03] j3mdamas commented on #270
I installed the `jupyter_nbextensions_configurator` (conda install jupyter_nbextensions_configurator -c conda-forge), and I have this view:

![screenshot from 2017-03-08 20-59-54](https://cloud.githubusercontent.com/assets/10810178/23721498/495cbe30-0442-11e7-9749-3d3320b526a1.png)

The exclamation points are related with compatibility, if I reenable the configuration for those without explicit co

[2017-03-08 20:09] j3mdamas commented on #270
Nevermind, my current chrome installation does not support WebGL.

Something to note for the future.

[2017-03-08 20:09] #270 closed

[2017-03-08 20:21] j3mdamas commented on #270
For future reference, this helped me fix the problem in Chrome: http://superuser.com/questions/836832/how-can-i-enable-webgl-in-my-browser

[2017-03-08 20:50] j3mdamas commented on #267
In nglview, I get the same results as VMD. Also, changing the viewname also influences... I'm a bit puzzled by this behaviour. I trust the `Molecule.write()`method more than the rest, but this visualization problems are still problems, no? Any clues, @stefdoerr?

[2017-03-08 21:36] stefdoerr commented on #267
@j3mdamas it's not the viewname. It's just that the behaviour is random. You are overworked man :P

@giadefa I'm very sure you wrote that function. I hate QR decompositions because I never understood them, hahah. Can't pinpoint it though because it comes from multiscalelab/htmd which doesn't exist anymore.

[2017-03-08 21:44] stefdoerr commented on #269
It's annoying to handle those cases as they require a separate `if` and `np.newaxis` and cannot be done with `np.atleast_2d` but ok I'll fix it. Really minor though I'd say

[2017-03-08 21:44] stefdoerr commented on #269
Squeeze should not be removed. the returned array should be 2D from get. Not 3D

[2017-03-08 23:16] j3mdamas commented on #267
Do you mean you knew about the randomness?
The write did not seem to give random output.

On Mar 8, 2017 22:36, "Stefan Doerr" <notifications@github.com> wrote:

[2017-03-08 23:17] stefdoerr commented on #267
Read the top post: "My suspicion is on uniformRandomRotation(), since it seems to be happening randomly."

[2017-03-08 23:21] stefdoerr commented on #267
Or might come from here:
https://github.com/tmadl/sklearn-random-rotation-ensembles/blob/master/randomrotation.py
Where the function is even called: "random_rot_mat_**incl_flip**" oh god...

[2017-03-08 23:26] j3mdamas commented on #267
Good find. I'll do some more research. There are other ways to obtain
uniform random rotation matrices other than qr Decomposition

On Mar 9, 2017 12:22 AM, "Stefan Doerr" <notifications@github.com> wrote:

I guess the solution is the function beneath it but I would like some proof
for that.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<http

[2017-03-09 09:28] PabloHNieto opened #271 "Protocolinferface"
Hi,
since yesterday my adaptive runs are crashing with the following message

[code]
I'm setting my projection as follows (with one or several metrics), which used to work
`md.projection= [MetricDihedral(protsel="protein", sincos=True)]`

Pablo

[2017-03-09 09:45] stefdoerr commented on #271
Fixed

[2017-03-09 09:45] #271 closed

[2017-03-09 10:01] stefdoerr commented on #267
Do your research if you want so that we understand how it works because we don't want to do this wrong again.
For the moment I added the fix from my last post and tested it and it works.

[code]

https://github.com/Acellera/htmd/commit/0be58f6dd6b1d72f897f7a5c704761d6b9f38eaf

[2017-03-09 10:53] giadefa commented on #267
i think that your fix is fine

On 9 March 2017 at 11:01, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://ww

[2017-03-09 13:05] jeiros opened #272 "No module named protocolinterface"
Hi everyone,

I've made a fresh conda environment with python 3.5 and a full anaconda installation. After, I've installed htmd with `conda install htmd -c acellera`
But `import htmd` fails in the python interpreter:
[code]
Doing `conda install protocolinterface -c acellera` fixed the error (protocol interface v.0.1.3 is installed). Just reporting on this, as shouldn't it be downloaded automaticall

[2017-03-09 13:09] stefdoerr commented on #272
yeah I just faced this issue now. It happens if you start with python 3.6 and downgrade to 3.5. Then the package is installed for 3.6 but 3.5 can't see it. Either do:
[code]

[2017-03-09 13:10] jeiros commented on #272
OK I'll wait :) Python 3.5 is the recommended python version to be using with htmd, right?

[2017-03-09 13:13] j3mdamas commented on #272
Soon it will be py36, as we like to keep up with the conda defaults.

[2017-03-09 13:14] stefdoerr commented on #272
As Joao says.

As far as I can tell 3.5 and 3.6 should be equivalent. I mean till now we worked with 3.5 so it's safer but there weren't big changes in python. The reason we didn't have a release for it was that a few of our tests needed some really annoying tweaking, but the user experience should be the same.

[2017-03-09 13:16] jeiros commented on #272
Ok thanks! Last question: I've seen the `htmd-stable` package when I do `conda search htmd`.

Should we be using that one as end users?

[2017-03-09 13:17] j3mdamas commented on #272
End users should be using htmd package, as it is the one under development and has most features.

[2017-03-09 13:18] j3mdamas commented on #272
There is also a package called `htmd-latest`, if I'm not mistaken, which is synced to the last `htmd`

[2017-03-09 13:18] stefdoerr commented on #272
Ok 1.7.2 for py36 is out!

[2017-03-09 13:33] j3mdamas commented on #269
That's why I put bug:low :)

It errors for example when one want to do `Molecule.center(sel='selection with one atom')` which is something not common, but not weird either.

[2017-03-09 13:34] stefdoerr commented on #272
Hm actually I reopen this. I can't manage to install htmd on 3.6

[code]

[2017-03-09 13:36] stefdoerr commented on #272
Pfff I don't have time to sort this out right now. @jeiros better try my initial suggestion till we fix this dependency hell.

[code]

[2017-03-09 13:43] #269 closed

[2017-03-09 13:48] j3mdamas commented on #272
@jeiros, it's undergoing. We'll close this issue when there's a working version.

[2017-03-09 13:58] j3mdamas commented on #267
I'll just supplement the fix and the original QR decomposition with references.

[2017-03-09 14:07] stefdoerr commented on #267
Oh yes good idea.

On Thu, Mar 9, 2017 at 2:58 PM, João M. Damas <notifications@github.com>
wrote:

[2017-03-09 15:04] jeiros commented on #272
Ok, no worries. Thanks for taking a look into it 😄

[2017-03-09 15:16] j3mdamas commented on #267
Just waiting on the py36 things to stabilise to push the documentation

[2017-03-09 15:19] j3mdamas commented on #264
I'll close this issue and open a new one on dependencies revision

[2017-03-09 15:19] #264 closed

[2017-03-09 15:21] j3mdamas opened #273 "Revise HTMD dependencies"
We need to revise the dependencies that we have:

* which ones are necessary
* are all of them available on all architectures we are trying to build?
* if not, what to do?

[2017-03-09 15:22] j3mdamas commented on #273
@stefdoerr, can you put here your findings during the releasing of py36 HTMD?

[2017-03-09 15:33] stefdoerr commented on #272
My god, it works on 3.6. I feel like a conda/travis magician. Have fun!

[code]

[2017-03-09 15:33] #272 closed

[2017-03-09 15:34] stefdoerr commented on #272
Ah forgot to mention a caveat. openbabel doesn't exist for 3.6 meaning that our `dock` function will probably fail.

[2017-03-09 15:35] stefdoerr commented on #273
1. openbabel doesn't exist in 3.6 so it pulls a 0.0.0 version which is probably broken

[2017-03-09 15:44] j3mdamas commented on #272
Unless you have your own babel installed manually and on the PATH, which HTMD should detect

[2017-03-09 15:45] stefdoerr commented on #272
Check here for possible problems with 3.6
https://github.com/Acellera/htmd/issues/273#issuecomment-285381384

[2017-03-09 15:47] stefdoerr commented on #273
nglview is up to us to make a new release (preferably noarch since theirs is noarch as well)

[2017-03-09 15:50] j3mdamas commented on #273
Their noarch version has 1 hour xD https://anaconda.org/bioconda/nglview/files

[2017-03-09 15:50] j3mdamas commented on #273
We just need to do the sync, I guess?

[2017-03-09 15:55] stefdoerr commented on #273
Doing it right now

[2017-03-09 15:55] j3mdamas commented on #273
A way to make this transition better for the users, is to fix the Miniconda3 installer to 4.2.12, which installs python 3.5 by default. What do you think, @stefdoerr?

[2017-03-09 15:55] j3mdamas commented on #273
Fix in the installation page

[2017-03-09 15:56] stefdoerr commented on #273
No, next version (in 30 minutes) will work fine on 3.6 as far as I can tell. Minus maybe the babel thingy

[2017-03-09 16:26] stefdoerr commented on #273
Ok synced the deps and am making a 1.7.6 version

[2017-03-09 16:26] stefdoerr commented on #273
Only missing the openbabel dep but at least nglview should work fine

[2017-03-09 16:53] stefdoerr commented on #272
If you update htmd the dependencies should be up-to-date now, except for openbabel. The rest should work

[2017-03-09 18:04] jeiros commented on #255
Hi,

I'm going to use this thread as I'm also using AMBER. I'm not using any queuing system, just trying to run the simulations straight from the machine which has the GPUs. If you want I can open this on a different issue but I though it could be useful for other AMBER users.

I haven't used htmd for awhile and I guess the API has changed. When we wrote the `PmemdLocal` class app I was able to ru

[2017-03-09 18:29] stefdoerr commented on #255
Thanks for the complete report!

The reason it crashes is because it can't find pdb files in the input folders. Admittedly I could probably change it to accept prmtop files or psf files as well since we have the reader functionallity but for the moment simlist in adaptive expects to find pdb files as you can see in the `glob(path.join(self.inputpath, '*', 'structure.pdb'))` line

[2017-03-09 18:42] stefdoerr opened #275 "New simlist"
Implement the new class-based simlist which automatically detects structure and trajectory files in the folders. Adaptive would be a nice place to start using it as seen here for example: https://github.com/Acellera/htmd/issues/255#issuecomment-285430828
Structures can have arbitrary names (here it's hardcoded to structure.pdb). Should pick by extension and report in case of multiple different str

[2017-03-10 10:06] jeiros commented on #255
Thanks! So do I have to manually copy the PDB files in the input folders?

[2017-03-10 10:32] stefdoerr commented on #255
For now yes. Or symlink them like I usually do to not waste disk space

On March 10, 2017 11:06:06 AM GMT+01:00, Juan Eiros <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-10 11:49] jeiros commented on #255
Hi, sorry to keep bothering you with this :(

Having the `structure.pdb` allowed for the filtering and projection steps to happen, but I think there's a problem when using PDB files for systems that have more than 99999 atoms. My system has ~300k atoms, and I am getting the following log and error after issuing the adaptive run like this:
[code]
[code]

This gives a very weird looking `filtered.pd

[2017-03-10 12:53] stefdoerr commented on #255
Don't worry about posting issues. Helps us improve.
In this case I am very sure the error comes from MDtraj when trying to read the nc files. I would bet that your pdb files contain less/more atoms than the nc files. Try:
[code]
That should give you the same error.

[2017-03-10 12:56] stefdoerr commented on #255
Most of the 99999 atom messages you can ignore. They are warnings. I am a bit worried about overflowing segids. That gives me the feeling that it might not be an overflowing segid but instead your atomnumbers pushing all fields to the side which is a big NO-NO in the PDB format. Be very careful with column alignment in PDB files. Who wrote that PDB file? Can I have one to look at maybe?

[2017-03-10 15:06] #267 closed

[2017-03-10 15:44] stefdoerr commented on #255
Ok, the structure is fine. You can ignore these warnings.

`2017-03-10 11:16:41,076 - htmd.projections.metric - WARNING - Error in simulation with id: 0. "xyz must be shape (Any, 205575, 3). You supplied  (20, 302263, 3)"`

This is the only real error here.

My feeling is that something went wrong during filtering. Could you send me the filtered pdb and one filtered nc file?

[2017-03-10 15:47] stefdoerr commented on #255
Or if you want try reading them manually:
[code]

[2017-03-10 15:59] stefdoerr commented on #255
By the way which HTMD version are you on? I remember an old bug that gave that error.

[2017-03-10 16:06] stefdoerr commented on #255
Sorry, my bad. Found the bug. It was in the filtering/writing with MDtraj. I was super-convinced I had fixed it before. Maybe a regression. I'll add a test this time.
https://github.com/Acellera/htmd/commit/f5a5d2cabfb04919fc2046d6d10e663905ad5285

A new release is in the making. Once this is green it's out:
https://travis-ci.org/Acellera/htmd/builds/209798626

[2017-03-10 16:10] jeiros commented on #255
I think I was one version behind. I'll wait for the new build 👍 Thanks for taking a look into it! I'll report back after the weekend to see if it works 😄

[2017-03-10 16:20] jeiros commented on #255
Also I tried manually fixing it by cloning the repo and setting the PYTHONPATH to it. Changed the following in `adaptiveMD` class:
[code]
And now the error is still hapenning but the warnings are a bit different:
[code]
I think the stripping of water is now working fine, but the `filtered.pdb` file has all coordinates set to 0 ( I think because it's reading from a `prmtop` which has no coordinate

[2017-03-10 16:24] stefdoerr commented on #255
You might need to delete the filtered folder. Also I introduced another bug by fixing this one but you don';t seem to have hit it so keep trying :D

[2017-03-10 16:57] stefdoerr commented on #255
Ok 1.7.10 should go through now: https://travis-ci.org/Acellera/htmd/builds/209813960 Crossing fingers

[2017-03-13 08:51] stefdoerr commented on #255
@jeiros can you check if it's fixed in 1.7.11?

[2017-03-13 11:03] jeiros commented on #255
Hi @stefdoerr,

I upgraded htmd to 1.7.11 but still the error prevails:
[code]

[2017-03-13 12:34] stefdoerr commented on #255
@jeiros Sorry for making you do so much testing. Could you please instead pass me a single `data/X` and `input/X` folder so that I can test it locally? Only one trajectory/input should be enough. Thanks!

[2017-03-13 12:52] jeiros commented on #255
@stefdoerr Don't worry, I understand supporting AMBER engine is extra work. I actually set up the `adaptive.filter = False` and it went on to do the projections. But it failed after awhile with a really long traceback coming from `joblib`, I think. I'm retrying this with longer simulations, since I thought maybe it isn't possible to build a markov model with the test runs that I am doing (which ar

[2017-03-13 12:54] stefdoerr commented on #255
Yes it's definitely filtering related but it's probably a very simple fix once I have the files. Thanks very much!

If it's ok with you I might add those files (or parts of them) as HTMD tests to avoid future regressions as well.

[2017-03-13 13:13] stefdoerr commented on #255
@jeiros The bug is fixed actually. You just need to delete your filtered folder. I made a new filtered folder (filteredS) for example and compared it with yours (filtered):

[code]

I will check if the rest runs fine though

[2017-03-13 13:28] stefdoerr opened #276 "Bug filtering large system of waters"
Seems to be related with bond calculation. Since at each successive step if finds more molecules as water and keeps removing. Found at `loro:/tmp/test-htmd/structure.pdb`. Works find with `prmtop` I guess because it contains the correct bonds.

[code]

[2017-03-13 13:31] stefdoerr commented on #255
Ok, there is a bug though when working with your PDB file https://github.com/Acellera/htmd/issues/276  I will need to see what's wrong there.
If you modify my adaptive code to read prmtop files though as you did from what I see it will work, albeit extremely slowly which I don't know exactly why.

[2017-03-13 13:32] stefdoerr commented on #276
Also `prmtop` filtering takes a reaaaally long time. Would be good to profile it.

[2017-03-13 13:36] stefdoerr commented on #255
There seems to be another bug with coordinates being set to 0. Ok give me a day and I'll update you when it works for real.

[2017-03-13 13:45] j3mdamas commented on #276
wow, it's really weird, no?
I mean, the `water` VMD selection should be independent of bonding, and based on residue name

[2017-03-13 14:17] jeiros commented on #255
Ok no problem thanks for taking a look into it :)

[2017-03-13 14:40] stefdoerr commented on #255
@jeiros ok this works perfectly on my computer after the bug fixes

[code]

### Bug fixes:
Had to read the topology because MDtraj doesn't like reading pure trajectory files. Fixed here: https://github.com/Acellera/htmd/commit/656d0a86352f4b42114053918a1bfa11d8ea8949 and here: https://github.com/Acellera/htmd/commit/24ee39fe3c8ccff9c8852e7f91c492b5a230e7bb. New release 1.7.13 being built right now

[2017-03-13 14:51] jeiros commented on #255
Thank you so much! There are actually different versions of 'restart' files in AMBER, in ASCII and binary version. Mine is binary. It can be read with mdtraj:
[code]
I thought the convention was to name them `.rst` but I do have seen people saving them as `.rst7`, but the file termination shouldn't affect what's inside the file?

Thank you so much for this! Also, I was going crazy with the counter

[2017-03-13 15:00] jeiros commented on #255
Also, I did change the line in `adaptiverun.py` to accept `prmtop` files, but since I've upgraded this morning to the new htmd version that was overwritten. I'll play around with changing it once I get my hands on the 1.7.13 release.

[2017-03-13 15:48] stefdoerr commented on #255
Ah yes that ions escaping thing is horrible but it's not our fault. VMD (whos atomselection syntax we use) is just weird like that.

Yes try with rst7, just remember to read it also correctly in your input file.
1.7.13 is out so give it a try whenever you find time :)
Thanks!

[2017-03-13 16:07] jeiros commented on #255
Again, conda behaving weirdly:
[code]
If I make a new env with python 3.6 and the full anaconda installation: `conda create --name htmd-py36 anaconda -y` and then look for HTMD
[code]
The new release _is_ there. But:
[code]
`conda install` seems to still be picking up the 1.7.11 release. I'll give it a bit of time to see if it detects the new release (?)

[2017-03-13 16:26] stefdoerr commented on #255
Maybe try
`conda uninstall htmd --force`
and install again? Seems to help sometimes

[2017-03-13 16:38] jeiros commented on #255
That still picks up the 1.7.11 version
[code]

[2017-03-13 16:40] stefdoerr commented on #255
But it's trying to pull 3.5 so weird.
You can also see here that both 3.5 and 3.6 versions are available for 1.7.13: https://anaconda.org/acellera/HTMD/files

I am sorry, I can't help beyond suggesting a fresh install :disappointed: . Conda is just annoying sometimes...

[2017-03-13 16:44] jeiros commented on #255
Yes it's weird that `anaconda search htmd` finds the new version but `conda install -c acellera htmd=1.7.13` doesn't do anything. I'll give it some time 😕

[2017-03-13 16:56] j3mdamas commented on #255
I think it's just because you're on OSX and we did not make sure the OSX
build passed. I am going to restart the OSX build and I'll let you know
when it's available.

On Mon, Mar 13, 2017 at 5:44 PM, Juan Eiros <notifications@github.com>
wrote:

--
[image: https://www.acellera.com/] <https://www.acellera.com/>
         <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleralive>
<htt

[2017-03-13 16:57] jeiros commented on #255
I'm running this on a Linux machine since that's where I have the GPUs

[2017-03-13 17:19] stefdoerr commented on #255
I have a suspicion this might be related to the automatical dependency generation. I will take a look at it tomorrow

[2017-03-13 20:49] mj-harvey commented on #255
Were you starting with a fresh htmd-py35 environment?
If not, make a new one and try again. Shoudnt be any need to use 3.5 anymore - our release for 3.6 is out

[2017-03-14 10:36] jeiros commented on #255
Hi, I managed to get the 1.7.13 version for a python 3.6 environment.

Starting from 0, creating input files:
[code]
This gives the following:
[code]

Using @stefdoerr commands:
[code]
Fails with the following logs & Traceback:
[code]

It's failing to launch the simulations. From what I've seen , it's expecting a `job.sh` script but the one produced by the `htmd.protocols.pmemdproduction.Productio

[2017-03-14 11:37] stefdoerr commented on #255
The `pmemdproduction` class needs rewriting indeed. For the moment I would suggest you just write a `run.sh` script manually which will then be called by `LocalGPUQueue` with the `job.sh` script.

To make it clearer:
We decided to separate the queuing systems from the simulation software (hence why we don't use Apps anymore and we use Queues). They work as follows: the protocols are software speci

[2017-03-14 11:39] stefdoerr commented on #255
So to summarize the only two problems here are:
a) We need to add the ENGINE to the PMEMD Production protocol to write it to the `run.sh` file
b) Rename the `MD.sh` to `run.sh`

Right? I can do that.

[2017-03-14 11:39] jeiros commented on #255
Thanks for clarfiying. I got it to work for the moment by using
[code]
But I'll switch to using the queues.

[2017-03-14 11:44] jeiros commented on #255
Yes that would be it. Don't worry about it, I can play around with it and submit a PR once I think it's working fine with the queues.

To make 'changes' to an htmd installation, here's what I do:
1. Clone the git repo
2. `export PYTHONPATH` to the repo path
2. Conda install `htmd-deps` on a new conda environment
3. cd into the `htmd/` repo and run `python setup.py install --user`

Is that how you

[2017-03-14 12:34] stefdoerr commented on #255
No, sorry. The setup.py doesn't work as far as I know.
I just do:
1. clone repo
2. **prepend** it to the PYTHONPATH

That's it.

[2017-03-14 13:10] j3mdamas commented on #255
The setup.py is for pypi packaging, as far as I recall and it's still under development (#237)

[2017-03-14 15:20] piia600 opened #277 "MetricDihedral() with trajectories"
Hi,

I am trying to analyze movement of a single residue by its chi2 dihedral. I would like to include more of its dihedrals later, but so far even the single one is not calculated for the trajectories, possibly because I cannot describe the atoms properly.

So for a single structure everything works fine

[code]

`[[-0.13845076  0.99036932]]`

But then I tried the same atom selection in my trajec

[2017-03-14 15:24] stefdoerr commented on #277
Hm the insertion of the atom looks wrong. Could you try:

[code]

I assume you will get the same error. If yes can you send me the unfiltered and filtered PDB file? Did HTMD write that one or you?

[2017-03-14 15:30] piia600 commented on #277
Actually I don't get any error with that script, but the dihedrals from the trajectory are printed as they should (I guess). The unfiltered pdb file was created with tleap, is this a problem? It is the pdb for the input of the equilibration and the production runs.

[code]

[2017-03-14 15:39] stefdoerr commented on #277
Hmmm ok try this then?

[code]

Sorry for this debugging but without the files I can't test it otherwise :/

[2017-03-14 15:45] piia600 commented on #277
This runs and prints the number of simulation without any error messages :)

But I guess it is still rewriting the data1 on every iteration?

[2017-03-14 15:52] stefdoerr commented on #277
Aaaaaah of course! You are calculating the dihedrals for the non-filtered and then using those dihedrals on the filtered data. During the filtering the insertion issue probably got fixed and then the selection doesn't apply anymore. Try this:

[code]

[2017-03-14 16:06] stefdoerr commented on #276
It's getting more and more weird.
For example if you try to view that PDB through HTMD, HTMD writes a PSF and XTC and then loads it into VMD. However VMD 1.9.1 loads it fine, yet 1.9.2 throws following error:

[code]

Have to find out if this is a regression in VMD and if it's also related to the bond guessing. Might also be two separate issues though

[2017-03-14 16:11] stefdoerr commented on #276
Ok this is a bug in our PSFwriter which overflows fields. Will fix now

[2017-03-14 16:16] piia600 commented on #277
Thank you, this works now. I didn't think about the filtering causing problems here.

[2017-03-14 16:26] #277 closed

[2017-03-14 16:27] stefdoerr commented on #276
Fixed the PSF writing bug
https://github.com/Acellera/htmd/commit/61676861cb8316c259915e59525dffc41f9bfa79

Was independent of bond guessing bug which will need more investigation now

[2017-03-14 16:30] stefdoerr commented on #276
This is just bound to be fun:

[code]

[2017-03-14 16:36] j3mdamas commented on #276
do you need help, @stefdoerr ?

[2017-03-14 16:37] stefdoerr commented on #276
The issue is very probably in the C code of the atomselect, so it will be tricky. Feel free to look at it of course but I think it will be quite some work.

[2017-03-14 16:51] stefdoerr commented on #276
Works fine in VMD
[code]

[2017-03-14 16:55] j3mdamas commented on #276
also, we need to create tests for `atomselect`

[2017-03-15 09:57] stefdoerr commented on #268
This doesn't seem like a bug from our side. If it overflows we are supposed to read it as insertion. The problem is the PDB file that is written badly. It's an old simulation with Thrombin so I don't know who wrote that file but it's broken.

[2017-03-15 09:57] #268 closed

[2017-03-15 10:52] j3mdamas commented on #268
so maybe we can replace the test files for non-broken ones?

[2017-03-15 10:52] stefdoerr commented on #268
I won't bother but if you feel like it ok. It doesn't affect the results in any way

[2017-03-15 11:23] stefdoerr commented on #243
We are 1.6 compatible minus openbabel which is not up to us

[2017-03-15 11:23] #202 closed

[2017-03-15 11:26] tonigi commented on #243
Unfortunately not on osx yet, afaik. We either need to add another osx
Travis (just for dependencies), which is slow. But I'll have a go at cross
compiling which could be better.

T

Il 15 mar 2017 12:23 PM, "Stefan Doerr" <notifications@github.com> ha
scritto:

[2017-03-15 11:28] stefdoerr commented on #243
Oh yes ok I forgot OSX. I'll reopen

[2017-03-15 12:27] stefdoerr commented on #263
Complete https://github.com/Acellera/htmd/commit/d9efc7ff93d7bb53b3419546386637716d80f86e. Now all topology files will have missing elements guessed.

[2017-03-15 12:27] #263 closed

[2017-03-15 14:19] cesaravila79 opened #280 "Support glycam in amber.build"
Dear Stefan,
As I mentioned to you, it would be nice to have the capability in
amber.build to pass additional input lines to amber.build in HTMD. It would
come handy to manipulate the molecule after its creation for things such as
adding bonds or changing charges. I stumped into this kind of problems when dealing with molecules that use the GlycamFF. For instance, I am attaching zip file with a pd

[2017-03-15 14:29] j3mdamas commented on #280
I am not a big fan of HTMD passing/writing very specific commands for tleap (or psfgen).

But what I see here as room for improvement is to add the capability of supporting the glycam ff for amber. What do you guys think? @stefdoerr @giadefa

@cesaravila79, is there any general information on how to use glycam besides the webserver you provided?

[2017-03-15 14:31] stefdoerr commented on #280
From my last additions to `amber.build` I get the feeling that it's impossible to support every single little feature `tleap` has as an argument to the function, so I think I would just allow inserting lines.

[2017-03-15 14:33] j3mdamas commented on #280
@cesaravila79, in the zip you provided, the outdir `build-IdoA2SGlcNS6S` is absent.

[2017-03-15 14:41] j3mdamas commented on #280
I think that can be the approach if the operations are always ran at the end, but if the operations are complex, we're back at the same problem.

Plus, it seems more complex, as Cesar described:

[2017-03-15 14:42] giadefa commented on #280
or the user can simply take the leap file generated and edit it

On 15 March 2017 at 15:33, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A14480185832

[2017-03-15 14:51] stefdoerr commented on #280
@giadefa That ruins the "reproducibility/integration" aspect of HTMD though a bit. Unless he codes the modifications into python

@j3mdamas as far as I know HTMD should keep the TERs

[2017-03-15 14:56] j3mdamas commented on #280
I don't think that HTMD should serve as a wrapper for tleap commands. It's true we offer the patching in psfgen, but at least that is well defined and contained.

The high-level nature of HTMD should support something like glycam on amber.build though.

[2017-03-15 14:57] giadefa commented on #280
gerard has experience with glycam, maybe he can help in supporting it.

On 15 March 2017 at 15:41, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448

[2017-03-15 14:58] giadefa commented on #280
I agree with Joao

On 15 March 2017 at 15:56, Gianni De Fabritiis <g.defabritiis@acellera.com>
wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.

[2017-03-15 15:00] j3mdamas commented on #280
OK, changed the title. I will talk with Gerard.

@cesaravila79, if you have experience with glycam and can provide any solid information on how it works, it would be very helpful. thanks

[2017-03-15 15:34] stefdoerr commented on #276
Ok found the issue. It's not related to bonds at all since these are apparently not used for the "water" selection (you can do it with 0 coordinates everywhere). It's related to the segids.

When we read `tleap` PDBs I interpret the `TER` commands as ends of segments and create corresponding segids (which VMD does not do). If I do `mol.segid[:] = ''` it works. Also the `prmtop` works because it do

[2017-03-15 15:47] j3mdamas commented on #276
that sounds like a good idea.

it's still weird to be how `water` depends on `segid`, as it shouldn't

[2017-03-15 15:48] stefdoerr commented on #276
Ok so I was partially wrong about my 2 character assumption. It works up to around 10.000+ segids and then it breaks. I assume we don't work much with such huge systems and hence didn't notice till now.

Works great if I just use alternating resids `1` and `0` so that might be a better idea compared to totally dropping them although I can't prove it.

[2017-03-15 15:52] j3mdamas commented on #276
Segids or resids?

[2017-03-15 15:53] stefdoerr commented on #276
Breaks between 20000 and 50000 segids. Go figure. I will stop here trying to find the exact limit.

[2017-03-15 15:53] stefdoerr commented on #276
@j3mdamas  segids

[2017-03-15 15:56] j3mdamas commented on #276
that is one of weirdest bugs ever...

but how would the alternating resids thing work?

[2017-03-15 15:57] stefdoerr commented on #276
0 until a change in segid happens then 1 until a change happens etc.
Some programs only care about the changes in segid and not absolute values.
For the moment I'll just drop the segid. Seems less risky than alternating.

[2017-03-15 15:58] j3mdamas commented on #276
I agree.

[2017-03-15 16:01] stefdoerr commented on #276
Done, fixed. Pushing it now.

[code]

[2017-03-15 16:09] stefdoerr commented on #276
https://github.com/Acellera/htmd/commit/06304a6ee01cf481fde47ae405038d9a1a77c942

[2017-03-15 16:09] #276 closed

[2017-03-17 15:49] j3mdamas opened #281 "proteinPrepare ValueError: too many values to unpack"
Opening on behalf of @shozebhaider

[code]

@shozebhaider, can you tell us about htmd version, operative system, python version?

[2017-03-17 16:27] j3mdamas commented on #281
Possibly related #200

[2017-03-17 16:28] j3mdamas commented on #281
@tonigi

[2017-03-17 16:29] tonigi commented on #281
Pdb2pqr version

Il 17 mar 2017 5:28 PM, "João M. Damas" <notifications@github.com> ha
scritto:

[2017-03-17 16:42] j3mdamas opened #282 "Create htmd_update"
@giadefa and I discussed this today

Such a command/package should:

* update the htmd/htmd-stable/htmd-latest available
* at least run the `run_inline_tests.py` like it was travis, which would guarantee that the update was minimally successful in that environment (reducing complaints)

[2017-03-17 17:53] shozebhaider commented on #281
htmd-pdb2pqr  2.1.2

[2017-03-17 17:57] tonigi commented on #281
Upgrade please. Although installing htmd-deps SHOULD fix it.

Il 17 mar 2017 6:53 PM, "shozebhaider" <notifications@github.com> ha
scritto:

[2017-03-17 18:22] shozebhaider commented on #281
Reinstalled the latest htmd 1.7.13 version and updated to htmd-pdb2pqr 2.1.2+htmd3.
htmd-deps also installed. Still same error.

[2017-03-17 19:06] tonigi commented on #281
Ok no version s correct, but  there could be leftovers, either of htmd, or
previous pdb2pqr.

Is seems that you are using  htmd installed in /use/local, which is a bit
strange (possibly old version).

T

Il 17 mar 2017 7:22 PM, "shozebhaider" <notifications@github.com> ha
scritto:

Reinstalled the latest htmd 1.7.13 version and updated to htmd-pdb2pqr
2.1.2+htmd3.
htmd-deps also installed. Still s

[2017-03-17 19:20] j3mdamas commented on #281
@shozebhaider, it's annoying, but sometimes the best way to approach this is to do a fresh conda installation.

[2017-03-17 19:25] tonigi commented on #281
Before reinstalling, check that you have only one copy around.

Il 17 mar 2017 8:20 PM, "João M. Damas" <notifications@github.com> ha
scritto:

[2017-03-17 21:59] shozebhaider commented on #281
Thanks Joao and Toni. Completely removed everything before reinstalling again. However, some ghost remnants of miniconda still lurk around which is baffling me no end. In any case, thanks for the help.

[2017-03-19 02:33] giadefa opened #283 "have more examples on front page"
1. adaptive
2. msm

[2017-03-19 02:41] giadefa opened #284 "change menu in webpage"
as it says

about us
issues
cite

[2017-03-19 16:39] tonigi commented on #281
But.. is it solved? Shall we close the issue?

[2017-03-19 16:40] shozebhaider commented on #281
Yes it is solved.

Best Wishes

Shozeb

[2017-03-19 17:20] stefdoerr commented on #255
@jeiros I added automatic topology detection now to HTMD in the latest commit
https://github.com/Acellera/htmd/commit/3d60ae316922e606d82d919e1272bd2e4312e9d3

So no reason to modify `adaptiverun.py` anymore to read prmtop files.

[2017-03-20 08:58] #284 closed

[2017-03-20 12:37] j3mdamas commented on #273
OK, I'll look into what can be done with openbabel, and then close this issue.

[2017-03-20 12:38] j3mdamas commented on #243
I will dedicate a couple of hours to see if I can make Py3.6 in OSX oass Travis.

If not, that will be left for 1.10.0

[2017-03-20 12:43] tonigi commented on #243
A suggestion could be to make htmdlib a separate package, which is faster
to build in Travis. Htmd itself would then be noarch, not require the slow
osx runs, and  be generated by conda convert.

Just an idea though.

Il 20 mar 2017 1:38 PM, "João M. Damas" <notifications@github.com> ha
scritto:

[2017-03-20 12:44] stefdoerr commented on #243
Hm that sounds like a much better idea

On Mon, Mar 20, 2017 at 1:43 PM, Toni G <notifications@github.com> wrote:

[2017-03-20 12:45] j3mdamas commented on #243
How long would that take?

[2017-03-20 12:48] stefdoerr commented on #243
Actually it's impossible right now, since htmdlib is private, unless we pay
for private travis.
Although we could make a dummy private project and pull htmdlib privately
like the htmd travis build does now. Convoluted but why not.

On Mon, Mar 20, 2017 at 1:45 PM, João M. Damas <notifications@github.com>
wrote:

[2017-03-20 12:50] stefdoerr commented on #243
We would need to add tests as well in that repo. To make sure the so's
actually work since we won't test them directly in Travis for multiple OSs

On Mon, Mar 20, 2017 at 1:48 PM, Stefan Doerr <stefan.doerr@upf.edu> wrote:

[2017-03-20 12:50] tonigi commented on #243
Well htmdlib is already compiled on Travis somehow

Il 20 mar 2017 1:48 PM, "Stefan Doerr" <notifications@github.com> ha
scritto:

[2017-03-20 12:50] stefdoerr commented on #243
Typo:
*dummy public project

On Mon, Mar 20, 2017 at 1:49 PM, Stefan Doerr <stefan.doerr@upf.edu> wrote:

[2017-03-20 12:50] j3mdamas commented on #243
We need Matt for these decisions. Let's put it on HTMD dev meeting agenda.

Meanwhile: Py3.6 on OSX. Make it or drop it?

[2017-03-20 12:50] stefdoerr commented on #243
Yes as I said by pulling a private repo inside a "dummy" public repo

On Mon, Mar 20, 2017 at 1:50 PM, Toni G <notifications@github.com> wrote:

[2017-03-20 15:47] #281 closed

[2017-03-20 15:48] j3mdamas commented on #243
OK, Stefan already removed the OSX 3.6 from Travis.

Let's postpone OSX discussion to another issue, including its py 3.6 version

[2017-03-20 15:48] #243 closed

[2017-03-20 15:51] j3mdamas opened #285 "OSX package builds improvement"
If one wants to really support HTMD on OSX, there are stuff that need improving:

* building success of OSX HTMD on Travis (or change it to another builder system)
* building time of OSX HTMD
* make OSX work on py 3.6

[2017-03-20 15:55] stefdoerr commented on #285
As per @tonigi 's suggestion:
1. Make htmd noarch
2. Build htmdlib on Travis separately

This will
1. Speed up a lot our testing/releasing since we can test it all on Linux
1. Reduce the mess with our distributions

For this we need:
1. a separate public repo which stealthily builds htmdlib (since it's private) like htmd does now.
1. Low-level tests directly on htmdlib to test regressions under sp

[2017-03-20 15:57] tonigi commented on #285
Let's see what Matt says. For me the biggest plus will be to cut the build complexity which is accumulating (and already biting I think).

[2017-03-20 17:17] j3mdamas opened #286 "Check Acellera pro license before presenting the registration challenge"
As per discussed. Any thing you need, let me know.

[2017-03-20 17:34] tonigi commented on #285
ehm.. adding a mention just to annoy @mj-harvey
of course i can help if necessary

[2017-03-21 22:33] funnybomb opened #287 "error during adaptive sampling"
hi, I am using adaptive samplie by
[code]
I got exit and the log file is
[code]
[code]

[2017-03-21 22:44] stefdoerr commented on #287
Hmm I've never seen that before. It's coming from PyEMMA but I can't tell what the reason is. Possibly lack of data. I will just summon @marscher who might know something more.

To help them debug this, try doing `%debug` when it crashes in an ipython console or jupyter, go up the stack until you hit the `self._M = pcca(P, m)` line and save the `P` variable into a numpy `npy` file.

[2017-03-22 09:57] j3mdamas commented on #287
@funnybomb, can you also tell us which versions are you using?

[code]

Thanks

[2017-03-22 13:10] marscher commented on #287
The transition matrix would be indeed helpful 👍

[2017-03-22 13:30] miha-skalic opened #288 "htmd __version__"
Hello,

it would be a good idea to report htmd version that is [PEP 396](https://www.python.org/dev/peps/pep-0396/) compliant.

thus far we get:
[code]

[2017-03-23 00:46] mj-harvey commented on #288
done

[2017-03-23 00:46] #288 closed

[2017-03-23 00:47] mj-harvey commented on #286
done

[2017-03-23 00:47] #286 closed

[2017-03-23 01:32] funnybomb commented on #287
previously, there was no problem when I used htmd 1.5.xx version just after the metricdihedral problem was fixed.

conda list | egrep acellera

[code]

[2017-03-23 10:18] j3mdamas commented on #287
Thanks for the versions.

Can you follow @stefdoerr's suggestion?

Run your script inside ipython (using `%run <name-of-script>.py`) or, if a .ipynb, execute it through jupyter.

In any case, run `%debug` after the error (in a separate cell, in case of jupyter). Type `up` and press `Enter` until you reach the `self._M = pcca(P, m)` frame (three types, I believe). Then, do: `print(m)`, and tell us

[2017-03-23 10:44] j3mdamas commented on #288
f219fcebec90174c0ecf1d4ecf5ba51ced8acfcc

[2017-03-23 10:48] j3mdamas commented on #286
Final fixed version: 0aa97ccc7f71ae6297bccd50a377ff352bdd7930

[2017-03-23 22:33] j3mdamas opened #289 "nglview still not available on py3.6"
Placeholder for us to remember we don't have nglview on python3.6

Reference issue: https://github.com/arose/nglview/issues/600

[2017-03-26 23:25] funnybomb commented on #287
the log is below:
[code]
and I did what you told @j3mdamas , below is the result
[code]

[2017-03-26 23:27] funnybomb commented on #287
[code]
is keeping on running for more than 2 hours ...
I will upload the result once finished

[2017-03-27 09:44] j3mdamas commented on #287
I think you went up one more, maybe? What is the value of `m` in your case?

[2017-03-28 12:30] tonigi opened #290 "Travis yml cleanups"
Some travis features may have changed syntax and don't pass [lint](http://lint.travis-ci.org/) tests, e.g.

    in matrix.include section: unexpected key language, dropping
    in matrix.include section: unexpected key before_install, dropping
    in matrix.include section: unexpected key addons, dropping
    missing key language, defaulting to ruby

(mostly a reminder)

[2017-03-29 09:27] piia600 opened #291 "Amber.build adds a massive salt concentration"
Hi,

I used Amber build with command

`molbuilt = amber.build(smol, outdir='./build/', topo=['subs.prepi'], param=['bodipy.frcmod', 'frcmod.ionsjc_tip3p'], saltconc=0.1) `

for a solvated structure with about 20000 water molecules (~40x40x40 A) box.

`2017-03-29 11:16:31,682 - htmd.builder.ionize - INFO - Adding 0 anions + 11 cations for neutralizing and 74 ions for the given salt concentration.`

[2017-03-29 09:31] stefdoerr commented on #291
What's the number of waters?
The formula for calculating the ions is:
`num = int(np.floor(0.5 + 0.0187 * saltconc * nwater)) * 2`

[2017-03-29 09:31] stefdoerr commented on #291
To get the number of waters you can do:
`np.sum(mol.atomselect('water and noh'))`

[2017-03-29 09:37] piia600 commented on #291
The number of waters is 20948. Based on that the equation seems to work...

[2017-03-29 09:39] stefdoerr commented on #291
What might be confusing is that this is **salt** concentration and not individual ion concentration which is double that? Sorry my chemistry is crap but I think that's the reason of the confusion.

[2017-03-29 09:39] #291 closed

[2017-03-29 09:40] stefdoerr commented on #291
Also when comparing with other systems you should compare umber of waters not box size. The one might contain a bigger protein hence less waters and thus require less ions.

[2017-03-29 10:32] funnybomb commented on #287
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-4-cb5aefb55a12> in <module>()
----> 1 np.save('P.npy', P)

NameError: name 'P' is not defined

[2017-03-29 10:46] j3mdamas commented on #287
So maybe you were in the right debug frame in the initial trial. Stefan, do
you know why it could take so long to write the matrix?

On Mar 29, 2017 12:32, "feicaiyi" <notifications@github.com> wrote:

[2017-03-29 11:19] stefdoerr commented on #287
No, P should have the KxK dimensions where K number of clusters which should max out at around 1200. So it should write fast.

[2017-03-29 11:42] j3mdamas commented on #287
OK, let's see. Could you please do the initial procedure where you said it
was taking 2 hours to finish, but before using the np.save, do
print(P.shape). Thanks.

On Mar 29, 2017 12:19 PM, "Stefan Doerr" <notifications@github.com> wrote:

[2017-03-29 14:27] stefdoerr opened #292 "Redesign Acemd class"
Right now if you write multiple protocols i.e. Production inside a loop like here:

https://www.htmd.org/docs/latest/tutorials/docking-simulation-generators.html

it will not work because the Acemd class replaces it's own variables (bincoordinates from output.coor to input.coor) on the first write and then cannot find a file called `input.coor`.

[2017-03-29 14:28] stefdoerr commented on #292
Also change the tutorial since it doesn't work

[2017-03-29 15:32] piia600 commented on #119
The opened pdbs look similar on VMD, but in reality the atoms of the ligand are not connected to each other in the mol2 case, as the HTMD made mol2 file lacks all BOND information (just check the extra.mol2 and the tleap log). How I discovered this? I tried to build a system with a complicated ligand including a boron atom, and even though it seems the structures are produced fine, the simulations

[2017-03-29 15:43] j3mdamas commented on #259
So, I need also to update the feb16 (which seems to be the one we are using now) to jul16. The `c36_prot_mod` has been renamed more officially to `c36m_prot`, and I will make this change reflect.

[2017-03-29 15:47] funnybomb commented on #287
I'll remove the directory and reproduce the result, I will put result tomorrow

[2017-03-29 15:56] j3mdamas commented on #292
Yes, when queues were stripped away from apps, the Acemd class (and the Pmemd classes for what matters) was left a bit orphan. It sure needs small redesign, and a new home (maybe something called mdengines module we discussed before)

[2017-03-29 16:01] j3mdamas commented on #119
@piia600 is this a new issue or related with another issue? Can you clarify and move the comment appropriately? Thanks!

[2017-03-29 16:29] piia600 commented on #119
I think it is a continuation of this problem where the amberbuild fails if one uses mol2 files due to conversion issues.

Anyway, the problem is within the mol2 file produced by HTMD during amberbuild, which only contains the atom coordinates and charges, and not the BOND information which is crucial for the correct interpretation of the connectivity of the atoms.

Should I make a new issue out of

[2017-03-29 16:32] j3mdamas commented on #119
OK. Can you share with us the file and which version of HTMD you are using?

[2017-03-29 17:27] piia600 commented on #119
It is the newest version, 1.7.14(?)

[2017-03-29 23:20] j3mdamas commented on #119
Can you confirm? `conda list | egrep htmd`

And is the file shareable?

[2017-03-30 07:17] piia600 commented on #119
Yes, the version is

[code]

I can send you the files, but I suggest you start working with the benzamidine (files from @stefdoerr contain the same problem, extra.mol2). This is because I am not sure how much of my problems is generated just by the boron not present in the traditional force field.

[2017-04-01 13:25] stefdoerr opened #294 "Improve sync_conda_acellera script"
Right now it only checks if the latest package versions are on acellera but it doesn't check if all architectures are there.
For example in some cases people uploaded version 1.45 of a package for python 3.5 and after a week uploaded the one for python 3.6 same version 1.45. Then our script thinks that there is nothing to update since 1.45 is already on our channel.

[2017-04-02 10:45] funnybomb commented on #287
[code]

[2017-04-02 23:58] j3mdamas commented on #287
At which frame are you? There is no `m` at that debug frame. Is `P` available?

Do this you did here: https://github.com/Acellera/htmd/issues/287#issuecomment-289325197

At that point, with that amount of ups, you should have `P` and `m` available.

`P` should be a numpy array. Do the `print(P.shape)` and the `np.save('P.npy', P)` there.
`m` should be an int, so you just need to do `print(m)`

Tha

[2017-04-03 15:37] GerardBCN opened #295 "Parameterize: parameter fits look perfect but simulations blow up because of high VDW energy"
Hi, I have the following [ligand](http://www.chemspider.com/ImagesHandler.ashx?id=20066751&w=250&h=250) and I parameterized it using parameterize. The fit plots have never looked as good as these ones, just an example:

![c4-c5-c6-c7](https://cloud.githubusercontent.com/assets/3877758/24617255/b3131968-1893-11e7-8943-a83c5bfce940.png)

(full data in the .zip)

However, after building the systems,

[2017-04-03 15:39] j3mdamas commented on #295
Thanks Geri, give me some time

[2017-04-04 09:04] mj-harvey commented on #295
charmm or amber?

[2017-04-04 09:37] GerardBCN commented on #295
CHARMM

[2017-04-04 12:01] cuzzo87 opened #296 "Installation Error"
To install I have followed the step:
1) installing conda
2) installing conda version 3.5. (Necessary to use the newer version of nglviewer)
3) conda clean
4) installing htmd by using conda

The error is:
[code]

[2017-04-04 12:10] j3mdamas commented on #296
have you ever seen something like this @hainm?

[2017-04-04 12:23] hainm commented on #296
Try

conda upgrade conda

I've seen that with another package and likely a conda bug.

[2017-04-04 12:32] j3mdamas commented on #296
I am on `4.3.16`, which is the latest, I think, and that's the one causing problems. I also reproduce this issue from Alberto.

[2017-04-04 12:36] stefdoerr commented on #296
I'm curious though as to why it's pulling 0.6.2.2
Joao we might need to make a new htmd release because the latest one on acellera is 0.6.2.3 taken from omnia which had a python 3.6 build

@hainm any reason why you don't make 3.6 versions? https://anaconda.org/bioconda/nglview/files It forces us to use the older one from omnia which does

[2017-04-04 12:52] funnybomb commented on #287
this is the out put of ```%run run_adaptive.py
[code]
and I repeat the ```%debug```  and four 'up', I got this result below,
[code]

and I still got
[code]

[2017-04-04 12:55] j3mdamas commented on #287
It's just three `up`s. And do the `print(P.shape)`, `np.save('P.npy', P)`, and `print(m)` while still inside debug mode (before hitting `q`)

[2017-04-04 12:57] j3mdamas commented on #296
OK, I am going to make a new HTMD release, with the newest nglview. Let's see how it goes.

Pinning conda to an older conda version (4.3.11) did not work.

[2017-04-04 12:58] hainm commented on #296
There no python 3.6 yet on bioconda channel

[2017-04-04 13:15] hainm commented on #296
Side note: IMO, your package should not list nglview or other add-ons as dependence since you don't have control how they are built/delivered. Ideally you should pack all in a single tar file and distribute it (if the license permits that).

[2017-04-04 13:17] j3mdamas commented on #296
@hainm doesn't that defeat the purpose of conda? :)

I'm releasing 1.7.15, which will have 0.6.2.4 instead of 0.6.2.2.

[2017-04-04 13:25] hainm commented on #296
You are making assumption that conda is reliable :p

[2017-04-04 13:29] j3mdamas commented on #296
You have a great point, but we're trying to work with it :) For good and bad

[2017-04-04 14:01] j3mdamas opened #297 "change travis yml to error on failure to upload to anaconda"
If the upload fails due to lack of space, the Travis build still shows as successful. This should not be the case.

[2017-04-04 14:20] j3mdamas commented on #296
It's fixed on 1.7.15

@hainm i'm getting this: https://github.com/jupyter-widgets/ipywidgets/issues/662#issuecomment-233708019 as you did in the past with 0.6.2.4. Anything we could do here?

[2017-04-04 14:20] #296 closed

[2017-04-04 14:26] hainm commented on #296
no, it's ipywidgets stuff https://github.com/jupyter-widgets/ipywidgets/issues/1211

[2017-04-04 14:27] j3mdamas commented on #296
Thanks, let's wait for the next ipywidgets version then.

Thanks a lot for your help, @hainm!

[2017-04-04 17:05] j3mdamas opened #298 "Change calls inside HTMD that require internet connection"
We cannot assume that the computer were HTMD is running has access to internet.

For now, I think that this one affects the __init__ and it solved with `HTMD_INTERACTIVE=1`. Still, I need to make that code robust enough so it doesn't error cryptically in case that environment variable is not set up

@stefdoerr, are there any other calls throughout HTMD that you remember that require internet?

[2017-04-04 18:32] stefdoerr commented on #298
The news/version/license check, automatic PDB download, finding ligands in PDBs and finding mutations in PDBs. That should be all

[2017-04-05 10:05] katkovs commented on #198
Hello HTMD team,

Is there any update on this? Or approximate time frame when it is expected to be fixed?

Thanks,
Kalina

[2017-04-05 10:09] j3mdamas commented on #198
Hi Kalina,

This issue in particular is tied with other issues in parameterize. A definite solution is going to be available at maximum in 1 month, but probably earlier. If earlier, I'll post here.

Thanks for reporting and for helping us improve the software
João

[2017-04-05 10:12] katkovs commented on #198
OK, thanks for the quick reply!

[2017-04-05 10:17] j3mdamas commented on #119
I see what was the problem. I think it's fixed by this: 608f17244f733699f38a19a62fa6bd4f49e56031

But I need to investigate further.

João

[2017-04-05 17:51] tonigi opened #299 "Parametrize speed"
Is there anything that can be tweaked for speed (different level of theory, initial guesses, memory)? This 27-atom molecule https://files.rcsb.org/ligands/view/833_model.sdf takes hours.

[2017-04-05 17:54] j3mdamas commented on #299
See the tutorial on tips for speed: https://www.htmd.org/docs/latest/acetk/parameterize/parameterize-tutorial.html

[2017-04-05 17:55] j3mdamas commented on #299
`--vacuum` is one of my favourites if speed is an issue

[2017-04-05 17:55] #299 closed

[2017-04-06 02:25] funnybomb commented on #287
curious that I upgrade htmd to newest version, clean the data and rerun the script, there is nothing wrong for more than 2 days.

[2017-04-06 11:32] j3mdamas commented on #287
great, good news then. I'm going to close this issue then.

sorry for bothering you, @marscher

[2017-04-06 11:32] #287 closed

[2017-04-06 14:27] j3mdamas opened #300 "Fix documentation: class references do not work on self-reference (or classes inside the same module)"
Example: https://www.htmd.org/docs/latest/htmd.molecule.molecule.html

Molecule and Representation :class: references do not work, while the VMD :class: does.

I think it's only failing for self-reference inside module. I think this worked in the past?

[2017-04-06 16:23] giadefa opened #301 "Make tutorial on running adaptive with other codes"

[2017-04-06 16:23] giadefa opened #302 "make tutorial on running adaptive on pmemd"

[2017-04-06 18:49] slovera opened #303 "plotFES"
Hi,

When I am plotting (model.plotFES) choosing a cmap option, other than the default, it doesn't plot the states anymore and it gives this error: "str object is not callable".
e.g.
'''' model.plotFES(0, 1, temperature=298, cmap='Accent', states=True) ''''
Any advise?

Thank you,
Silvia

[2017-04-06 19:05] j3mdamas commented on #303
Use `cmap=plt.cm.accent`

[2017-04-07 22:42] giadefa opened #304 "have video tutorials link from htmd home page left panel"
link youtube channel

[2017-04-10 08:31] mj-harvey commented on #295
confirmed. Not sure what's going on here.

[2017-04-10 13:09] stefdoerr opened #305 "dock tries to use conda babel and fails"
The babel we distribute on conda seems broken (segfaults). We should stop distributing it or at least not use it as the default for the `dock()` method

[2017-04-10 13:13] stefdoerr commented on #305
Default babel also doesn't work as it removes lots of atoms and makes a mess when converting to pdbqt

[2017-04-10 13:20] stefdoerr commented on #305
[2bpv.zip](https://github.com/Acellera/htmd/files/910148/2bpv.zip)

[2017-04-10 15:27] hawk31 opened #306 "Incorrect .pdbqt reading"
[code]

ẁhich yields
[code]

Notice the incorrect reading sizes in anything but coords.

[1c5t.zip](https://github.com/Acellera/htmd/files/910550/1c5t.zip)

[2017-04-10 15:42] hawk31 commented on #305
Replacing babel with autodocktools in the `dock` module is a solution if the incorrect reading of .pdbqt files detailed in #306 is solved.

It is also the expected behavior.

[2017-04-10 17:32] mj-harvey commented on #305
The only reason we ship openbabel is  to write pdbqts.
Mgltools is the canonical tool for pdb->pdbqt, but it is python 2.7 only.
The porting may be a challenge, and the license may be too proscriptive.

[2017-04-11 08:57] #306 closed

[2017-04-11 09:00] hawk31 commented on #306
I owe you a beer.

2017-04-11 10:57 GMT+02:00 Stefan Doerr <notifications@github.com>:

[2017-04-11 09:02] stefdoerr commented on #306
If only I had a beer for every single-line fix I made :laughing:

[2017-04-11 09:48] stefdoerr commented on #305
I checked a month ago the code in Mgltools involved in writing pdbqt files to see if I could extract the algorithm. It's really non-trivial. Not something I could reimplement in a week I think

[2017-04-11 10:00] tonigi commented on #305
Can we ask users to install mgltools if they want to use docking? They do provide installers. http://mgltools.scripps.edu/downloads License is restrictive indeed.

[2017-04-12 12:34] j3mdamas opened #307 "make registration non-compulsory"

[2017-04-12 15:33] piia600 opened #308 "Charmm build sets atoms outside the box"
I tried to use the Charmm.build to make a build from a pdb file (attached, see smol.pdb). I ended up with structure.pdb, where some waters and ions are outside the box. What is going on here? I tried the build with the protein only, and still some waters and ions get placed outside the box.

[code]

[charmm_prob.zip](https://github.com/Acellera/htmd/files/917059/charmm_prob.zip)

[2017-04-12 15:36] stefdoerr commented on #308
I don't see any atoms outside the box in `smol.pdb`

![vmdscene](https://cloud.githubusercontent.com/assets/7935362/24966186/8f6e2b28-1fa6-11e7-8bb8-7d52adfb7e76.png)

[2017-04-12 15:38] stefdoerr commented on #308
Ah sorry you mean after building that file. Joao will take a look at it I guess since he assigned it to himself ;)

[2017-04-12 15:38] j3mdamas commented on #308
`structure.pdb` has

[2017-04-12 15:39] j3mdamas commented on #308
@piia600, can you share the script and inputs that you used to generate `smol`?

[2017-04-12 17:09] piia600 commented on #308
Here are the files.

[files.zip](https://github.com/Acellera/htmd/files/917322/files.zip)

[2017-04-13 16:23] j3mdamas opened #309 "htmd config file"
Set variable `HTMD_CONFIG` file

Htmd by default check if it's set, if it is, it executes/reads the config

ProtocolInterfaced and extending the current config

Support for queue variables

[2017-04-14 00:51] giadefa commented on #309
actually  it is not important to use protocol interface, as the config script is python as well, it could just set some variables in the queuing system

[2017-04-14 14:08] j3mdamas commented on #309
I'll discuss it with @stefdoerr, but since we already have JSON reading into ProtocolInterface, I think that's the best option. Plus, JSON is relatively standard. This help us to standardize stuff and validate whatever the user has in the config file.

[2017-04-14 18:51] giadefa commented on #309
But there is no reason to have json either in my view. What's the reason to
have a restricted interface?

On Apr 14, 2017 16:09, "João M. Damas" <notifications@github.com> wrote:

[2017-04-19 11:21] j3mdamas opened #310 "Students had problems installing on Mac and Windows"
test current version on both

[2017-04-19 13:43] cuzzo87 opened #311 "HTMD documentation web site"
The Navigation bar is not scrollable, even if it goes out of the screen. Is it possible to have it scrollable?

[2017-04-19 14:43] #311 closed

[2017-04-20 13:58] cuzzo87 opened #313 "parametrize error (importing pyparsing)"
I was trying to parametrize a ligand with the following command:
[code]
It raised the following error:
[code]

[2017-04-20 15:11] j3mdamas commented on #309
Closed by #312

[2017-04-20 15:11] #309 closed

[2017-04-20 16:01] j3mdamas commented on #313
Need to reproduce it and then talk with Matt. Seems like the never-ending problems with pcmsolver.

[2017-04-20 22:42] JoaoRodrigues opened #314 "Support for Python 3.6 on Windows"
Simple Q: is there anything preventing htmd from working on Windows using Python 3.6? The conda install process requires Py3.5, but there seems to be a version for Py3.6 for Linux. I could try compiling it myself, but there isn't a list of dependencies anywhere I looked for.

[2017-04-21 08:54] cuzzo87 opened #315 "playmolecule (protein prepare)"
Protonation table scrolling does not work well.

[2017-04-21 10:28] j3mdamas commented on #315
@gerardbcn

[2017-04-21 10:32] GerardBCN commented on #315
can you be more specific? tab or widget? which browser and version? There's a known bug that has no easy solution, where scrollbar produces the tab to go up when dragging it.

[2017-04-21 10:32] j3mdamas commented on #314
Hi João,

I have to look into it. Also related with #310

[2017-04-21 10:32] GerardBCN commented on #315
Use mouse scroll button instead.

[2017-04-21 10:37] giadefa commented on #315
what do you mean use scroll button? It's broken, the tab goes off site. Try!

g

On 21 April 2017 at 12:32, GerardBCN <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3

[2017-04-21 17:50] stefdoerr commented on #308
[code]

Sorry I don't have access now to a computer with VMD to test it but the warnings indicate that psfgen had problems determining the atom type probably of some atom. Could you send me the log that is mentioned in the warning?

[2017-04-21 17:51] #303 closed

[2017-04-21 17:55] stefdoerr commented on #301
This has been discussed already in length here with some files made by me.
https://github.com/Acellera/htmd/issues/173#issuecomment-261239035

The problem is I was getting a crash and I don't have a clue from gromacs to fix it. @j3mdamas who knows gromacs might be able to work on this further. We would need a minimal running example though.

[2017-04-21 17:56] stefdoerr commented on #302
Probably not until we have access to pmemd. Do we?

[2017-04-21 18:02] stefdoerr commented on #119
@j3mdamas can we close this?

[2017-04-21 18:03] stefdoerr commented on #229
Tried my best and failed. I think this is trivial enough that it doesn't really need to be fixed.

[2017-04-21 18:03] #229 closed

[2017-04-21 18:07] stefdoerr commented on #255
@jeiros I am going to close this. Made a new issue for it

[2017-04-21 18:07] #255 closed

[2017-04-21 18:08] stefdoerr opened #316 "Update PMEMD production protocol"
As per my suggestions here: https://github.com/Acellera/htmd/issues/255#issuecomment-286395742

[2017-04-21 18:16] stefdoerr commented on #273
We should probably switch to the official openbabel conda channel. It has the latest version including 3.6 version:
https://anaconda.org/openbabel/openbabel/files

[2017-04-21 18:20] stefdoerr commented on #294
I'll combine this issue with the other one on changing the channel for openbabel as I'll just fix both in a single try.
https://github.com/Acellera/htmd/issues/273

[2017-04-21 18:20] #273 closed

[2017-04-21 19:10] j3mdamas commented on #308
@piia600, can you also share the ligand parameters that were absent on the files.zip and are used in the build? Otherwise I can't reproduce your results and check what is going on.

[2017-04-21 19:12] j3mdamas commented on #301
OK, I'll do GROMACS adaptive.

[2017-04-21 19:15] j3mdamas commented on #302
@giadefa, again we continue with this issue of `pmemd`. We've discussed this privately already and how can we support something we do not have a license for.

Plus, and related with #301, are these tutorials going to enter the tests we talked about today?

[2017-04-21 19:23] j3mdamas commented on #119
Partially.

The problem with MOL2write is that the atom types written by HTMD are not actually SYBYL atom types. So, the format appears to the correct, but some software may not recognise them as real MOL2 files.

It's even more problematic with parameterize for Amber, where the atomtype that we write on the MOL2 file matters for `.frcmod`...

Let me think about it as I assess parameterize.

[2017-04-21 19:25] j3mdamas commented on #229
I was unsuccessful. Maybe @gerardbcn, the html wizard, could solve it?

[2017-04-21 19:28] j3mdamas commented on #305
let's see if @stefdoerr change proposed in https://github.com/Acellera/htmd/issues/273#issuecomment-296264940 will solve this

[2017-04-21 19:59] stefdoerr commented on #294
Fixed both here: https://github.com/Acellera/htmd/commit/dbd469e4742665dd41650f8ec15577f4f0472b49

[2017-04-21 19:59] #294 closed

[2017-04-21 20:01] stefdoerr commented on #294
By the way I had to delete lots of old versions of packages from acellera omnia to make space for the new ones. When it fills up it just silently refuses to upload which is very frustrating to figure out the cause of the issue.

[2017-04-21 20:07] j3mdamas commented on #294
@mj-harvey, is there a way to increase space in the acellera channel? maybe we need a clean-up?

[2017-04-21 20:11] stefdoerr commented on #294
I'm also deleting all 2.7 packages since we won't ever use them

[2017-04-21 20:12] j3mdamas commented on #294
that's good idea

[2017-04-21 21:37] stefdoerr commented on #119
Make a new clean issue on it then

On Fri, Apr 21, 2017 at 9:23 PM, João M. Damas <notifications@github.com>
wrote:

[2017-04-22 07:21] giadefa commented on #302
if you just create one, Simone will test it, he said. I think that we can
drop the pmemd protocols though.

We can have the same tutorial on using gromacs and pmemd on adaptive.

On 21 April 2017 at 21:15, João M. Damas <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/

[2017-04-24 07:19] piia600 commented on #308
Here are the ligand parameters. I see now, that there are probably some problems in them, since the rtf should not have most values as zeroes... But anyway, I can reproduce the initial problem also with using only the protein pdb file, leaving off all the problems connected to the ligand.

Here is the log file from only the protein, I think the problem might be in amber style residue names.

[mol.

[2017-04-24 08:00] stefdoerr commented on #308
I think the issue is this line:
[code]
The solvate function already takes care of putting waters in separate segments. When you force a new segment on them you have multiple residues with same resid in the same segment which causes errors in psfgen as can be seen in the `log.txt`

[code]
Try removing that line

[2017-04-24 08:12] piia600 commented on #308
Okay, thanks. I didn't know the water is treated differently in the segments, so based on the tutorials I assumed I have to make a segment for it.

[2017-04-24 08:17] stefdoerr commented on #308
Yeah it's not very clear in the tutorials. We might want to point it out
unless we find some nicer way of dealing with segments.

On Mon, Apr 24, 2017 at 10:12 AM, piia600 <notifications@github.com> wrote:

[2017-04-24 08:33] j3mdamas commented on #308
it's hard. we might lock in the segments from user modification after important functions have been called (like solvate), but that's a mess.

anyway, closing this issue.

[2017-04-24 08:33] #308 closed

[2017-04-24 08:49] stefdoerr commented on #305
Trying it now. Openbabel seems to hate the `END` tag at the end of the PDB files, or the `END` after an `ENDMDL`.
The official PDB format requires it: http://deposit.rcsb.org/adit/docs/pdb_atom_format.html
`Each file should terminate with a line containing only the word END.`
But openbabel considers is an invalid molecule.

Also atom reordering back to original atom order is not working and is way

[2017-04-24 09:11] #305 closed

[2017-04-24 09:12] stefdoerr commented on #305
@hawk31 if you want to use it before our next release tell me and I can help you set it up. At the next HTMD release it should work out of the box.

[2017-04-24 09:34] hawk31 commented on #305
Oh I hacked my way around. I can wait.

2017-04-24 11:12 GMT+02:00 Stefan Doerr <notifications@github.com>:

[2017-04-24 10:47] #307 closed

[2017-04-24 10:48] j3mdamas commented on #307
@giadefa i've done this, can you see if you like it? I tried my best to mess the least with `htmdx/cli.py` because I don't know how much Matt uses it for other stuff and I don't want to break Acecloud

[2017-04-25 08:21] stefdoerr opened #317 "Search function doesn't work on Firefox Linux and Chrome on Windows"
Werd behaviour at least here in the lab.
The search gets stuck at "searching..." forever.
Works on my chrome in Linux though

[2017-04-25 08:57] j3mdamas commented on #317
I already notice it. If you look for partial (take out one letter) it's
instantaneous (at least for what I tried)

On Apr 25, 2017 10:21, "Stefan Doerr" <notifications@github.com> wrote:

[2017-04-25 18:21] mj-harvey commented on #313
Does "conda install pyparsing" fix it?
If so, add it to the deps.

[2017-04-26 08:34] giadefa opened #318 "move the acecloud command line documentation to htmd.org"
now is in docs.acellera.com

[2017-04-26 08:34] #315 closed

[2017-04-26 12:09] j3mdamas commented on #313
It's already in the deps. It does not fix.

[2017-04-26 12:45] j3mdamas commented on #313
sym linking the pyparsing to the miniconda3/bin solves it. But we removed it before because it was causing htmd importing problems...

Right now, using `--vacuum` solves this problem, but we need to look into it.

[2017-04-26 15:09] mj-harvey commented on #313
is the py3 psi4 ready yet?

[2017-04-26 17:12] j3mdamas commented on #313
When `--vacuum`, I get this:

[code]

[2017-04-26 17:16] j3mdamas commented on #313
https://anaconda.org/psi4/psi4/labels

Just in devel, I think. The main still on 1.0.54. Do you want me press them?

[2017-04-26 17:19] j3mdamas opened #319 "slides definition on tutorials"
I don't know how this happened, since last year I verified all notebooks had slides defined. Need to check the others.

[2017-04-27 11:29] yiannisgaldadas opened #320 "Bond information is lost when running parameterize"
Hello HTMD team,

I tried to use the parametrize tool for a ligand parmeterization but when I run the following command:

I get the following messages
Unknown bond type for BOND(C2-N3:un), assuming it is a single bond
Unknown bond type for BOND(C10-O2:un), assuming it is a single bond
Unknown bond type for BOND(C1-C17:un), assuming it is a single bond

Along with several errors:

  File "/home/yia

[2017-04-27 11:33] j3mdamas commented on #320
Hi,

Can you share with us the files?

[2017-04-27 12:27] PabloHNieto opened #321 "mol.dropFrame"
Hi,
executing the following code

[code]
I got the error message
[code]
But, despite this message the method drops the frames correctly
(the 'drop' option works without problem)
Thanks,

Pablo

[2017-04-27 12:36] yiannisgaldadas commented on #320
Sure,

Please find attached the .mol2 file (in a txt format since I can't attach a .mol2 file)

Best,
Yiannis
[MLN.txt](https://github.com/Acellera/htmd/files/961567/MLN.txt)

[2017-04-27 12:47] j3mdamas commented on #320
Thanks. Can you also tell in which version of HTMD you are?

[2017-04-27 12:52] stefdoerr commented on #321
Yeah I know that issue. The PDB reader should return a box of zeros of shape: [nframes, 3]. Joao can fix it since he likes self-assigning :stuck_out_tongue:

[2017-04-27 12:55] j3mdamas commented on #321
ahah, yeah, I was looking at it, you can't be always solving these things :P

Yeah, the mistake is at the PDBReader level.

[2017-04-27 13:59] #321 closed

[2017-04-27 14:12] yiannisgaldadas commented on #320
I am on 1.7.15.

[2017-04-27 14:52] yiannisgaldadas opened #322 "Multiple replicas metadynamics simulations on ACEMD"
Dear htmd users,

Has anyone ever tried to perform a replica exchange metadynamic simulation using ACEMD?
I am trying to find a tutorial or something regarding the format of the acemd input files
but I cannot find anything even though in the manual it says that you can perform replica exchange
metadynamics with plumed2.
For instance, in Gromacs you generate a .tpr and a plumed.dat
file for each re

[2017-04-27 14:57] yiannisgaldadas commented on #322
Does anyone know if I need ACEMD Pro in order to run multiple replicas simulations?

[2017-04-27 15:01] j3mdamas commented on #322
Yes, a ACEMD Basic license only allows running on 1 GPU

[2017-04-27 15:13] j3mdamas commented on #322
So, if you don't have a Pro license, you won't be able to use replica exchange.

[2017-04-27 15:13] #322 closed

[2017-04-27 15:15] j3mdamas commented on #322
Please, for ACEMD only related issues, non-related with HTMD, please post them here: https://github.com/Acellera/acemd_issues/issues

[2017-04-27 15:15] yiannisgaldadas commented on #322
But still, how should the run command look like when you want to perform such a simulation?
Should somebody submit N jobs, where N is the number of replicas? Or should it be like
mpirun -np 8 acemd input_replica1 input_replica2 ... input_replica_N?

[2017-04-27 15:33] j3mdamas commented on #322
Open a new issue on acemd_issues, and it will be addressed there

[2017-04-27 15:58] yiannisgaldadas commented on #322
Thank you very much and apologies for posting it here!!

[2017-04-28 08:58] yiannisgaldadas commented on #320
Is this an issue of the HTMD version that I'm using?

[2017-04-28 10:19] j3mdamas commented on #320
No, I just wanted the information for completeness

[2017-04-28 13:26] j3mdamas opened #323 "user guide improvements"
- [ ] python notebook of parameterize (adapt from matt's presentation)
- [ ] python notebook of acecloud (adapt from matt's presentation)
- [ ] python notebook of markov models introduction and adaptive (stefan's presentation)

[2017-04-28 15:16] giadefa opened #324 "molecule.dropFrames does not update .step and .time"
Dropping frames using dropFrames does not also drops the corresponding .time and .step list

[2017-04-28 15:18] j3mdamas commented on #313
About psi4, 1.1 should be released by the middle of May. They have the paper under review, currently replying to referees.

About this issue.

Fresh conda installation, both on py3.5 and py3.6, gives this error (the one that @cuzzo87 reported):

[code]

My guess is that, even though `pyparsing` can be imported in conda python, the `psi4.bin` binary expects the `pyparsing.py` (and other things like

[2017-04-28 15:48] #324 closed

[2017-04-30 09:23] stefdoerr commented on #314
I really don't see a reason not to have 3.6 for Windows. It's mostly that HTMD is totally untested on Windows and until now we were still trying to fix minor issues with 3.6. But now that it's fixed I think we can switch all builds over to 3.6.

However Travis doesn't seem to build correctly for Windows so I'm gonna try to set up Appveyor CI to build for Windows. Let's see if it works.

[2017-04-30 17:29] JoaoRodrigues commented on #314
If you need testing I don't mind doing it. Let me know, thanks for the
effort.

A dom, 30/04/2017, 02:23, Stefan Doerr <notifications@github.com> escreveu:

[2017-04-30 18:13] stefdoerr commented on #314
Give me a few more days since tomorrow is holidays but I'm getting to it.
Just need to compile the shared libraries for windows and it should pass
the build. I will tell you once it's ready :)

On Sun, Apr 30, 2017 at 7:29 PM, João Rodrigues <notifications@github.com>
wrote:

[2017-05-02 08:16] stefdoerr commented on #310
Mac works again after my noarch conda-propka release 3.1.7 and building on travis for Mac 3.6. I will keep the other issue open for the windows build

[2017-05-02 08:16] #310 closed

[2017-05-02 12:46] cuzzo87 opened #325 "Molecule (write function) error"
Trying to save a pdb from a trajectory I have noticed that the ```Molecule.write()``` wrongly assigns the last pdb column (element). In the specific case a chlorine was marked as carbon

**MD starting PDB**
[code]
**MD starting PSF**
[code]

**PDB save from trj**
[code]

[2017-05-02 12:55] stefdoerr commented on #325
This is probably done during reading and not during writing. Can you check the element it's assigned inside the Molecule class after reading?

[2017-05-02 16:35] mj-harvey commented on #313
Where is the pyparsing.pyc file coming from?

[2017-05-02 16:40] mj-harvey commented on #313
How about this: work out what pyparsing, etc bits  need to be where then make a package with those in and add it to the deps. It's way easier than dicking about the psi4 packages themselves

[2017-05-02 16:40] j3mdamas commented on #313
Right now there isn't any in any package. What I meant was that we need to
make sure that there isn't none in the packaged tar files. I think maybe
some .pyc files are created by the test ran at the end of build.sh of
pcmsolver, but I'm not sure.

On May 2, 2017 18:36, "M J Harvey" <notifications@github.com> wrote:

[2017-05-02 16:41] j3mdamas commented on #313
OK, I'll try to fix it tomorrow.

On May 2, 2017 6:40 PM, "M J Harvey" <notifications@github.com> wrote:

[2017-05-03 21:37] stefdoerr commented on #314
I made the libs compile on windows and it works! Now I just need to solve the issues with conda and our dependencies. Should have it ready by the end of the week

[2017-05-04 12:29] cuzzo87 opened #326 "htmd visualization (vmd)"
I was trying to view a trajectory by using the ```Molecule.view()``` function but some weird connection are reported as visible in **Figure 1**. I save the current state and modified the molecules to be load to the original structure files.
(Htmd creates tmp structure files that are loaded in the visualization). By looking at **Figure 2** the wrong connection are not reported

**Figure 1**
![htmd_

[2017-05-04 12:30] stefdoerr commented on #326
`mol.view(guessBonds=False)`

[2017-05-05 08:19] giadefa commented on #314
thanks Stefan

On 4 May 2017 at 23:45, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.com/md-

[2017-05-08 05:13] amrhamedp commented on #313
I have the same error......failed due to pyparsing

[2017-05-08 07:37] j3mdamas commented on #313
@amrhamedp thanks for the feedback

[2017-05-08 08:11] amrhamedp commented on #313
Ok ...please can you tell me which version of htmd works for parameterize cmd till v 1.8 is released

[2017-05-08 09:58] cuzzo87 opened #327 "voxeldescriptors Import Error"
I tried to import voxeldescriptors by using ```import htmd.molecule.voxeldescriptors``` in Centos 6.8 and it raised the following error:
[code]
When I do the same in Centos 7.3 it works.
``` lsb-release -a``` Centos 6.8
[code]

```lsb-release -a ```Centos 7.3

[code]

[2017-05-08 10:00] giadefa commented on #327
HTMD is compatible with centos6? @stefdoerr

[2017-05-08 10:06] hawk31 commented on #327
This seems related.

https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/4ysbSS2F8l4

Are you running the same anaconda version on both?

2017-05-08 12:00 GMT+02:00 Gianni De Fabritiis <notifications@github.com>:

[2017-05-08 16:21] ismaelresp opened #328 "htmd.model.getStates alignmol keyword only works with a file path"
htmd.model.getStates alignmol keyword only works with a file path but documentation says that it must be a Molecule() object.

[code]

[2017-05-08 20:51] stefdoerr commented on #327
I remember we had problems with old Linux OSs. Can't do much considering the so's are built on travis.
But this seems related to a specific function. We could take a look if we can make it backwards compatible,

[2017-05-08 20:53] stefdoerr commented on #327
Ah yes. Jose is right. We compile occupancy with `-ffast-math`. I could remove it from the flags and see how it reduces the performance.

[2017-05-09 04:58] schrodinger83 commented on #313
I tried several things to solve this problem but in vain....it was working in the past...not sure what changed...i tried to install older versions (1.6) but it has the same problem

[2017-05-09 07:34] giadefa commented on #313
Hi,
we know the origin of the problem. We are waiting for the new PSI4 version
to be released to fix it.
It should be mid may.

g

On 9 May 2017 at 06:58, schrodinger83 <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%

[2017-05-09 07:35] giadefa commented on #327
significantly

On 8 May 2017 at 22:53, Stefan Doerr <notifications@github.com> wrote:

--
<http://www.acellera.com>

       <https://twitter.com/acellera>
<https://www.youtube.com/user/acelleracom>
<https://www.linkedin.com/company/2133167?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2133167%2Cidx%3A2-1-2%2CtarId%3A1448018583204%2Ctas%3Aacellera>
    <https://www.acellera.com/md-

[2017-05-09 08:49] #328 closed

[2017-05-09 08:49] stefdoerr commented on #328
Good catch. Fixed :)

[2017-05-09 11:53] j3mdamas commented on #327
The so's are compiled with a particular version of GLIBC, which is think it's different from the one on CentOS 6, no? Didn't Matt had to solve the same think for the other so's (xtc stuff)?Or is this `-ffast-math` very specific and so we are not going to be able to support it on CentOS 6?

In general, this does not break HTMD, unless someone calls it. Alberto was experiencing this because we were

[2017-05-09 11:57] stefdoerr commented on #327
Hm, so running the test outside of sphnix works fine?

[2017-05-09 12:04] j3mdamas commented on #327
no, doing `import htmd.molecule.voxeldescriptors` is sufficient for the error. What I mean is that voxeldescriptors is not imported by default and we just ran into this issue because sphinx actually tries to import everything

[2017-05-09 15:52] #119 closed

[2017-05-09 15:53] j3mdamas opened #329 "Fix MOL2write to write SYBYL atom and bond types"
From issue #119

TODOs already on the code

[2017-05-09 15:56] j3mdamas commented on #228
Waiting for mid May

[2017-05-09 15:57] j3mdamas commented on #275
Done even though without class (Stefan)

[2017-05-09 15:57] #275 closed

[2017-05-09 15:58] #282 closed

[2017-05-09 15:58] j3mdamas commented on #282
This is the new htmd installer that Matt proposed

[2017-05-09 16:02] j3mdamas commented on #285
So, htmd yesarch. Windows build on appveyor.

Let's make our tests faster

[2017-05-09 16:02] #285 closed

[2017-05-09 16:05] j3mdamas opened #330 "Make tests faster"
* Using pytest? @stefdoerr comment
* smaller and more complete data tests
* Use coverage testing

[2017-05-09 16:07] #289 closed

[2017-05-09 16:08] j3mdamas commented on #290
what's this @tonigi? do we close?

[2017-05-09 16:09] j3mdamas commented on #292
Stefan made a new Acemd3 class which fixes that problem. Still won't work for Acemd2.

[2017-05-09 16:11] j3mdamas commented on #298
I need to check the current status, after changing registration

[2017-05-09 16:14] j3mdamas commented on #304
@gerardBCN, do you know how to do this?

[2017-05-09 16:14] #316 closed

[2017-05-09 16:16] j3mdamas commented on #325
@cuzzo87 feedback stefan

[2017-05-09 16:17] #326 closed

[2017-05-09 16:20] j3mdamas commented on #327
Let's deal with this later

[2017-05-09 16:20] #327 closed

[2017-05-09 16:24] tonigi commented on #290
it's warnings from travis about obsolete or wrong syntax... we can close

[2017-05-09 16:25] #290 closed

[2017-05-10 12:15] GerardBCN commented on #304
In principle the same way as https://www.htmd.org/docs/latest/acemd.commandreference.html was generated, which, by the way, is not working. You could easily create a page with youtube video embeds, in markdown is well documented. The reason why the link is not working has something to do with the fact that iframe inside has either the wrong link or the protocol used is http instead of https. When

[2017-05-10 12:18] j3mdamas commented on #304
this is a recurring problem, but youtube.com is https, so I think it won't be a problem.

But I don't think Gianni wanted a separate page, but rather like a tab on the left of the home page? That's more fancy stuff, no?

[2017-05-10 12:19] GerardBCN commented on #304
That's what i thought: http://docs.acellera.com/acemd/commands/ is not secured, therefore not even changing it to https://docs.acellera.com/acemd/commands/ would yield any change. You should get a certificate for that page if you want to embed or simply substitute the iframe by a link, preferably with the target="_blank" directive as in:

<a href="http://docs.acellera.com/acemd/commands/" target="

[2017-05-10 12:20] GerardBCN commented on #304
You can modify the tree index somehwere in some rst file with custom links. Probably you would like a link to the acellera youtube page and that would suffice.

[2017-05-10 12:22] GerardBCN commented on #304
use always target="_blank" when linking to external page. This will force the opening of a new window.

[2017-05-10 12:27] j3mdamas commented on #304
For the acemd docs:

If it was `github.io` domain, I think I could do this: https://help.github.com/articles/securing-your-github-pages-site-with-https/. But since it's another domain, I think I need to ask Matt to enforce https on docs.acellera.com. Let's see how that goes.

For the youtube:

Can you come down and help me with it?

[2017-05-10 12:28] j3mdamas commented on #304
When you have time, of course

[2017-05-10 12:30] GerardBCN commented on #304
OK

[2017-05-10 15:53] tonigi opened #331 "Broken links in tutorials"
https://www.htmd.org/docs/latest/tutorials/protein-folding-analysis.html points to https://www.htmd.org/docs/latest/tutorials/protein-folding.py

https://www.htmd.org/docs/latest/tutorials/ligand-binding-analysis.html to https://www.htmd.org/docs/latest/tutorials/ligand-binding.py

which are missing.

[2017-05-10 16:07] j3mdamas commented on #331
@cuzzo87 I think you're able to do this

[2017-05-11 10:02] edgarsanp opened #332 "Parametrization tutorial failing"
Command used:

parameterize -m ben.mol2 -c 0 --no-esp --no-torsions -o ./param-ben-pass

Output:

Please cite HTMD: Doerr et al.(2016)JCTC,12,1845. https://dx.doi.org/10.1021/acs.jctc.6b00049

HTMD Documentation at: https://www.htmd.org/docs/latest/

You are on the latest HTMD version (1.7.31).

 === List of arguments used ===

       mol:  ben.mol2
      list:  False
    charge:  0
       rtf:  N

[2017-05-11 10:08] ferpozo6 opened #333 "PARAMATRIZE PROBLEM - babel: Illegal instruction (core dumped)"
I am trying to convert from sdf file to mol2. When I type this instruction on my command line:
`babel -isdf BEN_ideal.sdf -omol2 ben.mol2 `
the output generated is:
`Illegal instruction (core dumped)`
**and I obtain an empty file called ben.mol2**